/*If changing colors, remember to adjust them in:
manifest.webmanifest
browserconfig.xml
metatags.twig (MS Tile and theme-color)
errors\teapot.twig*/
:root {
    /*Meant for main body*/
    --color-body: hsl(256, 20%, 10%);
    /*Slightly lighter color for more elevated blocks*/
    --color-block: hsl(256, 20%, 15%);
    /*Color for blocks where readable text is meant to be*/
    --color-article: hsl(256, 20%, 20%);
    /*Color for main text*/
    --color-text: hsl(0, 20%, 95%);
    /*Color for links*/
    --color-interactive: hsl(196, 65%, 76%);
    /*Color indicating success of some action*/
    --color-success: hsl(132, 64%, 72%);
    /*Color indicating failure of some action*/
    --color-failure: hsl(344, 77%, 79%);
    /*Color indicating a warning*/
    --color-warning: hsl(43, 77%, 57%);
    /*Color for disabled elements*/
    --color-disabled: hsl(0, 0%, 50%);

    /*Borders styling*/
    --border-dark: hsl(192, 50%, 20%);
    --border-light: hsl(192, 50%, 30%);
    --border-width: 0.125rem;
    --border-radius: 0.75rem;
    --border-shadow: drop-shadow(0.05rem 0.05rem 0.1rem var(--border-light)) drop-shadow(-0.05rem -0.05rem 0.1rem var(--border-light));
    --border-color-inset: var(--border-dark) var(--border-light) var(--border-light) var(--border-dark);
    --border-color-outset: var(--border-light) var(--border-dark) var(--border-dark) var(--border-light);

    /*Sizes*/
    --footer-height: 4rem;
    --header-height: 4rem;
    --grid-gap: 1rem;
    --showpassword-width: 2.5rem;

    /*Fonts based on what StackExchange and GitHub use. Because less stuff to download in the client*/
    --font-sans: -apple-system,BlinkMacSystemFont,"Segoe UI Variable", "Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    --font-serif: Georgia,Cambria,"Times New Roman",Times,serif;
    --font-mono: ui-monospace,"Cascadia Mono","Segoe UI Mono","Liberation Mono",Menlo,Monaco,Consolas,monospace;

    /*Coordinates for cursor. Updated through JS. Stored like this to avoid inline CSS for CSP. Intentionally set to 'none' to invalidate them by default.*/
    --cursorX: none;
    --cursorY: none;
}
