.failure, .error {
    color: var(--color-failure);
    font-weight: bold;
}
.warning, .notice, .attention {
     color: var(--color-warning);
}
.success {
    color: var(--color-success);
}
.disabled, *[disabled], *[aria-disabled] {
     color: var(--color-disabled);
 }
.socialIcon {
    width: 1.25rem;
    height: 1.25rem;
    margin: 0.25rem;
}
#http_error{
    text-align: center;
}
#http_error img {
    max-width: 20rem;
    max-height: 20rem;
}
