::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--color-article);
    border-radius: var(--border-radius);
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.45rem hsla(0, 0%, 0%, 0.3);
    border-radius: var(--border-radius);
    background-color: var(--color-article);
}
::-webkit-scrollbar-track-piece {
    box-shadow: inset 0 0 0.45rem hsla(0, 0%, 0%, 0.3);
    border-radius: var(--border-radius);
    background-color: var(--color-article);
    border-style: solid;
    border-bottom-color: var(--border-light);
    border-right-color: var(--border-light);
    border-top-color: var(--border-dark);
    border-left-color: var(--border-dark);
}
::-webkit-scrollbar-corner {
    background-color: var(--color-block);
}
::-webkit-resizer {
    background-color: var(--color-article);
    color: var(--color-interactive);
    background-image: linear-gradient(135deg, var(--color-interactive) 16.67%, var(--color-block) 16.67%, var(--color-block) 50%, var(--color-interactive) 50%, var(--color-interactive) 66.67%, var(--color-block) 66.67%, var(--color-block) 100%);
    background-size: 0.7rem 0.7rem;
}

/*Thumb*/
::-webkit-scrollbar-thumb {
    background-color: var(--color-body);
    border-style: solid;
    border-bottom-color: var(--border-light);
    border-right-color: var(--border-light);
    border-top-color: var(--border-dark);
    border-left-color: var(--border-dark);
    border-radius: var(--border-radius);
}
::-webkit-scrollbar-thumb:hover {
    border-color: var(--color-interactive);
    background-color: var(--color-block);
}
::-webkit-scrollbar-thumb:active {
    border-color: var(--color-interactive);
    background-color: var(--color-article);
}

/*Buttons*/
::-webkit-scrollbar-button {
    background-color: var(--color-block);
    color: var(--color-interactive);
    border-style: solid;
    border-color: var(--color-interactive);
    background-repeat: no-repeat;
}
/* Up */
::-webkit-scrollbar-button:vertical:decrement {
    border-width: 0 0.5rem 1rem 0.5rem;
    border-color: transparent transparent var(--color-interactive) transparent;
}
::-webkit-scrollbar-button:vertical:decrement:hover {
    border-color: transparent transparent var(--color-interactive) transparent;
}
/* Down */
::-webkit-scrollbar-button:vertical:increment
{
    border-width: 1rem 0.5rem 0 0.5rem;
    border-color: var(--color-interactive) transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:increment:hover
{
    border-color: var(--color-interactive) transparent transparent transparent;
}
/* Left */
::-webkit-scrollbar-button:horizontal:decrement {
    border-width: 0.5rem 1rem 0.5rem 0;
    border-color: transparent var(--color-interactive) transparent transparent;
}
::-webkit-scrollbar-button:horizontal:decrement:hover {
    border-color: transparent var(--color-interactive) transparent transparent;
}
/* Right */
::-webkit-scrollbar-button:horizontal:increment {
    border-width: 0.5rem 0 0.5rem 1rem;
    border-color: transparent transparent transparent var(--color-interactive);
}
::-webkit-scrollbar-button:horizontal:increment:hover {
    border-color: transparent transparent transparent var(--color-interactive);
}
/*Hide doubled buttons*/
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement
{
    display: none;
}
main::-webkit-scrollbar {
    margin-left: 2rem;
}
