progress[value],
progress:not([value]),
progress::-webkit-progress-bar,
progress::-webkit-progress-value {
    appearance: none;
    border-radius: var(--border-radius);
}
progress {
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--border-color-inset);
    height: 1.25rem;
    position: relative;
}
progress[value]::-webkit-progress-value {
    background-image: linear-gradient(to right, var(--color-failure), var(--color-success));
    transition: width 0.5s;
}
progress[value]::after {
    content: attr(value) '%';
    position: absolute;
    top: -0.25rem;
    width: inherit;
    text-align: center;
    font-weight: bold;
    color: var(--color-text);
    filter: var(--border-shadow);
}
progress::-webkit-progress-bar {
    background-color: var(--color-article);
    box-shadow: 0 0.1rem 0.3rem hsla(0, 0%, 0%, 0.25) inset;
    padding: 0.1rem;
}
progress:not([value]) {
    border-color: var(--color-disabled);
}
progress::-moz-progress-bar {
    appearance: none;
    border-radius: var(--border-radius);
    background-color: var(--color-article);
    box-shadow: 0 0.1rem 0.3rem hsla(0, 0%, 0%, 0.25) inset;
    background-image: linear-gradient(to right, var(--color-failure), var(--color-success));
}

/*Apparently due to bug (which is not considered a bug) in Chrome, when using 'appearance: none', you can no longer style the meter at all
https://bugs.chromium.org/p/chromium/issues/detail?id=632510 */
meter {
    /*appearance: none;
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--border-color-inset);*/
    height: 2rem;
    position: relative;
    -moz-user-modify: read-only;
    -webkit-user-modify: read-only;
}
meter::-webkit-meter-optimum-value,
meter::-webkit-meter-suboptimum-value,
meter::-webkit-meter-even-less-good-value {
    border-radius: var(--border-radius);
}
meter[value]::after {
    content: attr(value) attr(data-unit);
    position: absolute;
    top: 0.25rem;
    width: inherit;
    text-align: center;
    font-weight: bold;
    color: var(--color-text);
    filter: var(--border-shadow);
}
meter::-webkit-meter-bar {
    box-shadow: 0 0.1rem 0.3rem hsla(0, 0%, 0%, 0.25) inset;
    background-color: var(--color-article);
}
meter::-webkit-meter-optimum-value {
    background-image: linear-gradient(to right, white, var(--color-success), lightgreen);
}
meter::-webkit-meter-suboptimum-value {
    background-image: linear-gradient(to right, white, var(--color-warning), orange);
}
meter::-webkit-meter-even-less-good-value {
    background-image: linear-gradient(to right, white, var(--color-failure), lightcoral);
}
