#history_terms,
#history_privacy {
    margin-top: 5rem;
}
#me {
    width: 8rem;
    height: 8rem;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    margin: 1rem auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 0.5rem;
    background-color: var(--color-body);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -0.25rem;
    border-radius: var(--border-radius);
}

/* Container around content */
.timeline_block {
    position: relative;
    background-color: var(--color-block);
    width: calc(50% - 2rem);
    border-radius: var(--border-radius);
    margin: 1rem 0 1rem 0;
}

/* The circles on the timeline */
.timeline_block::after {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: -2.75rem;
    background-color: var(--color-block);
    border: 0.25rem solid var(--border-light);
    top: 1rem;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.timeline_left {
    left: 0;
}
.timeline_left time {
    text-align: right;
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
}

/* Place the container to the right */
.timeline_right {
    left: calc(50% + 2rem);
}
.timeline_right time {
    text-align: left;
    width: 100%;
    display: block;
    margin-bottom: 0.5rem;
}

.timeline_left::before,
.timeline_right::before {
    content: ' ';
    height: 0;
    position: absolute;
    top: 1rem;
    width: 0;
    z-index: 1;
}

/* Add arrows to the left container (pointing right) */
.timeline_left::before {
    right: -0.9rem;
    border-style: solid;
    border-width: .75rem 0 .75rem .75rem;
    border-color: transparent transparent transparent var(--color-text);
}

/* Add arrows to the right container (pointing left) */
.timeline_right::before {
    left: -0.9rem;
    border-style: solid;
    border-width: .75rem .75rem .75rem 0;
    border-color: transparent var(--color-text) transparent transparent;
}

/* Fix the circle for containers on the right side */
.timeline_right::after {
    left: -2.75rem;
}

/* The actual content */
.timeline_content {
    padding: 0.5rem;
    position: relative;
}
