/*Pagination styling*/
ol[id^='ol_pagination'] {
    display: block;
    margin: auto;
    text-align: center;
}
li[id^='li_pagination'] {
    display: inline-block;
}
[id^='a_pagination'] {
    display: inline-block;
    min-width: 2rem;
    height: 2rem;
    text-align: center;
    vertical-align: middle;
    line-height: 2rem;
    margin: 0.25rem;
    border-style: outset;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-color: var(--color-interactive);
    color: var(--color-interactive);
    cursor: pointer;
}
a[id^='a_pagination']:hover,
a[id^='a_pagination']:focus {
    background-color: var(--color-block);
}
.pagination_currentpage>[id^='a_pagination'] {
    border-style: inset;
    border-color: var(--color-success);
    color: var(--color-success);
    cursor: not-allowed;
}
[id^='a_pagination'][id$='prev'],
[id^='a_pagination'][id$='next'],
[id^='a_pagination'][id$='first'],
[id^='a_pagination'][id$='last'] {
    border-color: var(--color-interactive);
    color: var(--color-interactive);
    cursor: pointer;
}
span[id^='a_pagination'][id$='prev'],
span[id^='a_pagination'][id$='next'],
span[id^='a_pagination'][id$='first'],
span[id^='a_pagination'][id$='last'] {
    border-color: var(--color-disabled);
    color: var(--color-disabled);
    border-style: inset;
    cursor: not-allowed;
}
