#bicSearchLabel,
#bicSearchField {
    width: 100%;
}
#bicSearchForm {
    text-align: center;
}
.bicChain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
