/*Using em based on experiments from https://zellwk.com/blog/media-query-units/
and https://medium.com/@barrypeng6/why-should-not-use-rem-unit-in-media-query-5645d0163ce5
since they show em as most consistent*/
/*Adjust snackbars*/
@media (max-width: calc(100ch + 15rem + 1rem)) {
    .snackbar {
        width: 90vw;
    }
}
@media (min-width: calc(100ch + 15rem + 1rem)) {
    .snackbar {
        width: 75vw;
    }
    #content {
        margin-left: calc(var(--sidebar-width) + var(--sidebar-margin));
        margin-right: auto;
    }
}

@media (max-width: calc(100ch + 15rem + 1rem)) {
    #navigation {
        z-index: 3;
        display: none;
        background-color: var(--color-body);
    }
}

/*Adjust some buttons*/
@media (max-width: calc(100ch + 15rem + 1rem)) {
    nav-hide {
        position: fixed;
        left: 0;
        top: 0;
    }
}
@media (max-width: calc(100ch + 15rem + 1rem)) {
    nav-show {
        display: block;
    }
}
@media (min-width: calc(100ch + 15rem + 1rem)) {
    nav-show, nav-hide {
        display: none;
    }
}

/*Adjust sidebar*/
@media (max-width: 62em) {
    #sidebar {
        display: none;
        margin: auto;
        background-color: var(--color-body);
        height: 100vh;
        width: 100vw;
        z-index: 2;
    }
}
@media (max-width: 62em) {
    #radio_signinup br {
        display: none;
    }
}

/*Adjust header elements on smaller screens to provide more space for main content*/
@media (max-height: 20.599999em) {
    #h1div {
        width: calc(100% - 3rem);
        display: inline-block;
    }
    #header_logo {
        width: 2rem;
        display: inline-block;
        margin-top: 0.25rem;
    }
    #header_logo img {
        display: inline-block;
        left: 1rem;
        position: absolute!important;
    }
    #header_logo span {
        display: none!important;
    }
    #logoIcon {
        left: -1.25rem;
        top: -1.75rem;
    }
}
@media (max-width: 44.599999em) {
    #h1div {
        width: calc(100% - 3rem);
        display: inline-block;
    }
    #header_logo {
        width: 2rem;
        display: inline-block;
        margin-top: 0.25rem;
    }
    #header_logo img {
        display: inline-block;
        position: absolute;
        left: 1rem;
        top: -2rem;
    }
    #header_logo span {
        display: none;
    }
    #logoIcon {
        left: -1.25rem;
        top: -1.75rem;
    }
}
@media (max-width: 18.599999em) {
    #h1title {
        width: calc(100% - 3rem);
    }
}
@media (min-width: 44.599999em) {
    #header_logo img, #header_logo span {
        display: inline-block;
        position: relative;
    }
}
