/*Style password strength*/
password-strength {
    display: block;
    color: var(--color-text);
    text-align: left;
}
.password_weak,
.password_strength {
    color: var(--color-failure);
    font-weight: 400;
}
.password_medium {
    color: var(--color-warning);
    font-weight: 500;
}
.password_strong {
    color: var(--color-success);
    font-weight: 700;
}
.password_very_strong {
    font-weight: 900;
    background: linear-gradient(to bottom, hsl(41, 33%, 72%) 22%, hsl(38, 38%, 28%) 24%, hsl(41, 33%, 72%) 26%, hsl(41, 33%, 72%) 27%, hsl(45, 100%, 85%) 40%, hsl(40, 59%, 50%) 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Styling of password change*/
#password_change {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#password_change>.float_label_div {
    display: block;
}
#password_submit {
    margin-bottom: 1rem;
}

#uc_settings {
    display: block;
    text-align: center;
}

/*Set the width to be roughly the same as other inputs on UC Profile page*/
#sex_value,
#birthday_value {
    width: 11.75rem;
}
#about_value {
    width: 23.5rem;
    height: 5rem;
}
/*Set width to match file upload field*/
#new_avatar_url {
    width: 18.75rem;
}

/*Styling of FFXIV characters' page*/
#linked_characters {
    margin-top: 2rem;
}
.ff_owned_block {
    display: grid;
    grid-template-areas:
            'char groups'
}
.ff_owned_char {
    grid-area: char;
}
.ff_owned_groups {
    grid-area: groups;
}
#ff_link_user {
    text-align: center;
}

#uc_cookies_table,
#uc_sessions_table,
#uc_logs_table {
    margin-bottom: 1rem;
}
#uc_cookies_table tfoot,
#uc_sessions_table tfoot,
#uc_logs_table tfoot {
    font-weight: normal;
    font-size: smaller;
    font-style: italic;
}

#avatars_list {
    list-style-type: none;
    display:         flex;
    flex-direction:  row;
    flex-wrap:       wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 0;
}
#avatars_list .radio_and_label {
    width: 6rem;
    height: 6rem;
}
#avatars_list .avatar {
    width: 6rem;
    height: 6rem;
}
#avatars_list li {
    position: relative;
    margin: 0.5rem;
    width: 7rem;
    height: 7rem;
}
#avatars_list .delete_avatar {
    position: absolute;
    right: 0;
    top: 0;
}
#avatars_list input[type=radio]+label::before {
    content: none;
}
#avatars_list input[type=radio]:checked+label::before {
    content: none;
}
#avatars_list input[type=radio]:checked+label img {
    border-color: var(--color-success);
}
#remove_user.warning {
    color: var(--color-warning)
}
#remove_user.failure {
    color: var(--color-failure)
}

.mail_subscription:not(:checked)+label:after {
    content: 'Subscribe';
}
.mail_subscription:checked+label:after {
    content: 'Unsubscribe';
}
