<article class="article-content" lang="ru-RU">
        <h2>About</h2>
        <div>
            <p>Список Банковских Идентификационных Кодов (<i>БИК</i>) с сайта <a href="https://www.cbr.ru/mcirabis/bic/" target="_blank">Центрального Банка Российской Федерации</a> вместе с <a href="https://www.cbr.ru/analytics/?PrtId=digest" target="_blank">SWIFT</a> кодами.</p>
            <p>У сервиса есть официальный <a href="http://www.banki.ru/forum/?PAGE_NAME=read&FID=29&TID=324456" target="_blank">форум</a> на Banki.ru.</p>
        </div>
        <div>
        <br>
        <p>Используйте форму ниже для проверки ключевания счёта</p>
        <input type="text" id="bic_key" autosave="bic_key" maxlength="9" size="9" pattern="^[0-9]{9}$" placeholder="БИК">
        <input type="text" id="account_key" autosave="account_key" maxlength="20" size="20" pattern="^[0-9]{5}[0-9АВСЕНКМРТХавсенкмртх]{1}[0-9]{14}$" placeholder="Аккаунт">
        <span id="acccheckresult"></span>
        </div>
</article>
<div id="bic_searchdiv" lang="ru-RU">
    <input type="search" results=10 autosave="bicsearch" maxlength="100" id="bic_search_input" placeholder="Введите БИК, корр. счёт, имя банка или его регистрационный номер для поиска"
    {% if searchvalue is defined %}
        value="{{searchvalue}}"
    {% endif %}
    >
</div>
<div id="bic_searchlist" lang="ru-RU">
    {% if bic_error is defined %}
        <div id="bic_error">{{bic_error}}</div>
    {% endif %}
    {% if searchresult is defined %}
        {% if searchresult|length == 0 %}
            <div id="found_bics"><div>Не найдено ни одного банка. Пожалуйста, уточните поиск.</div></div>
        {% else %}
            {% if searchresult|length > maxresults %}
                <div id="found_bics"><div>{{searchresult|length}} банков найдено. Пожалуйста, уточните поиск для вывода результатов.</div>
            {% else %}
                <div id="found_bics">
                    {% for bank in searchresult %}
                        <a class="bic_search_result" href="/bictracker/bic/{{bank.VKEY|url_encode}}/{{bank.NAMEP|url_encode}}/"><img class="" src="/img/bic/{%if bank.DATEDEL%}delete{%else%}greencheck{%endif%}.png"><span>{{bank.NAMEP}}</span></a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    {%else%}
        <div id="found_bics"><b>{{bicactive}}</b> активных и <b>{{bicdeleted}}</b> закрытых кодов с <span title="Попробовать скачать более свежую библиотеку. После обновления страница обновится автоматически." id="bic_refresh">{{bicdate|date("d/m/Y")}}</span>
        <div id="bic_latest">
            <span id="bic_changed">
                <p>Последние изменённые:</p>
                {% for bank in bicchanges %}
                    {% if bank.type == 'changed' %}
                        <a class="bic_search_result" href="/bictracker/bic/{{bank.VKEY|url_encode}}/{{bank.NAMEP|url_encode}}/" title="{{bank.DT_IZM|date("d/m/Y")}}"><img class="" src="/img/bic/{%if bank.DATEDEL%}delete{%else%}greencheck{%endif%}.png"><span>{{bank.NAMEP}}</span></a>
                    {% endif %}
                {% endfor %}
            </span>
            <span id="bic_deleted">
                <p>Последние удалённые:</p>
                {% for bank in bicchanges %}
                    {% if bank.type == 'deleted' %}
                        <a class="bic_search_result" href="/bictracker/bic/{{bank.VKEY|url_encode}}/{{bank.NAMEP|url_encode}}/" title="{{bank.DATEDEL|date("d/m/Y")}}"><img class="" src="/img/bic/{%if bank.DATEDEL%}delete{%else%}greencheck{%endif%}.png"><span>{{bank.NAMEP}}</span></a>
                    {% endif %}
                {% endfor %}
            </span>
        </div></div>
    {% endif %}
</div>