{% for session in user_sessions %}
{%if loop.first%}
<table class="access_history">
    <tr>
        <td>Time</td>
        <td>IP</td>
        <td>OS</td>
        <td>OS Version</td>
        <td>OS Platform</td>
        <td>Browser</td>
        <td>Browser Version</td>
        {%if session.action%}
        <td>Action</td>
        {%endif%}
    </tr>
    {%endif%}
    <tr>
        <td>{{session.time|date("d/m/Y H:i")}}</td>
        <td>{{session.ip}}</td>
        <!-- <td>{{image_fallback(session.OS.name, 'os_icon')}}</td> -->
        <td>{{session.OS.version}}</td>
        <td>{{session.OS.platform}}</td>
        <!-- <td>{{image_fallback(session.browser.name, 'browser_icon')}}</td> -->
        <td>{{session.browser.version}}</td>
        {%if session.action%}
        <td>{{session.action}}</td>
        {%endif%}
    </tr>
    {%if loop.last%}
</table>
{%endif%}
{% endfor %}
<!--
new \Twig\TwigFunction(
        'image_fallback',
        function($name, $type = 'regular') {
            switch($type) {
                case 'browser_icon':
                    $path = '/img/'.$type.'s/'.$name.'.png';
                    break;
                case 'os_icon':
                    if ($name == 'GNU/Linux') {
                        $name = 'GNULinux';
                    } elseif ($name == 'OS/2') {
                        $name == 'OS2';
                    }
                    $path = '/img/'.$type.'s/'.$name.'.png';
                    break;
            }
            if (file_exists('.'.$path)) {
                $result = '<img class="ah_browser_icon" title="'.$name.'" src="'.$path.'">';
                return $result;
            } else {
                if ($type == 'regular') {
                    return '<img title="Image not found" src="/img/error/noimage.png">';
                } else {
                    return $name;
                }
            }
        },
        array('is_safe' => array('html'))
    )
);
-->
