<div>
{%if usercptype == 'cp' %}
    <span>Public profile</span>
{%else%}
    <span><a href="/user/{{usercp}}/">Public profile</a></span>
{%endif%}
|
{%if usercptype == 'edit' %}
    <span>Edit profile</span>
{%else%}
    <span><a href="/user/{{usercp}}/edit/">Edit profile</a></span>
{%endif%}
|
{%if usercptype == 'linkage' %}
    <span>Linkages</span>
{%else%}
    <span><a href="/user/{{usercp}}/linkages/">Linkages</a></span>
{%endif%}
|
{%if usercptype == 'accesshistory' %}
    <span>Sessions and Audit</span>
{%else%}
    <span><a href="/user/{{usercp}}/audit/">Sessions and Audit</a></span>
{%endif%}
</div>