<article class="article-content" id="user_dash">
    {%if miss_user%}
        <div class="miss_user">No or wrong user ID is provided</div>
    {%else%}
        {%if usercp%}
            {%include('user/navigation.twig') with {'usercptype': 'edit'} %}
            {%include('user/editsubcats.twig') with {'usercptype': 'settings'} %}
            <form id="cp_settings" action="/user/{{user.userid}}/settings/" method="post">
                {%if edit_result is defined%}
                    <span class="{%if edit_result%}success{%else%}error{%endif%}">Update {%if edit_result%}successful{%else%}failed{%endif%}</span>
                {%endif%}
                <p><h3>Timezone</h3>: <select name="cp_settings[cp_timezone]" id="cp_timezone" title="Timezone">
                        {% for key, timezone in timezones %}
                            <option value="{{key}}"{%if user.timezone == key%} selected{%endif%}>{{timezone.name}}</option>
                        {% endfor %}
                    </select>
                </p>
                <p><input type="submit" value="Save"><input type="reset"></p>
            </form>
        {%else%}
            {{ include('no_access.twig')}}
        {%endif%}
    {%endif%}
</article>
