<section>
    <figure>
        <a class="gallery_zoom no_new_tab_icon" href="/assets/images/supops/charts/l2.png" target="_blank">
            <img loading="lazy" decoding="async" src="/assets/images/supops/charts/l2.png" alt="Level 2" tabindex="0">
        </a>
    </figure>
    <details>
        <summary>Mermaid code</summary>
        <code>
{{ include('supops/charts/L2.mermaid') }}
        </code>
    </details>
    <br>
    <p><b>Level 2</b> follows exactly the same process, as <b>Level 1</b>, but the investigation scope is usually different, and usually does not involve direct communication with the user (although it can happen depending on the issue and internal processes). Investigations here are also more technical and require more knowledge about the product, as well as access. L2 specialists usually have skills and tools that allow them to do some debugging of the issue, and try to replicate it. They may also have generally more experience working with the product, because, for example, they present it in live demos or use it actively for customized client projects. Their knowledge is deeper than that of L1, but at the same time it is often way more specialized, especially in companies with multiple products (internal or not).</p>
    <img loading="lazy" decoding="async" class="w50pc middle block gallery_zoom" src="/assets/images/supops/memes/not_just_a_hat_rack.gif" alt="Not just a hat rack">
    <p>When we move here, it implies that issue is now an incident, that is something is, indeed, working incorrectly, and it's required to understand why. As such this level is more likely to have multiple teams in it (compared to other levels), often specializing in one specific product (if there are multiples) or aspect of one. If transfer between teams is required ticket's status should be changed back to <em>New</em> (or <em>L2 New</em>), and you should notify the user about reassignment, explaining what's happening and why. If you do not need any new information or transferring of the ticket, you most likely can resolve it already. Note, that this reassignment should not in any way reset previous history of the ticket - only the status changes. I repeat, we are <em>not</em> closing the ticket to move it to <em>New</em>.</p>
    <p>Depending on the issue the ticket may move from one team to another multiple times, but it may be a good idea to track how many transfers happen to spot cases of teams not taking responsibility. Not for the sake of punishing them, of course, but rather to detect areas that are not covered by any team at all, and then close the gap. Regardless of how many teams will look into the issue, their knowledge or access may still not be enough,</p>
    <a class="button supops_next_slide" href="/supops/l3">
        <img loading="lazy" decoding="async" src="/assets/images/supops/navigation/escalator.svg" alt="Next slide icon" class="no_tooltip">
        <span>Escalate to L3</span>
        <img loading="lazy" decoding="async" src="/assets/images/supops/navigation/escalator.svg" alt="Next slide icon" class="no_tooltip">
    </a>
</section>