<section>
    <figure>
        <a class="gallery_zoom no_new_tab_icon" href="/assets/images/supops/charts/l3.png" target="_blank">
            <img loading="lazy" decoding="async" src="/assets/images/supops/charts/l3.png" alt="Level 3" tabindex="0">
        </a>
    </figure>
    <details>
        <summary>Mermaid code</summary>
        <code>
{{ include('supops/charts/L3.mermaid') }}
        </code>
    </details>
    <br>
    <p>If the incident cannot be resolved by <b>Level 2</b>, or it has occurred multiple times (a problem), it gets escalated to <b>Level 3</b>. Unlike with previous levels this is, most likely a single team. Expertise here is both broad and deep. L3 specialists are likely to know about <strong>all</strong> interconnections of <strong>multiple</strong> products inside the company, <strong>all</strong> the dependencies, and whatnot.</p>
    <img loading="lazy" decoding="async" class="w50pc middle block gallery_zoom" src="/assets/images/supops/memes/knowledge_is_power.gif" alt="Knowledge is power">
    <p>L3 agents are most likely tinkerers. They may be able to read code and sometimes even modify it. They can have access to databases, file systems, and as such even do certain things to resolve them. It's not always a good idea, you need to carefully assess the needs of a specific product, what kind of data is stored, and what exactly you allow to L3 agents to do on live systems. Being tinkers that can also make them susceptive to involvement in nefarious activities with 3rd parties, so good security processes, proper logging and auditing are a must here.</p>
    <p>Regardless of level of access you give L3 agents, what they do should only work as a <strong>temporary</strong> workaround. Problems <strong>need</strong> to be resolved by L4, escalating to which is the only way a ticket will leave L3 besides resolution. And even if the ticket <em>is</em> resolved on L3, you still should do a root cause analysis and see if involvement from L4 is still required for a permanent solution.</p>
    <a class="button supops_next_slide" href="/supops/l4">
        <img loading="lazy" decoding="async" src="/assets/images/supops/navigation/escalator.svg" alt="Next slide icon" class="no_tooltip">
        <span>Escalate to L4</span>
        <img loading="lazy" decoding="async" src="/assets/images/supops/navigation/escalator.svg" alt="Next slide icon" class="no_tooltip">
    </a>
</section>