<p class="error">Failed login attempt detected.</p>
<p>If this was you, you can ignore this message.</p>
<p>You can also check recent security log in your profile <a rel="noopener noreferrer" href="{{ domain }}/uc/sessions">here</a>.</p>