<p class="success">Successful password change detected.</p>
<p>If this was you, you can ignore this message. If it was not you, we recommend changing your password <span class="warning">immediately</span>.</p>
<p>You can also check recent security log in your profile <a rel="noopener noreferrer" href="{{ domain }}/uc/sessions">here</a>, where you can also log out unknown sessions.</p>