<p class="error">After 5 failed login attempts, your account has been locked.</p>
<p>Visit <a rel="noopener noreferrer" href="{{ domain }}">here</a> to go through reset process. If you have an active cookie, the strikes count will reset when you open the page.</p>
<p>You can also check recent security log in your profile <a rel="noopener noreferrer" href="{{ domain }}/uc/sessions">here</a>.</p>