<section id="about_me_intro">
    <img loading="lazy" decoding="async" class="float_left gallery_zoom" id="about_me_photo" src="/resume/photo_square.jpg" alt="Me">
    <div>
        <p id="about_me_hi_there">Hi, there!</p>
        <p>My name is Dmitrii, nice to meet you!</p>
        <p>I'm an experienced tech support analyst, who recently started dabbling in game design and development.</p>
        <p>On this website you can learn more about my skills and try out some of the projects I've done. Or you can just <a href="https://www.linkedin.com/in/simbiat19/" target="_blank"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/social/linkedin.svg" alt="LinkedIn">hire</a> me.</p>
    </div>
</section>

<div class="about_h_wrapper">
    <img loading="lazy" decoding="async" class="nav_icon" alt="Skills" data-tooltip="Skills" src="/assets/images/navigation/skills.svg">
    <h2 id="skills" class="home_page block_title">Skills</h2>
</div>
<section>
    <h3>Core competencies</h3>
    <ol class="medals_list">
        <li>
            <ul class="no_margin tag_list">
                <li>Technical Support</li>
                <li>Incident Management</li>
                <li>Problem Management</li>
                <li>Quality Assurance</li>
                <li>Product Ownership</li>
                <li>Change Control</li>
                <li>Automation</li>
                <li>Storytelling</li>
                <li>Creativity</li>
            </ul>
        </li>
        <li>
            <ul class="no_margin tag_list">
                <li>Web Development</li>
                <li>Fullstack Development</li>
                <li>Business Analysis</li>
                <li>Project Management</li>
                <li>Risk Management</li>
                <li>Disaster Recovery </li>
                <li>Security</li>
                <li>Customer Success</li>
                <li>Communication</li>
                <li>Coaching</li>
            </ul>
        </li>
        <li>
            <ul class="no_margin tag_list">
                <li>Leadership</li>
                <li>Software Architecture</li>
                <li>UI/UX Design</li>
                <li>Graphics Editing</li>
                <li>Video Editing</li>
            </ul>
        </li>
    </ol>
    <h3>Languages</h3>
    <ol class="medals_list">
        <li>
            <ul class="no_margin tag_list">
                <li><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/flags/United-Kingdom.svg" alt="English">English</li>
                <li><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/flags/Russia.svg" alt="Russian">Russian</li>
                <li>PHP</li>
                <li>SQL</li>
                <li>JavaScript</li>
                <li>TypeScript</li>
                <li>HTML5</li>
                <li>CSS3</li>
            </ul>
        </li>
        <li>
            <ul class="no_margin tag_list">
                <li>VBScript</li>
                <li>VBA</li>
                <li>VB.NET</li>>
                <li>GameMaker</li>
            </ul>
        </li>
        <li>
            <ul class="no_margin tag_list">
                <li>Windows CLI</li>
                <li>PowerShell</li>
                <li>Python</li>
                <li>C#</li>
                <li>C++</li>
                <li><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/flags/Germany.svg" alt="German">German</li>
                <li><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/flags/Finland.svg" alt="Finnish">Finnish</li>
            </ul>
        </li>
    </ol>
    <h3>Tech tools and concepts</h3>
    <ol class="medals_list">
        <li>
            <ul class="no_margin tag_list">
                <li>MS Excel</li>
                <li>MS Outlook</li>
                <li>MS Word</li>
                <li>MS PowerPoint</li>
                <li>PHPStorm</li>
                <li>MySQL/MariaDB</li>
                <li>ServiceNow</li>
                <li>REST</li>
            </ul>
        </li>
        <li>
            <ul class="no_margin tag_list">
                <li>Adobe Photoshop</li>
                <li>Adobe Premiere</li>
                <li>Oracle</li>
                <li>MS SQL</li>
                <li>Windows</li>
                <li>Windows Server</li>
                <li>Jira</li>
                <li>Confluence</li>
                <li>Data Architecture</li>
            </ul>
        </li>
        <li>
            <ul class="no_margin tag_list">
                <li>Apache HTTPD</li>
                <li>LiteSpeed</li>
                <li>Caddy</li>
                <li>Microservices</li>
                <li>Agile</li>
                <li>SharePoint</li>
                <li>Docker</li>
            </ul>
        </li>
    </ol>
    <p>More on <a href="https://app.pluralsight.com/profile/Simbiat" target="_blank"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/icons/Pluralsight.svg" alt="PluralSight">PluralSight</a>.</p>
</section>

<div class="about_h_wrapper">
    <img loading="lazy" decoding="async" class="nav_icon" alt="Experience" data-tooltip="Experience" src="/assets/images/navigation/experience.svg">
    <h2 id="experience" class="home_page block_title">Experience</h2>
</div>
<section>
    <p>{{ years_of_experience }}+ years of work experience is nothing to sniff at, and potentially a lot to read about. I tried to compact it into a nice timeline, but am hiding it in case you are not ready to scroll a lot.</p>
    <details>
        <summary class="middle">I am ready, show it to me!</summary>
        {{ timeline(timeline, br_limit=6) }}
    </details>
</section>

<div class="about_h_wrapper">
    <img loading="lazy" decoding="async" class="nav_icon" alt="Projects" data-tooltip="Projects" src="/assets/images/navigation/projects.svg">
    <h2 id="projects" class="home_page block_title">Projects</h2>
</div>
<section>
    <h3>Games</h3>
    <div class="about_showcase">
        <a href="/games/jiangshi" class="about_banner no_new_tab_icon">
            <img loading="lazy" decoding="async" alt="Jiangshi" src="/assets/images/ogimages/jiangshi.png">
            <div>Jiangshi</div>
        </a>
        <a href="/games/radicalresonance" class="about_banner no_new_tab_icon">
            <img loading="lazy" decoding="async" alt="Radical Resonance" src="/assets/images/ogimages/RadicalResonance.png">
            <div>Radical Resonance</div>
        </a>
        <a href="/games/dden" class="about_banner no_new_tab_icon">
            <img loading="lazy" decoding="async" alt="Dangerous Dave: Endless Nightmare" src="/assets/images/ogimages/dden.png">
            <div>Dangerous Dave: Endless Nightmare</div>
        </a>
    </div>
    <h3>PHP</h3>
    <div class="about_showcase">
        <a href="/fftracker" class="about_banner no_new_tab_icon">
            <img loading="lazy" decoding="async" alt="Final Fantasy XIV Tracker" src="/assets/images/ogimages/fftracker.png">
            <div>Final Fantasy XIV Tracker</div>
        </a>
        <a href="/bictracker" class="about_banner no_new_tab_icon">
            <img loading="lazy" decoding="async" alt="BIC Tracker" src="/assets/images/ogimages/bictracker.png">
            <div>BIC Tracker</div>
        </a>
    </div>
    <br>
    <details>
        <summary class="right_summary"><h3 class="home_page" id="about_me_other_projects">Others</h3></summary>
        <div class="about_showcase">
            <a href="https://www.youtube.com/watch?v=Q7fN-XDUMHA&list=PL0KIME6alndX8-8yEqF0c3IbajPJDAvJt" class="about_banner no_new_tab_icon">
                <img loading="lazy" decoding="async" alt="Aqua Chronica" src="/assets/images/ogimages/aquachronica.png">
                <div>Aqua Chronica</div>
            </a>
            <a href="https://www.youtube.com/watch?v=AsCOsuaB4IE" class="about_banner no_new_tab_icon">
                <img loading="lazy" decoding="async" alt="Welcome to My Crib" src="/assets/images/ogimages/mycrib.png">
                <div>Welcome to My Crib</div>
            </a>
            <a href="/simplepages/devicedetector" class="about_banner no_new_tab_icon">
                <img loading="lazy" decoding="async" alt="Device Detector Icons" src="/assets/images/ogimages/devicedetector.png">
                <div>Device Detector Icons</div>
            </a>
            <a href="https://github.com/Simbiat" class="about_banner no_new_tab_icon">
                <img loading="lazy" decoding="async" alt="GitHub" src="/assets/images/ogimages/github.png">
                <div>GitHub</div>
            </a>
            <a href="https://codepen.io/Simbiat" class="about_banner no_new_tab_icon">
                <img loading="lazy" decoding="async" alt="Codepen" src="/assets/images/ogimages/codepen.png">
                <div>Codepen</div>
            </a>
        </div>
    </details>
</section>

<div class="about_h_wrapper">
    <img loading="lazy" decoding="async" class="nav_icon" alt="Testimonials" data-tooltip="Testimonials" src="/assets/images/navigation/testimonials.svg">
    <h2 id="testimonials" class="home_page block_title">Testimonials</h2>
</div>
<section>
    <div>
        {{ include('common/elements/carousel.twig', {'images': feedbacks}, true) }}
    </div>
</section>

<div class="about_h_wrapper">
    <img loading="lazy" decoding="async" class="nav_icon" alt="Downloads" data-tooltip="Downloads" src="/assets/images/download.svg">
    <h2 id="downloads" class="home_page block_title">Downloads</h2>
</div>
<section>
    <p>My resume can also be downloaded as <a href="/resume/Resume.pdf" download><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/icons/PDF.svg" alt="PDF">PDF</a> or <a href="/resume/Resume.docx" download><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/icons/DOCX.svg" alt="DOCX">DOCX</a>.</p>
</section>
