<section id="current_security">
    <p>While Simbiat Software and this website is, at the time of writing, a pet project, rather than business, security is important part of it with code written with security always in mind. While following good practices and security recommendations can help with making the website secure, some things can be missed. If you have encountered a [potential] security issue or vulnerability, we encourage you not to exploit it, but rather report it, so that it can be fixed.</p>
    <p>The policy applies to all domains and subdomains of *.simbiat.dev as well as <a href="https://github.com/Simbiat" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/assets/images/social/github.svg" alt="GitHub">GitHub</a> code.</p>
    <p>No actions will be taken against reporters of the vulnerabilities identified.</p>
    <p>To report potential vulnerability, please, use any of channels listed on <a href="/about/contacts" target="_self" itemprop="url"><span itemprop="name">Contacts</span></a> page. Please, include as much details about the vulnerability as possible: screenshots, videos, steps to replicate and other artifacts can help greatly in locating and fixing the issue. If vulnerability is identified in code posted on GitHub you can submit an issue there for ease of tracking.</p>
    <p>At the time this policy is active, reports are excepted only in English and Russian.</p>
    <p>Confirmed vulnerabilities may be publicly disclosed after the fix with proper identification of original reporter(s) and permanent mentions on <a href="/about/tech" target="_self" itemprop="url"><span itemprop="name">Technology</span></a> page.</p>
    <p>For security researchers we also provide <a href="/.well-known/security.txt" download>security.txt</a> file as per proposed <a href="https://securitytxt.org/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/assets/images/icons/hackerone.svg" alt="HackerOne">standard</a>. File is static except for expiration date, which takes midnight of last Monday of next month from the date of access.</p>
    <p>Here are links to external websites, that can show evaluation of some security aspects of the website:</p>
    <ul>
        <li><a href="https://www.ssllabs.com/ssltest/analyze.html?d=simbiat.dev" target="_blank"><img loading="lazy" decoding="async" src="/assets/images/tech/Qualys.svg" alt="SSL Labs" class="linkIcon">SSL Labs</a></li>
        <li><a href="https://securityheaders.com/?q=www.simbiat.dev&followRedirects=on" target="_blank"><img loading="lazy" decoding="async" src="/assets/images/tech/SecurityHeaders.webp" alt="Security Headers" class="linkIcon">Security Headers</a></li>
        <li><a href="https://hstspreload.org/?domain=www.simbiat.dev" target="_blank"><img loading="lazy" decoding="async" src="/assets/images/tech/HSTS.svg" alt="HSTS Preload" class="linkIcon">HSTS Preload</a></li>
    </ul>
</section>
<section id="history_security">
    <table>
        <caption>History of changes</caption>
        <thead>
            <tr>
                <td>Date of change</td>
                <td>Date of effect</td>
                <td>Details of change</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>October 10, 2022</td>
                <td>October 10, 2022</td>
                <td>Updated top-level domain</td>
            </tr>
            <tr>
                <td>September 12, 2022</td>
                <td>September 12, 2022</td>
                <td>Removed link to CSP Scanner, since website was retired</td>
            </tr>
            <tr>
                <td>December 12, 2021</td>
                <td>December 12, 2021</td>
                <td>Added link to SecurityHeaders check</td>
            </tr>
            <tr>
                <td>December 11, 2021</td>
                <td>December 11, 2021</td>
                <td>Added links for external scanners</td>
            </tr>
            <tr>
                <td>August 21, 2021</td>
                <td>August 21, 2021</td>
                <td>Initial implementation</td>
            </tr>
        </tbody>
    </table>
</section>
