<p>Technology used:</p>
<ul class="no_margin">
    <li>
        <a href="https://www.php.net/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/PHP.svg" alt="PHP">PHP</a>
        <ul class="no_margin">
            <li>
                <img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/symfony.webp" alt="Symfony">Symfony:
                <ul>
                    <li>
                        <a href="https://twig.symfony.com/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/twig.svg" alt="Twig">Twig</a>
                    </li>
                    <li>
                        <a href="https://github.com/symfony/html-sanitizer/" target="_blank" rel="noopener noreferrer">HTML Sanitizer</a>
                    </li>
                    <li>
                        <a href="https://github.com/symfony/mailer" target="_blank" rel="noopener noreferrer">Mailer</a>
                    </li>
                    <li>
                        <a href="https://github.com/symfony/cache" target="_blank" rel="noopener noreferrer">Cache</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="https://github.com/matomo-org/device-detector/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Matomo.svg" alt="Matomo">Device Detector</a>
            </li>
            <li>
                <a href="https://github.com/maxmind/GeoIP2-php" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/GeoIP2.webp" alt="GeoIP2">GeoIP2</a>
            </li>
            <li>
                <a href=https://github.com/tinymce/tinymce-dist" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/TinyMCE.svg" alt="TinyMCE">TinyMCE</a>
            </li>
            <li>
                <a href="https://github.com/tinify/tinify-php" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/TinyPNG.webp" alt="GeoIP2">TinyPNG</a>
            </li>
            <li>
                <a href="https://github.com/vlucas/phpdotenv" target="_blank" rel="noopener noreferrer">phpdotenv</a>
            </li>
            <li>
                <a href="https://github.com/ramsey/uuid" target="_blank" rel="noopener noreferrer">ramsey/uuid</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="https://mariadb.org/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/MariaDB.svg" alt="MariaDB">MariaDB</a> (with <a href="https://www.phpmyadmin.net/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/phpmyadmin.svg" alt="phpMyAdmin">phpMyAdmin</a>)
    </li>
    <li>
        <a href="https://frankenphp.dev/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/FrankenPHP.svg" alt="FrankenPHP">FrankenPHP</a> (<a href="https://caddyserver.com/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Caddy.svg" alt="Caddy">Caddy</a>)
    </li>
    <li>
        <a href="https://www.crowdsec.net/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/CrowdSec.svg" alt="CrowdSec">CrowdSec</a> (with <a href="https://coraza.io/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Coraza.webp" alt="Coraza">Coraza</a>)
    </li>
    <li>
        <a href="https://www.docker.com/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Docker.svg" alt="Docker">Docker</a>
    </li>
    <li>
        <a href="https://html.spec.whatwg.org/multipage/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/HTML.svg" alt="HTML">HTML5</a>
    </li>
    <li>
        <a href="https://www.w3.org/Style/CSS/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/CSS.svg" alt="CSS">CSS3</a>
    </li>
    <li>
        <a href="https://www.javascript.com/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/JavaScript.svg" alt="JavaScript">JavaScript</a>
        <ul class="no_margin">
            <li>
                <a href="https://www.tiny.cloud/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/TinyMCE.svg" alt="TinyMCE">TinyMCE</a>
            </li>
            <li>
                <a href="https://nodejs.org/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Node.js.webp" alt="Node.js">Node.js</a>
                <ul class="no_margin">
                    <li>
                        <a href="https://www.typescriptlang.org/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/TypeScript.svg" alt="TypeScript">TypeScript</a>
                    </li>
                    <li>
                        <a href="https://eslint.org" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/ESLint.webp" alt="ESLint">ESLint</a>
                    </li>
                    <li>
                        <a href="https://stylelint.io" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/StyleLint.webp" alt="StyleLint">StyleLint</a>
                    </li>
                    <li>
                        <a href="https://postcss.org" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/PostCSS.webp" alt="PostCSS">PostCSS</a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <a href="https://getcomposer.org/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/composer.svg" alt="Composer">Composer</a> (<a href="https://packagist.org/packages/simbiat/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Packagist.webp" alt="Packagist">Packagist</a>)
    </li>
    <li>
        <a href="https://www.jetbrains.com/phpstorm/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/PHPStorm.svg" alt="PHPStorm">PHPStorm</a>
    </li>
    <li>
        <a href="https://gamemaker.io/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/GameMaker.svg" alt="GameMaker">GameMaker</a>
    </li>
    <li>
        <a href="https://proton.me/mail" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Proton Mail.svg" alt="Proton Mail">Proton Mail</a>
    </li>
    <li>
        <a href="https://lumo.proton.me/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/lumo.svg" alt="Lumo">Lumo</a>
    </li>
    <li>
        <a href="https://www.netcup.com/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/netcup.webp" alt="netcup">netcup</a>
    </li>
    <li>
        <a href="https://www.hostinger.com/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Hostinger.svg" alt="Hostinger">Hostinger</a>
    </li>
    <li>
        <a href="https://letsencrypt.org" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Let's Encrypt.webp" alt="Let's Encrypt">Let's Encrypt</a>
    </li>
</ul>
<br>
<p>Resources used:</p>
<ul class="no_margin">
    <li>
        <a href="https://www.flaticon.com/authors/pixel-perfect/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Flaticon.svg" alt="Flaticon">Pixel Perfect</a>
    </li>
    <li>
        <a href="https://www.freepik.com" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Freepik.svg" alt="Flaticon">Freepik</a>
    </li>
    <li>
        <a href="https://iconscout.com/contributors/icon-54" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Iconscout.svg" alt="Iconscout">Icon 54</a>
    </li>
    <li>
        <a href="https://www.svgrepo.com/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/svgrepo.webp" alt="SVG Repo">SVG Repo</a>
    </li>
    <li>
        <a href="https://eu.finalfantasyxiv.com/lodestone/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Lodestone.webp" alt="Lodestone">Lodestone</a>
    </li>
    <li>
        <a href="https://cbr.ru/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/CBR.svg" alt="Central Bank of Russia">Центральный банк Российской Федерации</a>
    </li>
    <li>
        <a href="https://regex101.com/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Regex.svg" alt="Regex101">Regular Expressions 101</a>
    </li>
    <li>
        <a href="https://unicode-table.com/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Unicode.svg" alt="Unicode Table">Unicode Character Table</a>
    </li>
    <li>
        <a href="https://tinypng.com/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/TinyPNG.webp" alt="TinyPNG">TinyPNG</a>
    </li>
</ul>
<br>
<p>Some icons were modified or created using <a href="https://www.adobe.com/products/photoshop.html" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Photoshop.svg" alt="Adobe Photoshop">Adobe Photoshop</a> and/or <a href="https://www.adobe.com/products/illustrator.html" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Illustrator.svg" alt="Illustrator">Adobe Illustrator</a>. Some videos or animated images may have been created or edited using <a href="https://www.adobe.com/products/premiere.html" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/Premiere.svg" alt="Premiere">Adobe Premiere</a>.</p>
<p>Initial color scheme devised using <a href="https://app.contrast-finder.org/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/ContrastFinder.webp" alt="Contrast Finder">Contrast Finder</a> and <a href="https://davidmathlogic.com/colorblind/#%2317141F-%23231F2E-%232E293D-%23F5F0F0-%236FC5E6-%238AE59C-%23F3A0B6-%23E6B73F-%23808080-%231A424D-%23266373" target="_blank" rel="noopener noreferrer">Coloring for Colorblindness</a> while trying to follow <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/W3.svg" alt="W3">WCAG</a> recommendations.</p>
