{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "tsconfigRootDir": ".",
        "project": ["./Common/tsconfig.json", "./Pages/tsconfig.json"],
        "ecmaVersion": "latest"
    },
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:@typescript-eslint/strict"
    ],
    "rules": {
        "array-callback-return": ["error", { "checkForEach": true }],
        "no-await-in-loop": "error",
        "no-constant-binary-expression": "error",
        "no-constructor-return": "error",
        "no-new-native-nonconstructor": "error",
        "no-promise-executor-return": "error",
        "no-self-compare": "error",
        "no-template-curly-in-string": "error",
        "no-unmodified-loop-condition": "error",
        "no-unreachable-loop": "error",
        "no-unused-private-class-members": "error",
        "require-atomic-updates": "error",
        "accessor-pairs": ["error", { "getWithoutSet": true }],
        "arrow-body-style": ["error", "always"],
        "class-methods-use-this": "error",
        "consistent-return": "error",
        "curly": "error",
        "default-case": "error",
        "default-case-last": "error",
        "eqeqeq": "error",
        "func-names": ["error", "always"],
        "func-style": ["error", "declaration"],
        "grouped-accessor-pairs": ["error", "getBeforeSet"],
        "no-bitwise": "error",
        "no-caller": "error",
        "no-confusing-arrow": "error",
        "no-console": "error",
        "no-else-return": "error",
        "no-empty-static-block": "error",
        "no-eq-null": "error",
        "no-eval": "error",
        "no-extend-native": "error",
        "no-extra-bind": "error",
        "no-extra-label": "error",
        "no-floating-decimal": "error",
        "no-implicit-coercion": "error",
        "no-inline-comments": "error",
        "no-iterator": "error",
        "no-label-var": "error",
        "no-labels": "error",
        "no-lone-blocks": "error",
        "no-lonely-if": "error",
        "no-mixed-operators": "error",
        "no-multi-assign": "error",
        "no-multi-str": "error",
        "no-new-func": "error",
        "no-new-object": "error",
        "no-new-wrappers": "error",
        "no-octal-escape": "error",
        "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
        "no-proto": "error",
        "no-return-assign": "error",
        "no-script-url": "error",
        "no-sequences": "error",
        "no-undef-init": "error",
        "no-undefined": "error",
        "no-unneeded-ternary": "error",
        "no-useless-call": "error",
        "no-useless-computed-key": "error",
        "no-useless-concat": "error",
        "no-useless-rename": "error",
        "no-var": "error",
        "object-shorthand": "error",
        "one-var": ["error", "never"],
        "one-var-declaration-per-line": ["error", "always"],
        "operator-assignment": ["error", "always"],
        "prefer-arrow-callback": "error",
        "prefer-const": "error",
        "prefer-exponentiation-operator": "error",
        "prefer-numeric-literals": "error",
        "prefer-object-has-own": "error",
        "prefer-object-spread": "error",
        "prefer-promise-reject-errors": "error",
        "prefer-regex-literals": "error",
        "prefer-rest-params": "error",
        "prefer-spread": "error",
        "prefer-template": "error",
        "quote-props": ["error", "always"],
        "radix": "error",
        "require-unicode-regexp": "error",
        "sort-imports": "error",
        "sort-keys": "error",
        "sort-vars": "error",
        "symbol-description": "error",
        "yoda": "error",
        "array-bracket-newline": ["error", "consistent"],
        "array-element-newline": ["error", "consistent"],
        "arrow-parens": "error",
        "arrow-spacing": "error",
        "block-spacing": "error",
        "comma-style": ["error", "last"],
        "dot-location": ["error", "object"],
        "eol-last": ["error", "always"],
        "function-call-argument-newline": ["error", "consistent"],
        "generator-star-spacing": ["error", {"before": true, "after": false}],
        "jsx-quotes": ["error", "prefer-single"],
        "key-spacing": ["error", { "beforeColon": false }],
        "new-parens": "error",
        "no-multi-spaces": "error",
        "no-tabs": "error",
        "no-trailing-spaces": ["error", { "skipBlankLines": true }],
        "no-whitespace-before-property": "error",
        "object-property-newline": "error",
        "operator-linebreak": ["error", "before"],
        "rest-spread-spacing": ["error", "never"],
        "semi-spacing": ["error", {"before": false, "after": true}],
        "semi-style": ["error", "last"],
        "space-in-parens": ["error", "never"],
        "space-unary-ops": "error",
        "switch-colon-spacing": ["error", {"after": true, "before": false}],
        "template-curly-spacing": ["error", "never"],
        "template-tag-spacing": ["error", "always"],
        "wrap-regex": "error",
        "yield-star-spacing": ["error", {"before": true, "after": false}],
        //Unsure if really needed, may be removed later
        "block-scoped-var": "error",
        "consistent-this": ["error", "me"],
        "guard-for-in": "error",
        "logical-assignment-operators": ["error", "always"],
        "no-div-regex": "error",
        "no-implicit-globals": "error",
        "no-negated-condition": "error",
        "no-new": "error",
        "no-nested-ternary": "error",
        "no-param-reassign": "error",
        "no-useless-return": "error",
        "prefer-named-capture-group": "error",
        "vars-on-top": "error",
        "function-paren-newline": ["error", "multiline"],
        "newline-per-chained-call": "error",
        //TypeScript specific
        "@typescript-eslint/explicit-function-return-type": "error",
        "@typescript-eslint/explicit-member-accessibility": "error",
        "@typescript-eslint/explicit-module-boundary-types": "error",
        "@typescript-eslint/method-signature-style": ["error", "method"],
        "@typescript-eslint/no-redundant-type-constituents": "error",
        "@typescript-eslint/no-require-imports": "error",
        "@typescript-eslint/no-unnecessary-qualifier": "error",
        "@typescript-eslint/no-useless-empty-export": "error",
        "@typescript-eslint/prefer-readonly": "error",
        "@typescript-eslint/prefer-regexp-exec": "error",
        "@typescript-eslint/promise-function-async": "error",
        "@typescript-eslint/require-array-sort-compare": "error",
        "@typescript-eslint/sort-type-constituents": "error",
        "@typescript-eslint/strict-boolean-expressions": ["error"],
        "@typescript-eslint/switch-exhaustiveness-check": "error",
        //ESLint native replacements
        "no-void": "off",
        "@typescript-eslint/no-confusing-void-expression": "error",
        "default-param-last": "off",
        "@typescript-eslint/default-param-last": "error",
        "no-dupe-class-members": "off",
        "@typescript-eslint/no-dupe-class-members": "error",
        "no-invalid-this": "off",
        "@typescript-eslint/no-invalid-this": "error",
        "no-loop-func": "off",
        "@typescript-eslint/no-loop-func": "error",
        "no-shadow": "off",
        "@typescript-eslint/no-shadow": "error",
        "no-unused-expressions": "off",
        "@typescript-eslint/no-unused-expressions": "error",
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": "error",
        "no-return-await": "off",
        "@typescript-eslint/return-await": "error",
        "semi": "off",
        "@typescript-eslint/semi": "error",
        "no-array-constructor": "off",
        "@typescript-eslint/no-array-constructor": "error",
        "no-empty-function": "off",
        "@typescript-eslint/no-empty-function": "error",
        "no-extra-semi": "off",
        "@typescript-eslint/no-extra-semi": "error",
        "no-implied-eval": "off",
        "@typescript-eslint/no-implied-eval": "error",
        "require-await": "off",
        "@typescript-eslint/require-await": "error",
        "dot-notation": "off",
        "@typescript-eslint/dot-notation": "error",
        "no-throw-literal": "off",
        "@typescript-eslint/no-throw-literal": "error",
        "no-useless-constructor": "off",
        "@typescript-eslint/no-useless-constructor": "error",
        //Unsure if really needed, may be removed later
        "@typescript-eslint/consistent-type-exports": "error",
        "@typescript-eslint/consistent-type-imports": "error",
        "@typescript-eslint/prefer-enum-initializers": "error",
        //Disabling rules, since relying on IDE's functionallity, which do not trigger as much false positives in current project structure
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "off"
    }
}
