<footer>
<div id="footercontrols">
    <input id="sitemaptog" type="checkbox"><label for="sitemaptog"><div id="sitemapbutton" class="stonebutton"><i title="Sitemaps" class="fonticon-sitemap"></i></div></label>
        <div class="popup" id="sitemaplist">
            <a href="/sitemap/xml/" target="_blank"><abbr title="Extensible Markup Language">XML</abbr></a> | 
            <a href="/sitemap/html/" target="_blank"><abbr title="Hypertext Markup Language">HTML</abbr></a>
        </div>
    <input id="contacttog" type="checkbox"><label for="contacttog"><div id="contactbutton" class="stonebutton"><i title="Contacts" class="fonticon-address-card"></i></div></label>
        <div class="popup" id="contactme"><address>
            <a class="stonebutton" href="https://facebook.com/SimbiatSoftware/" title="Facebook Page" target="_blank"><i class="fonticon-facebook" aria-hidden="true"></i></a>
            <a class="stonebutton" href="https://facebook.com/simbiat19" title="Facebook Personal" target="_blank"><i class="fonticon-facebook" aria-hidden="true"></i></a>
            <a class="stonebutton" href="mailto:simbiat@outlook.com" title="E-Mail" target="_blank"><i class="fonticon-envelope" aria-hidden="true"></i></a>
            <a class="stonebutton" href="https://vk.com/simbiat19" title="VKontakte" target="_blank"><i class="fonticon-vk" aria-hidden="true"></i></a>
            <a class="stonebutton" href="https://steamcommunity.com/id/Simbiat19/" title="Steam" target="_blank"><i class="fonticon-steam" aria-hidden="true"></i></a>
            <a class="stonebutton" href="https://twitter.com/simbiat199" title="Twitter" target="_blank"><i class="fonticon-twitter" aria-hidden="true"></i></a>
            <a class="stonebutton" href="https://www.linkedin.com/in/simbiat19/" title="LinkedIn" target="_blank"><i class="fonticon-linkedin" aria-hidden="true"></i></a>
            <a class="stonebutton" href="https://www.youtube.com/channel/UCyzixPty8XEiUWC4c1jns_Q" title="Youtube" target="_blank"><i class="fonticon-youtube" aria-hidden="true"></i></a>
            <a class="stonebutton" href="https://github.com/Simbiat" title="GitHub" target="_blank"><i class="fonticon-github" aria-hidden="true"></i></a>
        </address></div>
    <input id="rsstog" type="checkbox"><label for="rsstog"><div id="rssbutton" class="stonebutton"><i title="Atom/RSS feeds" class="fonticon-rss-square"></i></div></label>
        <div class="popup" id="rsslist">
            <a href="/atom/bicchanged" title="Changed banks" target="_blank">Changed banks</a> | 
            <a href="/atom/bicdeleted" title="Deleted banks" target="_blank">Deleted banks</a>
        </div>
</div>
<div id="footer"><div class="back-to-top stonebutton"><i class="fonticon-arrow-circle-up" aria-hidden="true"></i></div>&nbsp;&copy; 2016{{ currentyear }} Dmitry Kustov All Rights Reserved&nbsp;<div class="back-to-top stonebutton"><i class="fonticon-arrow-circle-up" aria-hidden="true"></i></div></div>
</footer>