{% if 'can_post' in session_data.permissions and (not closed or 'post_in_closed' in session_data.permissions) %}
    <tab-content>
        <!--suppress HtmlUnknownAnchorTarget -->
        <a class="button" href="#post_form">New {% if type == 'Forum' %}post{% else %}comment{% endif %}</a>
    </tab-content>
{% endif %}
{% if (owned and 'edit_own_threads' in session_data.permissions) or (not owned and 'edit_others_threads' in session_data.permissions) %}
    <tab-content>
        {{ include('talks/forms/thread.twig', {'thread_edit': true}) }}
    </tab-content>
{% endif %}
{% if (type == 'Support' and (owned or (not owned and 'close_others_threads' in session_data.permissions))) or (type != 'Support' and ((owned and 'close_own_threads' in session_data.permissions) or (not owned and 'close_others_threads' in session_data.permissions))) %}
    <tab-content>
        <p>Pressing below button will {% if closed %}reopen{% else %}close{% endif %} the current thread <b class="warning">{% if closed %}allowing{% else %}preventing{% endif %}</b> users to post in it.</p>
        <input role="button" type="button" id="close_thread" value="{% if closed %}Open{% else %}Close{% endif %}" data-thread="{{ id }}">
        <img loading="lazy" decoding="async" id="thread_close_spinner" class="hidden spinner" src="/assets/images/spinner.svg" alt="{% if closed %}Reopening{% else %}Closing{% endif %} thread...">
    </tab-content>
{% endif %}
{% if 'remove_threads' in session_data.permissions %}
    <tab-content>
        {% if posts.entities %}
            <p>This thread has posts in it. Removal is not possible.</p>
        {% else %}
            <p>Pressing below button will delete the current thread completely. <b class="warning">It will not be possible to restore it</b>, so do it after a good and long thinking.</p>
            <p>If thread has a custom banner it will not be removed along with the thread. Instead, it will be removed during routine check for orphaned files, if the banner file is not linked to anything else.</p>
            <p>If deletion is successful you will be redirected to respective parent section.</p>
            <input role="button" type="button" id="delete_thread" value="Delete" data-thread="{{ id }}">
            <img loading="lazy" decoding="async" id="thread_delete_spinner" class="hidden spinner" src="/assets/images/spinner.svg" alt="Deleting thread...">
        {% endif %}
    </tab-content>
{% endif %}
