.bic_correct_key {
    color: green;
    font-weight: bold;
}
#bic_search_input,
#bic_key,
#account_key {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    width: calc(100% - 10px);
    margin: 10px 5px 10px 5px;
    text-align: center;
}
#bic_search_input::placeholder,
#bic_key::placeholder,
#account_key::placeholder {
    font-size: 100%;
    color: var(--color-interactive);
    line-height: 30px;
}
#bic_error,
#found_bics {
    padding: 5px;
    margin: 5px;
    text-align: center;
}
#bic_error,
#found_bics {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--color-chalk);
    font-size: 125%;
}
#bic_status {
    text-align: center;
}
.bic_search_result {
    display: inline-block;
    border: 1px solid var(--color-system-alt);
    text-align: center;
    vertical-align: middle;
    padding: 2px 5px 5px 31px;
    margin: 5px;
    height: 63px;
    line-height: 63px;
    width: 200px;
    position: relative;
    border-radius: 10px;
    background-color: var(--color-dark-obsidian);
    background-image: var(--img-chalkboard);
    word-break: break-word;
    word-wrap: break-word;
    overflow: hidden;
    font-size: 75%;
}
.bic_search_result>span {
    line-height: 21px;
    display: inline-block;
    vertical-align: middle;
}
.bic_search_result>img {
    width: 31px;
    height: 31px;
    margin-top: 16px;
    position: absolute;
    top: 0;
    left: 0;
}
.bic_info_sub {
    text-align:center;
    margin-top: 10px;
}
.bic_ext_icon {
    height: 30px;
    width: 30px;
}
#bic_details p {
    text-align: left!important;
}
#bic_details .bic_search_result{
    font-size: 95%!important;
}
#bic_key,
#account_key {
    width: 225px;
}
.bic_green {
    color: var(--color-interactive);
    font-weight: bold;
}
#bic_refresh {
    color: var(--color-interactive);
    cursor: pointer;
}
#bic_details h2 {
    font-size: 100%;
}
#bic_details h3 {
    display: inline-block;
    font-size: 100%;
    text-indent: 10px;
}