#fc_search_input,
#fc_member_search {
    display: block;
    height: 30px;
    line-height: 30px;
    margin: 20px auto 10px auto;
    text-align: center;
    width: 50%;
}
#ff_map_zoom {
    margin-left: 2px;
    height: 25px;
    width: 25px;
    border: 1px solid var(--color-interactive);
    border-radius: 3px;
    cursor: zoom-in;
}
#fc_search_input::placeholder,
#fc_member_search::placeholder {
    font-size: 100%;
    color: var(--color-interactive);
    line-height: 30px;
}
#ff_searchlist {
    text-align: center;
    margin-top: 10px;
}
#found_characters,
#found_companies,
#found_linkshells,
#found_pvpteams,
#found_achievements,
#ff_error {
    padding: 5px;
    margin: 5px;
    text-align: center;
    color: var(--color-system);
    font-weight: bold;
    font-style: italic;
}
#found_characters>div,
#found_companies>div,
#found_linkshells>div,
#found_pvpteams>div,
#found_achievements>div,
#ff_error {
    margin: 0 auto;
    width: -moz-fit-content;
    width: fit-content;
    color: var(--color-chalk);
    font-size: 125%;
}
#ff-Register {
    display: block;
    margin: 0 auto;
    width: 173pt;
}
#ff_error, #bic_error {color: red;}
.ff_icon {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin: 0;
}
.ff_search_result {
    display: inline-block;
    border: 1px solid var(--color-system-alt);
    text-align: center;
    vertical-align: middle;
    padding: 2px 5px 5px 42px;
    margin: 5px;
    height: 42px;
    line-height: 42px;
    width: 140px;
    position: relative;
    border-radius: 10px;
    background-color: var(--color-dark-obsidian);
    background-image: var(--img-chalkboard);
    word-break: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 90%;
}
.ff_search_result>img {
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    margin: 0;
    position: absolute;
    border-radius: 9px 0 0 9px;
    background-image: none;
}
.ff_search_result>span {
    line-height: 20px;
    display: inline-block;
}
#ff_portrait {
    display: inline-block;
    border: 1px solid var(--color-interactive);
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    width: 322px;
    height: 438px;
    position: relative;
    border-radius: 5px;
}
#ff_portrait .ff_member_back {line-height: 438px;}
#ff_portrait .ff_member_back div {
    line-height: 27px;
    display: flex;
    justify-content: center;
}
#ff_portrait .ff_member_back div span{
    display: inline-block;
    line-height: 27px;
}
#ff_portrait .ff_class_level {width: 32px;}
.ff_crafter {
    text-shadow: -1px -1px 0 rgba(65, 46, 110, 1), 1px 1px 0 rgba(65, 46, 110, 1);
    color: #6d4db8;
}
.ff_gatherer {
    text-shadow: -1px -1px 0 rgba(110, 92, 38, 0.5), 1px 1px 0 rgba(110, 92, 38, 0.5);
    color: #b89a40;
}
.ff_tank {
    text-shadow: -1px -1px 0 rgba(43, 57, 124, 1), 1px 1px 0 rgba(43, 57, 124, 1);
    color: #4257bf;
}
.ff_healer {
    text-shadow: -1px -1px 0 rgba(43, 74, 34, 1), 1px 1px 0 rgba(43, 74, 34, 1);
    color: #447436;
}
.ff_dps {
    text-shadow: -1px -1px 0 rgba(77, 35, 36, 1), 1px 1px 0 rgba(77, 35, 36, 1);
    color: #7d393a;
}
#ff_portrait .ff_class_level,#ff_portrait .ff_icon {margin: 0 5px 0 5px;}
#ff_portrait>.ff_member_back>div:nth-of-type(1) {margin-top: 15px;}
#ff_portrait_img {
    width: 320px;
    height: 436px;
    border-radius: 4px;
    background: var(--color-dark-obsidian);
}
.ff_list_member {
    display: inline-block;
    border: 1px solid var(--color-interactive);
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    width: 74px;
    height: 74px;
    position: relative;
    border-radius: 5px;
}
.ff_member_front > .avatar {
    width: 72px;
    height: 72px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
}
.ff_member_front > .ff_member_rank {
    position: absolute;
    right: 0;
    bottom: 3px;
}
.ff_member_front > .ff_sugg_over {
    position: absolute;
    left: 0;
    top: 0;
    width: 72px;
    height: 72px;
    opacity: 0.5;
}
#ff_members_list {text-align: center;}
.ff_list_level {
    border-bottom: 2px solid var(--color-system-alt);
    margin-bottom: 10px;
    color: var(--color-system);
    font-style: italic;
    position: relative;
    min-height: 15px;
    border-radius: 5pt;
}
.ff_list_level>span {
    position: absolute;
    bottom: 0;
    padding: 0 5pt 0 5pt;
}
.ff_list_level>span:nth-of-type(1) {left: 0;}
.ff_list_level>span:nth-of-type(2) {right: 0;}
.ff_member_back {
    background: var(--color-dark-obsidian);
    background-image: var(--img-chalkboard);
    background-size: contain;
    border-radius: 4px;
    color: var(--color-chalk);
    word-break: break-word;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 95%;
    line-height: 72px;
    display: none;
}
.ff_member_back>span {
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
}
.ff_member_back > .ff_member_rank {
    position: absolute;
    left: 0;
    bottom: 3px;
    transform: scaleX(-1);
    opacity: 0.5;
}
.ff_member_rank {
    width: 20px;
    height: 20px;
}
#ff-main summary, #ff_about, #bic_about, #landing_about {margin: 0 auto;}
#ff_history,
#ff_fcpermissions,
#ff_achievements,
#ff_minions,
#ff_mounts {margin-top: 15px;}
#ff_rank_history {
    margin-top: 15px;
    width: 100%;
}
#ff_ranks_chart {
    height: 200px;
    width: calc(100% - 20px);
    margin: 0 10px 0 10px;
    text-align: center;
    display: inline-block;
    left: 0;
    right: 0;
}
#ff_miss_members {
    text-align: center;
    color: var(--color-system-alt);
}
.ff_sidebar_icon {
    width: 20px;
    height: 20px;
}
.ff_sidebar_icon_border {
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-system-alt);
    border-radius: 5px;
}
.ff_collectable_icon_border {
    width: 32px;
    height: 32px;
    border: 1px solid var(--color-system-alt);
    border-radius: 5px;
}
#ff_ranks_tabs {
    position: relative;
    background: inherit;
    color: inherit;
    font-size: inherit!important;
    font-family: inherit!important;
    min-height: 400px;
    border-radius: 5px;
    border: 1px solid var(--color-system-alt)!important;
    overflow: auto;
}
#ff_ranks_tabs>.ui-tabs-nav {
    padding: 0.2em 0 0.2em 0.2em;
    border: none;
    text-align: center;
}
#ff_ranks_tabs>.ui-tabs-nav li {
    right: 0;
    border-bottom-width: 1px !important;
    border-radius: 5px;
    overflow: hidden;
    float: none !important;
    display: inline-block;
}
#ff_ranks_tabs>.ui-tabs-nav li a {
    float: right;
    width: 100%;
}
#ff_ranks_tabs>.ui-widget-content {
    background: inherit!important;
    font-size: inherit!important;
    font-family: inherit!important;
    padding-top: 0;
}
.fc_rank_perms {background: inherit!important;}
#ff_ranks_tabs>.ui-widget-header,.fc_rank_perms>.ui-widget-header {background: inherit!important;}
#ff_ranks_tabs .ui-state-default {border: 1px solid var(--color-system-alt);}
#ff_ranks_tabs .ui-state-default:hover {border: 1px solid var(--color-interactive);}
#ff_ranks_tabs .ui-state-active {border: 1px solid var(--color-interactive);}
#ff_ranks_tabs .ui-state-default,
#ff_ranks_tabs .ui-state-active {
    width: 40px;
    height: 40px;
    padding: 0!important;
    margin: 1px!important;
    background-color: inherit!important;
    background-size: contain!important;
    background-size: 44px 46px!important;
    border-radius: 5px;
    background-position: -2px -3px;
    background-image: var(--img-stone_square)!important;
}
#ff_ranks_tabs .ui-tabs-anchor {
    float: none!important;
    padding: 0!important;
    vertical-align: middle;
    line-height: 40px;
    width: 40px;
    height: 40px;
    display: inline-block;
}
.fc_rank_perms>.ui-widget-header {border:none;}
.fc_rank_perms .ui-widget-content {
    height: 100%!important;
    background: inherit!important;
    font-size: inherit!important;
    font-family: inherit!important;
}
#ff_ranks_tabs>.ui-tabs-nav,
.fc_rank_perms>.ui-tabs-nav {
    text-align: center;
    padding: 0!important;
}
.fc_rank_perms>.ui-tabs-nav li {
    display: inline-block;
    float: none!important;
    top: 0px;
    margin: 0em;
    padding-bottom: 0px;
}
input[type=checkbox][class=ff_checkbox] {display: none;}
input[type=checkbox][class=ff_checkbox] + label {
    background: url(/img/fftracker/questmarkers/071351.png);
    background-size: contain;
}
input[type=checkbox][class=ff_checkbox] + label,
input[type=checkbox][class=ff_checkbox]:checked + label {
    content: "";
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-bottom: -5px;
}
input[type=checkbox][class=ff_checkbox]:checked + label {
    background: url(/img/fftracker/questmarkers/071345.png);
    background-size: contain;
}
.ff_perm_left_div {width:50%;float:left;text-align:right;}
.ff_perm_right_div {width:50%;float:right;text-align:left;}
#ff_ranks_tabs .ui-tabs-panel,
#ff_ranks_tabs>.ui-tabs-nav {
    right: 0;
    left: 0;
}
#ff_ranks_tabs p {
    text-indent: 0;
    margin-left: 2px;
}
#ff_map_sum::marker {display: none}
#ff_map_sum {
    width: -moz-fit-content;
    width: fit-content;
    left: 0;
    right: 0;
    margin: 0 auto;
}
#ff_map_sum:after {
    background: url(/img/fftracker/maps/zoom.png);
    float:right;
    margin-left: 2px;
    background-size:contain;
    height: 20px;
    width: 20px;
    content: " ";
    border: 1px solid var(--color-interactive);
    border-radius: 3px;
}

#ff_map[open] #ff_map_sum:after {
    background: url(/img/fftracker/maps/zoom.png);
    background-size:contain;
    opacity: .4;
    border: 1px solid var(--color-system-alt);
    border-radius: 3px;
}

#ff_logo_header {
    width:90px;
    height:90px;
    position: relative;
    top: 0;
    left: 0;
}
#ff_logo_header_deleted {
    width:90px;
    height:90px;
    position: absolute;
    top: 0;
    left: 0;
}
#ff_logo_parent {
    width:90px;
    height:90px;
    position: relative;
    display: inline-block;
}
.ff_avatar_parent {
    width:40px;
    height:40px;
    display: inline-block;
    margin: 0;
    position: absolute;
    border-radius: 9px 0 0 9px;
    top: 0;
    left: 0;
}
.ff_avatar_parent>img {
    width:40px;
    height:40px;
}
.ff_avatar_deleted {
    width:64px;
    height:64px;
    position: absolute;
    top: 0;
    left: 0;
}
.ff_avatar {
    background-image: var(--img-noavatar);
    background-size: contain;
    width: 64px;
    height: 64px;
    position: relative;
    top: 0;
    left: 0;
}
#ff_deleted_notice {
    color: red;
    weight: bold;
}
#ff_logo_map {
    position: absolute;
    width: 3%;
}
#ff_logo_map>img {
    position: absolute;
    width: 100%;
    border: 1px solid var(--color-system-alt);
    border-radius: 5px;
    top: 0;
    left: 0;
    animation: shadow_pulse 2s infinite;
}
#ff_map_img {
    position: relative;
    max-width: 90%;
    transform: scale(1.5);
}
#ff_map_div {
    cursor:zoom-in;
    position:relative;
    max-width: 1134px;
    margin: 0 auto;
}
#zoomer #ff_map_div {
    cursor:zoom-in;
    position:relative;
    width: 1134px!important;
    margin: 0 auto;
}
#ff_cron_flag {
    display:none!important;
}
.ff_portait_bg {
    background-size: contain;
}
.ff_feasts_count {
    position:absolute;top:30px;right:0;color:var(--color-system-alt);font-weight:bold;
}

#ff-main h2,h3 {display:inline-block;font-size:100%;}

#ff-main {
    /*height: calc(100% - var(--height-header) - var(--height-footer));*/
    height: fit-content;
}

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.ff_tab button {
    background-color: inherit;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.ff_tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.ff_tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.ff_tabcontent {
    padding: 6px 12px;
}
[id^=ff_chart_]
{
    height: 50vh;
    width: 100%;
}
.ff_stat_title {
    margin: 10px;
}
#ff_statistics_link {
    margin: 10pt;
    display: block;
    font-weight: bold;
}
.ff_tablinks {
    font: inherit;
    overflow: visible;
    text-transform: none;
    line-height: 15pt;
    text-align: center;
    margin: 5pt;
    border: 1px solid var(--color-system-alt);
    border-color: var(--color-system-border) var(--color-system-alt) var(--color-system-alt) var(--color-system-border);
    border-radius: 5pt;
    color: var(--color-interactive);
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    background-size: contain;
    background-image: var(--img-stone_rect);
    height: 19pt;
    -webkit-text-stroke-color: darkkhaki;
    stroke-color: darkkhaki;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 1px rgba(0, 160, 165, 1), 0px 0px 1px rgba(0, 160, 165, 1);
    outline:none;
    width: -moz-fit-content;
    width: fit-content;
    min-width: 58pt;
    display: inline-block;
    vertial-align: middle;
}
.ff_tablinks:hover,
.ff_tablinks.active {
    box-shadow: 0px 0px 10px rgba(0, 160, 165, 1), 0px 0px 10px rgba(0, 160, 165, 1);
}
.ff_tablinks:active {
    transform: translateY(2px);
}
.femaleAuRa {
    background-size: contain;
    background-image: url('/img/fftracker/silhouettes/femaleAu Ra.png'), var(--img-chalkboard);
}
.femaleElezen {
    background-size: contain;
    background-image: url('/img/fftracker/silhouettes/femaleElezen.png'), var(--img-chalkboard);
}
.femaleHyur {
    background-size: contain;
    background-image: url('/img/fftracker/silhouettes/femaleHyur.png'), var(--img-chalkboard);
}
.femaleLalafell {
    background-size: contain;
    background-image: url('/img/fftracker/silhouettes/femaleLalafell.png'), var(--img-chalkboard);
}
.femaleMiqote {
    background-size: contain;
    background-image: url('/img/fftracker/silhouettes/femaleMiqo%27'te.png'), var(--img-chalkboard);
    }
    .femaleRoegadyn {
    background-size: contain;
    background-image: url('/img/fftracker/silhouettes/femaleRoegadyn.png'), var(--img-chalkboard);
}
.femaleViera {
    background-size: contain;
    background-image: url('/img/fftracker/silhouettes/femaleViera.png'), var(--img-chalkboard);
}
.maleAuRa {
    background-size: contain;
    background-image: url('/img/fftracker/silhouettes/maleAu Ra.png'), var(--img-chalkboard);
}
.maleElezen {
    background-size: contain;
    background-image: url('/img/fftracker/silhouettes/maleElezen.png'), var(--img-chalkboard);
}
.maleHrothgar {
    background-size: contain;
    background-image: url('/img/fftracker/silhouettes/maleHrothgar.png'), var(--img-chalkboard);
}
.maleHyur {
    background-size: contain;
    background-image: url('/img/fftracker/silhouettes/maleHyur.png'), var(--img-chalkboard);
}
.maleLalafell {
    background-size: contain;
    background-image: url('/img/fftracker/silhouettes/maleLalafell.png'), var(--img-chalkboard);
}
.maleMiqote {
    background-size: contain;
    background-image: url('/img/fftracker/silhouettes/maleMiqo%27'te.png'), var(--img-chalkboard);
    }
    .maleRoegadyn {
    background-size: contain;
    background-image: url('/img/fftracker/silhouettes/maleRoegadyn.png'), var(--img-chalkboard);
}
#se_copyright {
    text-align: center;
    font-size: smaller;
    margin: auto;
    padding-top: 20px;
}
.ff_bugresult {
    display: inline-block;
    margin: 5px;
}
