#ajaxloadpagestat, #ajaxloadpageanim, #ajaxcog, #ajaxfail {
    width: 40px;
    height: 30px;
}

#ajaxcog>.fonticon-cog {
    width: inherit;
    height: inherit;
}
#ajaxcog {
    width: 30px;
    height: 30px;
    top: -5px;
    left: 5px;
}

#ajaxloadpagestat {display: inline-block;}

#ajaxcog, #ajaxfail {
    color: var(--color-interactive);
    padding-top: 3px;
    display: none;
}

#ajaxfail {
    color: #F00;
    cursor: pointer;
    
}

#ajaxflipfront, #ajaxloadpageanim, #ajaxcog, #ajaxfail {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
}

#logoimg {
    margin-bottom: 5px;
    z-index: 2;
}

#logo>div {
    font-weight: bold;
    font-size: 170%;
    height: 40px;
    color: inherit;
    line-height: 40px;
    width: 260px;
    background-size: contain;
    text-shadow: -1px -1px 0 rgba(0, 100, 100, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.8);
    white-space: nowrap;
    margin: 0 auto;
}

#h1div {height: 34px;}

#h1title {
    font-size: 150%;
    width: calc(100% - 54px);
    cursor: pointer;
    padding-top: 2px;
}
#sharelist {
    top: 40px;
    min-height: 34px;
    right: 45px;
}

#sharebutton {
    position: relative;
    font-size: 150%;
    color: var(--color-interactive);
    width: 30px;
    height: 30px;
    top: -3px;
    margin-right: 10px;
    display: inline-block;
}
#sharebutton>[class^=fonticon] {vertical-align: top;}

#pagination {
    position: -webkit-sticky;
    position: sticky;
    top: 7px;
    z-index: 100;
    margin-bottom: 10px;
    left: 0;
    right: 0;
    padding-left: 15px;
}

#autoprevwarn, #autonextwarn {
    color: var(--color-interactive);
    display: none;
    position: static;
    text-align: center;
    width: 100%;
}

#autonextwarn {animation: next-page-shake 1s infinite cubic-bezier(.36,.07,.19,.97) both;}