.wysiwyg[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: inline-block; /* For Firefox */
}
.wysiwyg[contenteditable=true] {
    width: 100%;
    display: inline-block!important;
    height: 100px;
    border-radius: 0 0 5px 5px;
    outline: none;
    border: 1px solid var(--color-system-alt);
}
.wysiwyg[contenteditable=true]:focus,{
    box-shadow: 0px 0px 0px 1px #000 inset;
}
.wysiwigbuttons {padding: 0 15px 0 15px;}

select,
option,
select option:not(:checked),
input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=date],
textarea {
    width: 100%;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    border: 1px solid var(--color-system-alt);
    border-radius: 5px;
    outline: none;
    background-color: var(--color-dark-obsidian);
    background-image: var(--img-chalkboard);
    background-size: contain;
    color: var(--color-chalk);
}

#zoomer {
    display:none;
    text-align: center;
    position:fixed;
    background-color:rgba(0,0,0,0.5);
    z-index:99999;
    top:0;bottom:0;left:0;right:0;
    cursor:zoom-out!important;
}
#zoomer * {
    cursor:zoom-out!important;
}

select:focus,
input[type=date]:focus,
input[type=search]:focus,
.wysiwyg[contenteditable=true]:focus,
textarea:focus,
select:hover,
input[type=date]:hover,
input[type=search]:hover,
.wysiwyg[contenteditable=true]:hover,
textarea:hover {
    border-color: var(--color-system-border) var(--color-system-alt) var(--color-system-alt) var(--color-system-border);
    box-shadow: 1px 1px 10px rgba(0, 160, 165, 1), -1px -1px 10px rgba(0, 160, 165, 1);
}
textarea {overflow: auto;}

textarea::-webkit-resizer {
    border: 1px solid var(--color-interactive);
    background: var(--color-dark-obsidian);
    color: var(--color-dark-obsidian);
    cursor: nwse-resize;
}

input[type=date]::-ms-clear,input[type=email]::-ms-clear,input[type=text]::-ms-clear,input[type=password]::-ms-clear,input[type=search]::-ms-clear,input[type=search]::-webkit-search-cancel-button {color: var(--color-interactive);}

button {
    background-color: transparent;
    border: none;
    color: var(--color-interactive);
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.8);
    cursor: pointer;
    border-radius: 5px;
    height: 40px;
    width: 130px;
    line-height: 15px;
    font-size: 13px;
    outline: none;
    text-align: center;
    background-size: contain;
    background-image: var(--img-stone_rect);
}

#remember-me {display:none;}

#remember-me:checked+label {color: var(--color-interactive);}

#remember-me+label {color: var(--color-system-alt);}

#remember-me-lab {
    font-size: 300%;
    line-height: 24px;
    vertical-align: top;
    padding-top: 5px;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.8);
}
button,
input[type=submit],
input[type=reset] {
    margin: 5pt;
    border: 1px solid var(--color-system-alt);
    border-color: var(--color-system-border) var(--color-system-alt) var(--color-system-alt) var(--color-system-border);
    border-radius: 5pt;
    color: var(--color-interactive);
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
    background-size: contain;
    background-image: var(--img-stone_rect);
    width: 59pt;
    height: 19pt;
    -webkit-text-stroke-color: darkkhaki;
    stroke-color: darkkhaki;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 1px rgba(0, 160, 165, 1), 0px 0px 1px rgba(0, 160, 165, 1);
    outline:none;
}
button:hover,
button.active,
input[type=submit]:hover,
input[type=reset]:hover {
    box-shadow: 0px 0px 10px rgba(0, 160, 165, 1), 0px 0px 10px rgba(0, 160, 165, 1);
}
button:active,
input[type=submit]:active,
input[type=reset]:active {
  transform: translateY(2px);
}