/*Short screens*/
@media (max-height: 512px){
    #footercontrols {display: none!important;}
    footer {height: 45px;}
    main {
        height: calc(100% - var(--height-header) - 45px);
        bottom: 45px;
    }
}
/*Small screens*/
@media (max-width: 600px){
    .hide-on-small {display: none!important;}
    main {
        left: 2px;
        right: 2px;
        width: calc(100vw-4px);
    }
    #sidenav, #sidebar {
        height: calc(100% - 40px);
        top: 40px
    }
    header,footer {width: 100vw;}
    #regform-close {
        top: 40px!important;
        right: 5px!important;
    }
    [id^="a_pagination"][id$="prev"],
    [id^="a_pagination"][id$="next"] {
        display: none;
    }
}

/*Medium screens*/
@media (min-width: 601px) and (max-width: 992px){
    .hide-on-small {display: none!important;}
    #sidenav, #sidebar {
        height: calc(100% - 40px);
        padding-top: 40px;
    }
    main {
        left: 2px;
        right: 2px;
        width: calc(100vw-4px);
    }
    header,footer {width: 100vw;}
    #regform-close {
        top: 40px!important;
        right: 5px!important;
    }
}

/*Large screens*/
@media (min-width: 993px){
    main {
        left: 195px;
        right: 195px;
        width: calc(100vw - 390px);
    }
    
    #sidenav, #sidebar {padding-top: 40px;}
    
    #menuicon, #sideicon {display: none!important;}
    
    header,
    footer {
        width: calc(100vw - 195px - 195px);
        margin-left: 195px;
        margin-right: 195px;
    }
}