#sidebar {
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 2px;
    right: 0;
    height: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-word;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    z-index: 999;
    font-size: 110%;
    width: 195px;
}

.sidebar-content p {
    text-indent: 0;
    margin: 1px;
    line-height: 16px;
    border-bottom: 1px solid var(--color-system-alt);
    padding-bottom: 2px;
    margin-bottom: 2px;
}

#sidebar .article-block {margin-top: 0;width:100%}

#sidebar .article-block-name {
    padding-left: 2px;
    width: 100%;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
    text-transform: unset;
}

.sidebar-content {
    font-size: 70%;
    border: 15px solid transparent;
    -webkit-border-image: var(--img-bamboo) 15% round;
    -o-border-image: var(--img-bamboo) 15% round;
    border-image: var(--img-bamboo) 15% round;
    border-image-outset: 7px;
    background-size: contain;
    height: 140px;
    overflow-y: auto;
    height: max-content;
    text-align: center;
}
#peoplecount {
    text-align: center;
    font-size: 100%;
    height: 90px;
    line-height: 20px;
    background-size: cover;
}

#login-form {padding: 0 5px 0 5px;}

.loginph {
    background-size: contain;
    border-radius: 5px;
    display: inline-block;
    font-size: 99%;
    height: 40px;
    margin: 0 5px 5px 0;
    width: 100%;
}

#login-submit {vertical-align: top;}

#register-butt,
#register-call {
    text-align: center;
    color: var(--color-interactive);
    text-decoration: underline;
    cursor: pointer;
}
#register-call {
    width: 100%;
    height: 30px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    border: none;
    box-shadow: none;
    text-decoration: none;
}
#logout {
    font-size: 80%;
    font-style: italic;
    text-decoration: underline;
    width: 100%;
    color: var(--color-interactive);
    margin-top: 10px;
    cursor: pointer;
}
#register-form {
    vertical-align: middle;
    text-align: center;
    position:fixed;
    background-color:rgba(0,0,0,0.85);
    color: var(--color-chalk);
    z-index:99999;
    top:0;bottom:0;left:0;right:0;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#regform-close {
    color: var(--color-interactive);
    font-size: 200%;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: 0px;
}
#login-submit {
    margin: auto;
    display: block;
    font-size: 140%;
    width: 100%;
    height: 30px;
    border: none;
    box-shadow: none;
}
#new_login,
#new_password,
#new_password2,
#new_email {
    width: 200px;
    float: left;
    margin-left: calc(50% - 100px);
}
#login {
    font-size: 90%;
}
#logincheck,
#emailcheck,
#passcheck,
#passcheck2 {
    display: block;
    float: left;
    line-height: 40px;
    margin-left: 5px;
}
.sidebar-avatar {
    max-height:64px;
    max-width:64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}