#user_dash {
    text-align: center;
}
.miss_user {
    color: red;
    font-weight: bold;
}
#verify_user {
    color: var(--color-interactive);
    text-decoration: underline;
    cursor: pointer;
}
#verify_notice {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid red;
}
#activation_notice {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid green;
}
table.access_history {
    margin: 5px auto;
}
.ah_browser_icon {
    width:24px;
    height:24px;
}
#fulloutwarn {
    display: none;
}
#prelogout, #fulloutconfirm {
    cursor: pointer;
}
input[id^=cp_],
textarea[id^=cp_],
select[id^=cp_] {
    width: 120pt;
    margin-bottom: 5pt;
}
#cp_about {height: 46px;width: calc(240pt + 5px);}

input[type=checkbox][class=cp_privacy_check] {display: none;}
input[type=checkbox][class=cp_privacy_check] + label {
    background: var(--img-eye-off);
    opacity: 0.2;
    background-size: contain;
}
input[type=checkbox][class=cp_privacy_check] + label,
input[type=checkbox][class=cp_privacy_check]:checked + label {
    content: "";
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-bottom: -5px;
    cursor:pointer;
}
input[type=checkbox][class=cp_privacy_check]:checked + label {
    background: var(--img-eye);
    background-size: contain;
    opacity: 1;
}
input[type=checkbox][class=cp_birth_check] {display: none;}
input[type=checkbox][class=cp_birth_check] + label {
    background: var(--img-birthdaycake-off);
    opacity: 0.6;
    background-size: contain;
}
input[type=checkbox][class=cp_birth_check] + label,
input[type=checkbox][class=cp_birth_check]:checked + label {
    content: "";
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-bottom: -5px;
    cursor:pointer;
}
input[type=checkbox][class=cp_birth_check]:checked + label {
    background: var(--img-birthdaycake);
    background-size: contain;
    opacity: 1;
}
#cp_curpass {
    width: 200px;
}
#cp_password #new_password,
#cp_password #new_password2 {
    margin-left: calc(50% - 95px);
    margin-bottom: 5pt;
}
#cp_timezone {
    width: 350px;
}
#cp_password,
#cp_settings,
#cp_personal {
    margin-bottom:10px;
}