<div id="header_logo" title="Simbiat Software">
    <span>Simbiat</span>
    <img alt="logo" src="/img/logo.svg">
    <span>Software</span>
</div>
<div id="h1div">
    <h1 id="h1title" title="{{ h1 }}">{{ h1 }}</h1><img id="shareButton" class="hidden" alt="share page" title="Share page" src="/img/share.svg">
</div>
