<div id="hideNav"><input id="hideNavIcon" class="navIcon" alt="Close navigation" type="image" src="/img/close.svg"></div>
<div class="navElement">
    <div class="navLine" id="showSidebar">
        <a class="navItem" href="#" target="_self" itemprop="url"><img class="navIcon" alt="Login" src="/img/navigation/login.svg"><span itemprop="name">Login</span></a>
    </div>
</div>
<ul id="navList">
    <li class="navElement">
        <div class="navLine">
            <a class="navItem" href="/" target="_self" itemprop="url"><img class="navIcon" alt="Home Page" src="/img/navigation/home.svg"><span itemprop="name">Home Page</span></a>
        </div>
    </li>
    <li class="navElement">
        {% if breadcrumbs %}
            <div class="navLine navBread">
                {{ breadcrumbs|raw }}
            </div>
        {% endif %}
    </li>
    <li class="navElement">
        <div class="navLine">
            <details class="navCat" {% if service_name == 'blog' or service_name == 'forum' %}open{% endif %}>
                <summary class="rightSummary"><img class="navIcon" alt="Blog" src="/img/navigation/blog.svg"><span itemprop="name">Blog</span></summary>
                <ul>
                    <li><a class="navItem" href="/blog/" target="_self" itemprop="url"><span itemprop="name">All entries</span></a></li>
                    <li><a class="navItem" href="/blog/review/" target="_self" itemprop="url"><span itemprop="name">Reviews</span></a></li>
                    <li><a class="navItem" href="/blog/prose/" target="_self" itemprop="url"><span itemprop="name">Prose</span></a></li>
                    <li><a class="navItem" href="/blog/poem/" target="_self" itemprop="url"><span itemprop="name">Poems</span></a></li>
                </ul>
            </details>
        </div>
    </li>
    <li class="navElement">
        <div class="navLine">
            <details class="navCat" {% if service_name == 'fftracker' %}open{% endif %}>
                <summary class="rightSummary"><img class="navIcon" alt="FFXIV Tracker" src="/img/navigation/fftracker.svg"><span itemprop="name">FFXIV Tracker</span></summary>
                <ul>
                    <li{% if subservice == 'search' %} class="current"{% endif %}><a class="navItem" href="/fftracker/search/" target="_self" itemprop="url"><span itemprop="name">Search</span></a></li>
                    <li{% if subservice == 'statistics' %} class="current"{% endif %}><a class="navItem" href="/fftracker/statistics/" target="_self" itemprop="url"><span itemprop="name">Statistics</span></a></li>
                    <li{% if subservice == 'character' or subservice == 'characters' %} class="current"{% endif %}><a class="navItem" href="/fftracker/characters/" target="_self" itemprop="url"><span itemprop="name">Characters</span></a></li>
                    <li{% if subservice == 'freecompany' or subservice == 'freecompanies' %} class="current"{% endif %}><a class="navItem" href="/fftracker/freecompanies/" target="_self" itemprop="url"><span itemprop="name">Free Companies</span></a></li>
                    <li{% if subservice == 'pvpteam' or subservice == 'pvpteam' %} class="current"{% endif %}><a class="navItem" href="/fftracker/pvpteams/" target="_self" itemprop="url"><span itemprop="name">PvP Teams</span></a></li>
                    <li{% if subservice == 'linkshell' or subservice == 'linkshell' %} class="current"{% endif %}><a class="navItem" href="/fftracker/linkshells/" target="_self" itemprop="url"><span itemprop="name">Linkshells</span></a></li>
                    <li{% if subservice == 'achievement' or subservice == 'achievements' %} class="current"{% endif %}><a class="navItem" href="/fftracker/achievements/" target="_self" itemprop="url"><span itemprop="name">Achievements</span></a></li>
                </ul>
            </details>
        </div>
    </li>
    <li class="navElement" lang="ru-RU">
        <div class="navLine">
            <details class="navCat" {% if service_name == 'bictracker' %}open{% endif %}>
                <summary class="rightSummary"><img class="navIcon" alt="БИК Трекер" src="/img/navigation/bictracker.svg"><span itemprop="name">БИК Трекер</span></summary>
                <ul>
                    <li{% if subservice == 'search' or ((subservice == 'open' or subservice == 'closed') and searchvalue is defined) %} class="current"{% endif %}><a class="navItem" href="/bictracker/search/" target="_self" itemprop="url"><span itemprop="name">Поиск</span></a></li>
                    <li{% if (subservice == 'open' and searchvalue is not defined) or (subservice == 'bic' and not bicdetails.DateOut) %} class="current"{% endif %}><a class="navItem" href="/bictracker/open/" target="_self" itemprop="url"><span itemprop="name">Открытые БИК</span></a></li>
                    <li{% if (subservice == 'closed' and searchvalue is not defined) or (subservice == 'bic' and bicdetails.DateOut) %} class="current"{% endif %}><a class="navItem" href="/bictracker/closed/" target="_self" itemprop="url"><span itemprop="name">Закрытые БИК</span></a></li>
                    <li{% if subservice == 'keying' %} class="current"{% endif %}><a class="navItem" href="/bictracker/keying/" target="_self" itemprop="url"><span itemprop="name">Ключевание</span></a></li>
                </ul>
            </details>
        </div>
    </li>
    <li class="navElement">
        <div class="navLine">
            <details class="navCat" {% if service_name == 'about' %}open{% endif %}>
                <summary class="rightSummary"><img class="navIcon" alt="About" src="/img/navigation/about.svg"><span itemprop="name">About</span></summary>
                <ul>
                    <li{% if subservice == 'me' %} class="current"{% endif %}><a class="navItem" href="/about/me/" target="_self" itemprop="url"><span itemprop="name">Me</span></a></li>
                    <li{% if subservice == 'website' %} class="current"{% endif %}><a class="navItem" href="/about/website/" target="_self" itemprop="url"><span itemprop="name">Website</span></a></li>
                    <li{% if subservice == 'tech' %} class="current"{% endif %}><a class="navItem" href="/about/tech/" target="_self" itemprop="url"><span itemprop="name">Technology</span></a></li>
                    <li{% if subservice == 'resume' %} class="current"{% endif %}><a class="navItem" href="/about/resume/" target="_self" itemprop="url"><span itemprop="name">Resume</span></a></li>
                    <li{% if subservice == 'contacts' %} class="current"{% endif %}><a class="navItem" href="/about/contacts/" target="_self" itemprop="url"><span itemprop="name">Contacts</span></a></li>
                    <li{% if subservice == 'tos' %} class="current"{% endif %}><a class="navItem" href="/about/tos/" target="_self" itemprop="url"><span itemprop="name">Terms of Service</span></a></li>
                    <li{% if subservice == 'privacy' %} class="current"{% endif %}><a class="navItem" href="/about/privacy/" target="_self" itemprop="url"><span itemprop="name">Privacy Policy</span></a></li>
                    <li{% if subservice == 'security' %} class="current"{% endif %}><a class="navItem" href="/about/security/" target="_self" itemprop="url"><span itemprop="name">Security Policy</span></a></li>
                    <li{% if subservice == 'changelog' %} class="current"{% endif %}><a class="navItem" href="/about/changelog/" target="_self" itemprop="url"><span itemprop="name">Changelog</span></a></li>
                </ul>
            </details>
        </div>
    </li>
</ul>
