<ul id="navList">
    <li class="navItem">
        <div class="dropdown" aria-haspopup="true">
            <span>Blog</span>
            <div class="dropdownContent" aria-label="submenu">
                <p>Hello World!</p>
            </div>
        </div>
    </li>
    <li class="navItem">
        <div class="dropdown" aria-haspopup="true">
            <span>Tracker</span>
            <div class="dropdownContent" aria-label="submenu">
                <p>Hello World!</p>
            </div>
        </div>
    </li>
    <li class="navItem">
        <div class="dropdown" aria-haspopup="true">
            <span>Art</span>
            <div class="dropdownContent" aria-label="submenu">
                <p>Hello World!</p>
            </div>
        </div>
    </li>
    <li class="navItem">
        <div class="dropdown" aria-haspopup="true">
            <span>Tools</span>
            <div class="dropdownContent" aria-label="submenu">
                <p>Hello World!</p>
            </div>
        </div>
    </li>
    <li class="navItem">
        <div class="dropdown" aria-haspopup="true">
            <span>About</span>
            <div class="dropdownContent" aria-label="submenu">
                <p>Hello World!</p>
            </div>
        </div>
    </li>
</ul>
