<p>If required or desired you can try contacting or following me using the social media below. My level of activity varies depending on the platform, though, thus keep in mind potential delays in answer.</p>
<ul>
    <li><a href="https://discord.com/users/851693133040975882/" title="Discord" target="_blank"><img class="linkIcon" src="/img/social/discord.svg" alt="Discord">Discord</a></li>
    <li><a href="mailto:simbiat@outlook.com" title="Email" target="_blank"><img class="linkIcon" src="/img/social/email.svg" alt="Email">Email</a></li>
    <li><a href="https://facebook.com/SimbiatSoftware/" title="Facebook" target="_blank"><img class="linkIcon" src="/img/social/facebook.svg" alt="Facebook">Facebook</a></li>
    <li><a href="https://facebook.com/Simbiat19/" title="Facebook (Personal)" target="_blank"><img class="linkIcon" src="/img/social/facebook.svg" alt="Facebook">Facebook (Personal)</a></li>
    <li><a href="https://github.com/Simbiat" title="GitHub" target="_blank"><img class="linkIcon" src="/img/social/github.svg" alt="GitHub">GitHub</a></li>
    <li><a href="https://habr.com/ru/users/Simbiat/" title="Habr" target="_blank"><img class="linkIcon" src="/img/social/habr.svg" alt="Habr">Habr</a></li>
    <li><a href="https://www.instagram.com/simbiat19/" title="Instagram" target="_blank"><img class="linkIcon" src="/img/social/instagram.svg" alt="Instagram">Instagram</a></li>
    <li><a href="https://kitsu.io/users/Simbiat" title="Kitsu" target="_blank"><img class="linkIcon" src="/img/social/kitsu.svg" alt="Kitsu">Kitsu</a></li>
    <li><a href="https://www.linkedin.com/in/simbiat19/" title="LinkedIn" target="_blank"><img class="linkIcon" src="/img/social/linkedin.svg" alt="LinkedIn">LinkedIn</a></li>
    <li><a href="https://www.reddit.com/user/Simbiat19" title="Reddit" target="_blank"><img class="linkIcon" src="/img/social/reddit.svg" alt="Reddit">Reddit</a></li>
    <li><a href="skype:akuma199?chat" title="Skype" target="_blank"><img class="linkIcon" src="/img/social/skype.svg" alt="Skype">Skype</a></li>
    <li><a href="https://stackoverflow.com/users/2992851/" title="Stack Overflow" target="_blank"><img class="linkIcon" src="/img/social/stackoverflow.svg" alt="Stack Overflow">Stack Overflow</a></li>
    <li><a href="https://steamcommunity.com/id/Simbiat19" title="Steam" target="_blank"><img class="linkIcon" src="/img/social/steam.svg" alt="Steam">Steam</a></li>
    <li><a href="tg://resolve?domain=SimbiatSoftware" title="Telegram" target="_blank"><img class="linkIcon" src="/img/social/telegram.svg" alt="Telegram">Telegram</a></li>
    <li><a href="https://www.twitch.tv/simbiat19" title="Twitch" target="_blank"><img class="linkIcon" src="/img/social/twitch.svg" alt="Twitch">Twitch</a></li>
    <li><a href="https://twitter.com/simbiat199" title="Twitter" target="_blank"><img class="linkIcon" src="/img/social/twitter.svg" alt="Twitter">Twitter</a></li>
    <li><a href="https://invite.viber.com/?g2=AQBZepIl4sHyyE27AMP%2FJhSvTIhySSA5KWMcV5NczjT2EbanY0ZoNSndR3g0eJdk" title="Viber" target="_blank"><img class="linkIcon" src="/img/social/viber.svg" alt="Viber">Viber</a></li>
    <li><a href="https://vk.com/simbiat19" title="VK" target="_blank"><img class="linkIcon" src="/img/social/VK.svg" alt="VK">VKontakte</a></li>
    <li><a href="https://wa.me/79057305159" title="WhatsApp" target="_blank"><img class="linkIcon" src="/img/social/whatsapp.svg" alt="WhatsApp">WhatsApp</a></li>
    <li><a href="https://www.youtube.com/channel/UCyzixPty8XEiUWC4c1jns_Q" title="Youtube" target="_blank"><img class="linkIcon" src="/img/social/youtube.svg" alt="Youtube">Youtube</a></li>
</ul>
