<div class="clear">
    <img class="avatar float_left" id="me" src="/img/me.jpg" alt="Me">
    <p>Yes, this mug is mine.</p>
    <p>Who I am, you ask?</p>
    <p>My name is Dmitry Kustov, sometimes known as Simbiat, and I am sole owner and developer of this website you are on.</p>
    <p>Born in 1989 I hail from a small town "Moscow" somewhere in lesser known country "Russian Federation".</p>
    <p>I code in PHP and JavaScript, watch anime and TV series and play computer games. And... No idea what else you would want to know about me 😅</p>
    <p>Fun fact: my "Simbiat" alias turned out to be a female name commonly used in Africa and arabian countries. I derived it from "symbiont" (specifically those things from "Spider-Man" comics), so it felt weird, that it turned out to be a female name as well. Luckily enough it stands for <i>strong woman</i>, so I decided to keep it regardless.</p>
    <p>If you want to learn more about the website itself, check this <a href="/about/website/">section</a>. If you want to check my resume, check this <a href="/about/resume/">one</a>. If you suddenly want to know something else about me, let me know using my <a href="/about/contacts/">contacts</a>.</p>
</div>
