<section title="Informal introduction">
    <h2>Informal introduction</h2>
    <p>While my "on paper" experience is mainly application support in a bank, in reality I had to take on [portions] of other roles like developer, tester, application manager (akin to product owner), project manager, business/system analyst, security specialist, technical writer, processes architect, supplier manager and "coordinator" for different types of activities related to the above, including multi-department, multi-business and multi-country ones.</p>
    <p>I code for a hobby while posting most of my code on <a href="https://github.com/Simbiat" title="GitHub" target="_blank"><img class="linkIcon" src="/img/social/github.svg" alt="GitHub">GitHub</a>. It is mainly PHP, but you can find some code in JavaScript and Visual Basic (.NET, script and for applications).</p>
    <p>I am empathetic and analytical, which helps with understanding of the feeling of others', where they come from and what they may, potentially, want or, at least, expect. Among other things the combination of these two has found its ways into my prose (and some poems) both in Russian and English. I also have some experience in "level design", which included rooms/caves for <i>The Elder Scrolls III: Morrowind</i> and our guild house in <i>Final Fantasy XIV</i>.</p>
    <p>Besides that I got some level of skill with graphics and video editing, although it's a far cry from what professional editors have.</p>
    <p>Below you can find a more "formal" resume tailored with the help of <a href="https://www.topresume.com/" target="_blank"><img class="linkIcon" src="/img/icons/TopResume.svg" alt="TopResume">TopResume</a>.</p>
</section>
<section title="Formal resume">
    <h2>Profile</h2>
    <p>Diligent, client-oriented individual equipped with strong skills in analytics, problem-solving, coding, and programming. Experienced senior-level technical support professional with a record of achievements across project management, application, security, and business analytics. Strong negotiator, adept mentor, and reputable independent worker.</p>
    <h2>Core competencies</h2>
    <ul class="zeroMargin tagList">
        <li>Technical Support</li>
        <li>Data & Analytics</li>
        <li>Programming</li>
        <li>Fullstack Development</li>
        <li>Project Management</li>
        <li>Application Management</li>
        <li>Business Analytics</li>
        <li>System Integration</li>
    </ul>
    <h2>Technical proficiencies</h2>
    <ul class="zeroMargin tagList">
        <li>PHP</li>
        <li>SQL</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>Visual Basic</li>
        <li>CMD</li>
        <li>Adobe Photoshop</li>
        <li>Adobe Premiere</li>
        <li>IBM ConnectDirect</li>
        <li>IBM MQ</li>
        <li>SAP Business Objects</li>
        <li>MS Office</li>
    </ul>
    <p>More on <a href="https://app.pluralsight.com/profile/Simbiat" target="_blank"><img class="linkIcon" src="/img/icons/Pluralsight.svg" alt="PluralSight">PluralSight</a>.</p>
    <h2>Experience timeline</h2>
    <section id="resume_timeline" class="timeline">
        <div class="timeline_block timeline_left">
            <div class="timeline_content">
                <time datetime="2021-09-20">2021-09-20</time>
                <h3 class="zeroMargin"><i>Tier 3 Technical Support Engineer</i> at <a href="https://www.smartly.io/" target="_blank"><img class="linkIcon" src="/img/icons/Smartly.svg" alt="Smartly.io">Smartly.io</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_right">
            <div class="timeline_content">
                <time datetime="2021-07-23">2021-07-23</time>
                <h3 class="zeroMargin"><i>Senior Technical Support Analyst</i> at <a href="https://www.citibank.ru/" target="_blank"><img class="linkIcon" src="/img/icons/Citi.svg" alt="Citi">Citi</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_right">
            <div class="timeline_content">
                <time datetime="2021-12-21">2021-12-21</time>
                <h3 class="zeroMargin"><i>Student</i> at <a href="https://www.luxoft-training.ru/" target="_blank"><img class="linkIcon" src="/img/icons/Luxoft.svg" alt="Luxoft Training">Luxoft Training</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_left">
            <div class="timeline_content">
                <time datetime="2018-05-16">2018-05-16</time>
                <h3 class="zeroMargin"><i>Senior Technical Support Analyst</i> at <a href="https://www.citibank.ru/" target="_blank"><img class="linkIcon" src="/img/icons/Citi.svg" alt="Citi">Citi</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_right">
            <div class="timeline_content">
                <time datetime="2018-05-15">2018-05-15</time>
                <h3 class="zeroMargin"><i>Technical Support Analyst</i> at <a href="https://www.citibank.ru/" target="_blank"><img class="linkIcon" src="/img/icons/Citi.svg" alt="Citi">Citi</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_left">
            <div class="timeline_content">
                <time datetime="2015-09-15">2015-09-15</time>
                <h3 class="zeroMargin"><i>Technical Support Analyst</i> at <a href="https://www.citibank.ru/" target="_blank"><img class="linkIcon" src="/img/icons/Citi.svg" alt="Citi">Citi</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_right">
            <div class="timeline_content">
                <time datetime="2015-09-14">2015-09-14</time>
                <h3 class="zeroMargin"><i>Technical Support Specialist</i> at <a href="https://www.citibank.ru/" target="_blank"><img class="linkIcon" src="/img/icons/Citi.svg" alt="Citi">Citi</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_right">
            <div class="timeline_content">
                <time datetime="2011-06-16">2011-06-16</time>
                <h3 class="zeroMargin"><i>Specialist</i> at <a href="https://miem.hse.ru/" target="_blank"><img class="linkIcon" src="/img/icons/MIEM.svg" alt="Moscow Institute of Electronics and Mathematics">Moscow Institute of Electronics and Mathematics</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_right">
            <div class="timeline_content">
                <time datetime="2011-06-07">2011-06-07</time>
                <h3 class="zeroMargin"><i>Bachelor</i> at <a href="https://miem.hse.ru/" target="_blank"><img class="linkIcon" src="/img/icons/MIEM.svg" alt="Moscow Institute of Electronics and Mathematics">Moscow Institute of Electronics and Mathematics</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_left">
            <div class="timeline_content">
                <time datetime="2011-05-23">2011-05-23</time>
                <h3 class="zeroMargin"><i>Technical Support Specialist</i> at <a href="https://www.citibank.ru/" target="_blank"><img class="linkIcon" src="/img/icons/Citi.svg" alt="Citi">Citi</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_right">
            <div class="timeline_content">
                <time datetime="2011-05-20">2011-05-20</time>
                <h3 class="zeroMargin"><i>Engineer</i> at <a href="https://www.datafort.ru/" target="_blank"><img class="linkIcon" src="/img/icons/IBS.svg" alt="IBS Datafort">IBS Datafort</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_left">
            <div class="timeline_content">
                <time datetime="2009-06-04">2009-06-04</time>
                <h3 class="zeroMargin"><i>Engineer</i> at <a href="https://www.datafort.ru/" target="_blank"><img class="linkIcon" src="/img/icons/IBS.svg" alt="IBS Datafort">IBS Datafort</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_right">
            <div class="timeline_content">
                <time datetime="2011-05-20">2011-05-20</time>
                <h3 class="zeroMargin"><i>Engineer</i> at <a href="https://www.windsor.ru/" target="_blank"><img class="linkIcon" src="/img/icons/Windsor.jpg" alt="Windsor">Windsor</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_left">
            <div class="timeline_content">
                <time datetime="2009-06-04">2009-06-04</time>
                <h3 class="zeroMargin"><i>Engineer</i> at <a href="https://www.windsor.ru/" target="_blank"><img class="linkIcon" src="/img/icons/Windsor.jpg" alt="Windsor">Windsor</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_left">
            <div class="timeline_content">
                <time datetime="2008-03-27">2008-03-27</time>
                <h3 class="zeroMargin"><i>Developer</i> at <a href="https://www.simbiat.ru/" target="_blank"><img class="linkIcon" src="/img/logo.svg" alt="Simbiat Software">Simbiat Software</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_left">
            <div class="timeline_content">
                <time datetime="2006-09-01">2006-09-01</time>
                <h3 class="zeroMargin"><i>Bachelor</i> at <a href="https://miem.hse.ru/" target="_blank"><img class="linkIcon" src="/img/icons/MIEM.svg" alt="Moscow Institute of Electronics and Mathematics">Moscow Institute of Electronics and Mathematics</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_left">
            <div class="timeline_content">
                <time datetime="2005-09-01">2005-09-01</time>
                <h3 class="zeroMargin"><i>Specialist</i> at <a href="https://miem.hse.ru/" target="_blank"><img class="linkIcon" src="/img/icons/MIEM.svg" alt="Moscow Institute of Electronics and Mathematics">Moscow Institute of Electronics and Mathematics</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_right">
            <div class="timeline_content">
                <time datetime="2006-06-23">2006-06-23</time>
                <h3 class="zeroMargin"><i>Student</i> at <a href="https://sch1208uv.mskobr.ru/" target="_blank"><img class="linkIcon" src="/img/icons/1208.png" alt="School №1208">School №1208</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_left">
            <div class="timeline_content">
                <time datetime="2002-01-07">2002-01-07</time>
                <h3 class="zeroMargin"><i>Writer</i> at <a href="https://www.simbiat.ru/" target="_blank"><img class="linkIcon" src="/img/logo.svg" alt="Simbiat Software">Simbiat Software</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_left">
            <div class="timeline_content">
                <time datetime="1995-09-01">1995-09-01</time>
                <h3 class="zeroMargin"><i>Student</i> at <a href="https://sch1208uv.mskobr.ru/" target="_blank"><img class="linkIcon" src="/img/icons/1208.png" alt="School №1208">School №1208</a></h3>
                <p></p>
            </div>
        </div>
        <div class="timeline_block timeline_left">
            <div class="timeline_content">
                <time datetime="1989-05-12">1989-05-12</time>
                <h3 class="zeroMargin"><i>Human</i> on <img class="linkIcon" src="/img/icons/Earth.svg" alt="Earth">Earth</h3>
                <p></p>
            </div>
        </div>
    </section>
</section>
