<section title="Informal introduction">
    <h2>Informal introduction</h2>
    <p>While my "on paper" experience is mainly application support in a bank, in reality I had to take on [portions] of other roles like developer, tester, application manager (akin to product owner), project manager, business/system analyst, security specialist, technical writer, processes architect, supplier manager and "coordinator" for different types of activities related to the above, including multi-department, multi-business and multi-country ones.</p>
    <p>I code for a hobby while posting most of my code on <a href="https://github.com/Simbiat" title="GitHub" target="_blank"><img class="linkIcon" src="/img/social/github.svg" alt="GitHub">GitHub</a>. It is mainly PHP, but you can find some code in JavaScript and Visual Basic (.NET, script and for applications).</p>
    <p>I am empathetic and analytical, which helps with understanding of the feelings of others, where they come from and what they may, potentially, want or, at least, expect. Among other things the combination of these two has found its ways into my prose (and some poems) both in Russian and English. I also have some experience in "level design", which included rooms/caves for <i>The Elder Scrolls III: Morrowind</i> and our guild house in <i>Final Fantasy XIV</i>.</p>
    <p>Besides that I got some level of skill with graphics and video editing, although it's a far cry from what professional editors have.</p>
    <p>Below you can find a more "formal" resume tailored with the help of <a href="https://www.topresume.com/" target="_blank"><img class="linkIcon" src="/img/icons/TopResume.svg" alt="TopResume">TopResume</a>.</p>
</section>
<section title="Formal resume">
    <h2>Profile</h2>
    <p>Diligent, client-oriented individual equipped with strong skills in analytics, problem-solving, coding, and programming. Experienced senior-level technical support professional with a record of achievements across project management, application, security, and business analytics. Strong negotiator, adept mentor, and reputable independent worker.</p>
    <h2>Languages</h2>
    <ul class="zeroMargin tagList">
        <li><img class="linkIcon" src="/img/flags/Russia.svg" alt="Russian">Russian (native)</li>
        <li><img class="linkIcon" src="/img/flags/United-Kingdom.svg" alt="English">English (fluent)</li>
        <li><img class="linkIcon" src="/img/flags/Germany.svg" alt="German">German (basic at most)</li>
    </ul>
    <h2>Core competencies</h2>
    <ul class="zeroMargin tagList">
        <li>Technical Support</li>
        <li>Data & Analytics</li>
        <li>Programming</li>
        <li>Fullstack Development</li>
        <li>Project Management</li>
        <li>Application Management</li>
        <li>Business Analytics</li>
        <li>System Integration</li>
    </ul>
    <h2>Technical proficiencies</h2>
    <ul class="zeroMargin tagList">
        <li>PHP</li>
        <li>SQL</li>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>Visual Basic</li>
        <li>CMD</li>
        <li>Adobe Photoshop</li>
        <li>Adobe Premiere</li>
        <li>IBM ConnectDirect</li>
        <li>IBM MQ</li>
        <li>SAP Business Objects</li>
        <li>MS Office</li>
    </ul>
    <p>More on <a href="https://app.pluralsight.com/profile/Simbiat" target="_blank"><img class="linkIcon" src="/img/icons/Pluralsight.svg" alt="PluralSight">PluralSight</a>.</p>
    <h2>Experience timeline</h2>
    {{ timeline|raw }}
</section>
<section>
    <h2>Alternative links</h2>
    <p>My resume can be alternatively be checked on website below, but it can be outdated there.</p>
    <ul>
        <li><a href="https://www.linkedin.com/in/simbiat19/" title="LinkedIn" target="_blank"><img class="linkIcon" src="/img/social/linkedin.svg" alt="LinkedIn">LinkedIn</a></li>
        <li><a href="https://career.habr.com/simbiat/" title="Habr" target="_blank"><img class="linkIcon" src="/img/social/habr.svg" alt="Habr">Habr</a></li>
        <li><a href="https://stackoverflow.com/users/story/2992851/" title="Stack Overflow" target="_blank"><img class="linkIcon" src="/img/social/stackoverflow.svg" alt="Stack Overflow">Stack Overflow</a></li>
        <li>
            <p><img class="linkIcon" src="/img/icons/hh.ru.svg" alt="HeadHunter">hh.ru:</p>
            <ul>
                <li><a href="https://hh.ru/resume/dcd2c6feff08f4b82d0039ed1f726b55337633/" title="Middle PHP-разработчик" target="_blank">Middle PHP-разработчик</a></li>
                <li><a href="https://hh.ru/resume/f5d8e190ff02e025be0039ed1f306a6e614258/" title="Системный аналитик" target="_blank">Системный аналитик</a></li>
                <li><a href="https://hh.ru/resume/0de6b45fff082667550039ed1f72586d6a5257/" title="Технический писатель" target="_blank">Технический писатель</a></li>
                <li><a href="https://hh.ru/resume/818946e1ff08febbd10039ed1f58754a354a4b/" title="Тестировщик ПО" target="_blank">Тестировщик ПО</a></li>
                <li><a href="https://hh.ru/resume/0e5c3b94ff08fa6f8c0039ed1f453131586e59/" title="Специалист технической поддержки" target="_blank">Специалист технической поддержки</a></li>
                <li><a href="https://hh.ru/resume/a7178fb0ff050e2e320039ed1f6b4547384572/" title="Systems analyst" target="_blank">Systems analyst</a></li>
            </ul>
        </li>
    </ul>
</section>
<section>
    <h2>Downloads</h2>
    <p>My resume can be also be downloaded as:</p>
    <ul>
        <li><a href="/static/resume/Resume.pdf" title="PDF" download><img class="linkIcon" src="/img/icons/PDF.svg" alt="PDF">PDF</a></li>
        <li><a href="/static/resume/Resume.docx" title="DOCX" download><img class="linkIcon" src="/img/icons/DOCX.svg" alt="DOCX">DOCX</a></li>
    </ul>
</section>
