<p>Technology used:</p>
<ul class="zeroMargin">
    <li><a href="https://www.php.net/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/PHP.svg" alt="PHP">PHP</a></li>
    <li><a href="https://mariadb.org/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/MariaDB.svg" alt="MariaDB">MariaDB</a></li>
    <li><a href="https://store.litespeedtech.com/store/aff.php?aff=1965" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/LiteSpeed.svg" alt="LiteSpeed">LiteSpeed</a></li>
    <li><a href="https://httpd.apache.org/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/Apache.svg" alt="Apache">Apache HTTP Server</a></li>
    <li><a href="https://html.spec.whatwg.org/multipage/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/HTML.svg" alt="HTML">HTML5</a></li>
    <li><a href="https://www.w3.org/Style/CSS/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/CSS.svg" alt="CSS">CSS3</a></li>
    <li><a href="https://www.javascript.com/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/JavaScript.svg" alt="JavaScript">JavaScript</a></li>
    <li><a href="https://www.typescriptlang.org/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/TypeScript.svg" alt="TypeScript">TypeScript</a></li>
    <li><a href="https://www.tiny.cloud/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/tiny.svg" alt="TinyMCE">TinyMCE</a></li>
    <li><a href="https://getcomposer.org/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/composer.svg" alt="Composer">Composer</a></li>
    <li><a href="https://packagist.org/packages/simbiat/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/Packagist.webp" alt="Packagist">Packagist</a></li>
    <li><a href="https://filezilla-project.org/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/FileZilla.svg" alt="FileZilla">FileZilla</a></li>
    <li><a href="https://www.jetbrains.com/phpstorm/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/PHPStorm.svg" alt="PHPStorm">PHPStorm</a></li>
    <li><a href="https://www.phpmyadmin.net/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/phpmyadmin.svg" alt="phpMyAdmin">phpMyAdmin</a></li>
    <li><a href="https://gamemaker.io/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/GameMaker.svg" alt="GameMaker">GameMaker</a></li>
</ul>
<br>
<p>PHP libraries used:</p>
<ul class="zeroMargin">
    <li>
        <img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/symfony.webp" alt="Symfony">Symfony:
        <ul>
            <li><a href="https://twig.symfony.com/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/twig.svg" alt="Twig">Twig</a></li>
            <li><a href="https://github.com/symfony/html-sanitizer/" target="_blank">HTML Sanitizer</a></li>
        </ul>
    </li>
    <li><a href="https://sendgrid.com/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/SendGrid.svg" alt="SendGrid">SendGrid</a></li>
    <li><a href="https://github.com/matomo-org/device-detector/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/Matomo.svg" alt="Matomo">Device Detector</a></li>
    <li><a href="https://github.com/ipinfo/php/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/ipinfo.svg" alt="IPInfo">IPInfo</a></li>
</ul>
<br>
<p>Resources used:</p>
<ul class="zeroMargin">
    <li><a href="https://www.flaticon.com/authors/pixel-perfect/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/Flaticon.svg" alt="Flaticon">Pixel Perfect</a></li>
    <li><a href="https://www.freepik.com" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/Freepik.svg" alt="Flaticon">Freepik</a></li>
    <li><a href="https://iconscout.com/contributors/icon-54" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/Iconscout.svg" alt="Iconscout">Icon 54</a></li>
    <li><a href="https://www.svgrepo.com/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/svgrepo.webp" alt="SVG Repo">SVG Repo</a></li>
    <li><a href="https://eu.finalfantasyxiv.com/lodestone/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/Lodestone.webp" alt="Lodestone">Lodestone</a></li>
    <li><a href="https://cbr.ru/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/CBR.svg" alt="Central Bank of Russia">Центральный Банк Российской Федерации</a></li>
    <li><a href="https://regex101.com/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/Regex.svg" alt="Regex101">Regular Expressions 101</a></li>
    <li><a href="https://unicode-table.com/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/Unicode.svg" alt="Unicode Table">Unicode Character Table</a></li>
    <li><a href="https://tinypng.com/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/TinyPNG.webp" alt="TinyPNG">Tiny PNG</a></li>
</ul>
<br>
<p>Some icons were modified or created using <a href="https://www.adobe.com/products/photoshop.html" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/Photoshop.svg" alt="Adobe Photoshop">Adobe Photoshop</a> and/or <a href="https://www.adobe.com/products/illustrator.html" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/Illustrator.svg" alt="Illustrator">Adobe Illustrator</a>. Some videos or animated images may have been created or edited using <a href="https://www.adobe.com/products/premiere.html" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/Premiere.svg" alt="Premiere">Adobe Premiere</a>.</p>
<p>Initial color scheme devised using <a href="https://app.contrast-finder.org/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/ContrastFinder.webp" alt="Contrast Finder">Contrast Finder</a> and <a href="https://davidmathlogic.com/colorblind/#%2317141F-%23231F2E-%232E293D-%23F5F0F0-%236FC5E6-%238AE59C-%23F3A0B6-%23E6B73F-%23808080-%231A424D-%23266373" target="_blank">Coloring for Colorblindness</a> while trying to follow <a href="https://www.w3.org/WAI/standards-guidelines/wcag/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/tech/W3.svg" alt="W3">WCAG</a> recommendations.</p>
