<section>
    <article>
        <details {% if not subServiceName %}class="persistent" open{% endif %}>
            <summary class="rightSummary aboutSection">About</summary>
            <p>This is the section, where I host some static pages, which are expected to be always available. For now, it consists of only 1 page:</p>
            <ul>
                <li><a href="/staticpages/devicedetector/" target="_self" itemprop="url"><span itemprop="name">Device Detector</span></a></li>
            </ul>
        </details>
    </article>
    {% if subServiceName %}
        <article>
            {% if subServiceName == 'devicedetector' %}
                {{ include('staticpages/devicedetector.twig') }}
            {% endif %}
        </article>
    {% endif %}
</section>
