[submodule "lib/ArrayHelpers"]
	path = lib/ArrayHelpers
	url = https://github.com/Simbiat/ArrayHelpers
[submodule "lib/SafeFileName"]
	path = lib/SafeFileName
	url = https://github.com/Simbiat/filename-sanitizer
[submodule "lib/SandClock"]
	path = lib/SandClock
	url = https://github.com/Simbiat/sand-clock
[submodule "lib/Cron"]
	path = lib/Cron
	url = https://github.com/Simbiat/cron
[submodule "lib/http20"]
	path = lib/http20
	url = https://github.com/Simbiat/http20
[submodule "lib/CuteBytes"]
	path = lib/CuteBytes
	url = https://github.com/Simbiat/cute-bytes
[submodule "lib/array2table"]
	path = lib/array2table
	url = https://github.com/Simbiat/array2table
[submodule "lib/HTMLCache"]
	path = lib/HTMLCache
	url = https://github.com/Simbiat/HTMLCache
[submodule "lib/DDCIcons"]
	path = lib/DDCIcons
	url = https://github.com/Simbiat/DeviceDetectorIcons
[submodule "lib/BIC/Tracker"]
	path = lib/BIC/Tracker
	url = https://github.com/Simbiat/BIC-Tracker
[submodule "lib/BIC/AccountKeying"]
	path = lib/BIC/AccountKeying
	url = https://github.com/Simbiat/AccountKeying
[submodule "lib/FFXIV/Tracker"]
	path = lib/FFXIV/Tracker
	url = https://github.com/Simbiat/FFXIV-Tracker
[submodule "lib/FFXIV/Lodestone"]
	path = lib/FFXIV/Lodestone
	url = https://github.com/Simbiat/lodestone-parser
[submodule "lib/HTML/Cut"]
	path = lib/HTML/Cut
	url = https://github.com/Simbiat/htmlcut
[submodule "lib/HTML/nl2tag"]
	path = lib/HTML/nl2tag
	url = https://github.com/Simbiat/nl2tag
[submodule "lib/HTTP/SSE"]
	path = lib/HTTP/SSE
	url = https://github.com/Simbiat/sse
[submodule "lib/Database/Database"]
	path = lib/Database/Database
	url = https://github.com/Simbiat/database
[submodule "lib/Database/Pool"]
	path = lib/Database/Pool
	url = https://github.com/Simbiat/db-pool
[submodule "lib/FFXIV/PSDs"]
	path = lib/FFXIV/PSDs
	url = https://github.com/Simbiat/FFXIV-PSDs
[submodule "lib/FFXIV/Icons"]
	path = lib/FFXIV/Icons
	url = https://github.com/Simbiat/FFXIV-Icons
[submodule "lib/FFXIV/EstateMaps"]
	path = lib/FFXIV/EstateMaps
	url = https://github.com/Simbiat/ffxiv-estate-maps
[submodule "lib/FFXIV/CrestComponents"]
	path = lib/FFXIV/CrestComponents
	url = https://github.com/Simbiat/FFXIV-Crests-Components
[submodule "lib/Database/Binder"]
	path = lib/Database/Binder
	url = https://github.com/Simbiat/db-binder
[submodule "lib/Database/Manager"]
	path = lib/Database/Manager
	url = https://github.com/Simbiat/db-manager
[submodule "lib/Database/Query"]
	path = lib/Database/Query
	url = https://github.com/Simbiat/db-query
[submodule "lib/Database/Maintainer"]
	path = lib/Database/Maintainer
	url = https://github.com/Simbiat/db-maintainer
