[submodule "lib/AccountKeying"]
	path = lib/AccountKeying
	url = https://github.com/Simbiat/AccountKeying
	branch = main
[submodule "lib/array2table"]
	path = lib/array2table
	url = https://github.com/Simbiat/array2table
	branch = master
