<form role="form" id="add_section_form" name="add_section_form" autocomplete="off" class="middle">
    <input form="add_section_form" type="hidden" name="verb" value="add" required>
    <input form="add_section_form" type="hidden" name="new_section[parent_id]" value="{{ section_id }}" required>
    <div class="float_label">
        <input form="add_section_form" type="text" aria-required="true" required name="new_section[name]" id="new_section_name" placeholder="Name" spellcheck="true" inputmode="text" minlength="1" maxlength="64"{% if starting_new_blog or starting_new_changelog or starting_new_kb %} value="{{ session_data.username }}"{% endif %}>
        <label for="new_section_name">Name</label>
    </div>
    {% if starting_new_blog or starting_new_kb or starting_new_changelog %}
        <input form="add_section_form" type="hidden" name="new_section[order]" value="0" id="new_section_sequence">
    {% else %}
        <div class="float_label">
            <input form="add_section_form" type="number" inputmode="decimal" min="0" max="99" value="0" step="1" class="number_spinner" aria-required="false" name="new_section[order]" id="new_section_sequence" placeholder="Order">
            <label for="new_section_sequence">Order</label>
        </div>
    {% endif %}
    <span class="float_label">
                <input form="add_section_form" id="new_section_private" class="section_private" name="new_section[private]" type="checkbox">
                <label for="new_section_private" data-tooltip="Public sections can be viewed by anyone.<br>Private ones can be viewed only by creator and people with special permission.<br>Click to change."></label>
            </span>
    <span class="float_label">
                <input form="add_section_form" id="new_section_closed" class="section_closed" name="new_section[closed]" type="checkbox">
                <label for="new_section_closed" data-tooltip="Open sections allow posting in them.<br>Closed ones do not.<br>Click to change."></label>
            </span>
    <br>
    <div class="float_label w100pc">
        <textarea id="new_section_description" form="add_section_form" name="new_section[description]" aria-required="false" placeholder="Description" spellcheck="true" inputmode="text" minlength="0" maxlength="100"></textarea>
        <label for="new_section_description">Description</label>
    </div>
    <br>
    {% if starting_new_blog %}
        <input form="add_section_form" type="hidden" name="new_section[type]" value="2">
    {% elseif starting_new_changelog %}
        <input form="add_section_form" type="hidden" name="new_section[type]" value="4">
    {% elseif starting_new_kb %}
        <input form="add_section_form" type="hidden" name="new_section[type]" value="6">
    {% else %}
        {{ include('common/elements/selectcustom.twig', {'form_name': 'add_section_form', 'placeholder': 'Type', 'input_name': 'new_section[type]', 'items': section_types, 'required': true, 'selected': type}, with_context = false) }}
    {% endif %}
    {{ include('common/elements/imageupload.twig', {'form_name': 'add_section_form', 'placeholder': 'Custom icon', 'input_name': 'new_section[icon]', 'preview_classes': 'middle', 'required': false}, with_context = false) }}
    {% if not starting_new_blog and not starting_new_changelog and not starting_new_kb %}
        {% if 'post_scheduled' in session_data.permissions %}
            <div class="float_label">
                <input form="add_section_form" id="new_section_time" name="new_section[time]" type="datetime-local" inputmode="numeric" aria-required="false" value="0">
                <label for="new_section_time" data-tooltip="You can select a future time at which, the section and all its contents will become visible for public.<br>Leave blank, if you want it shown right now.">Schedule for</label>
            </div>
            <br>
        {% endif %}
    {% endif %}
    <input role="button" form="add_section_form" type="submit" name="new_section[submit]" id="add_section_submit" formaction="/api/talks/sections" formmethod="post" formtarget="_self" value="Add">
    <img id="add_section_spinner" class="hidden spinner" src="/assets/images/spinner.svg" alt="Creating section..." loading="lazy" decoding="async">
</form>
