<form role="form" id="addSectionForm" name="addSectionForm" autocomplete="off" class="middle">
    <input form="addSectionForm" type="hidden" name="verb" value="add" required>
    <input form="addSectionForm" type="hidden" name="newSection[parent_id]" value="{{ section_id }}" required>
    <div class="float_label_div">
        <input form="addSectionForm" type="text" aria-required="true" required name="newSection[name]" id="new_section_name" placeholder="Name" spellcheck="true" inputmode="text" minlength="1" maxlength="64"{% if startingNewBlog or startingNewChangelog or startingNewKB %} value="{{ session_data.username }}"{% endif %}>
        <label for="new_section_name">Name</label>
    </div>
    {% if startingNewBlog or startingNewKB or startingNewChangelog %}
        <input form="addSectionForm" type="hidden" name="newSection[order]" value="0" id="new_section_sequence">
    {% else %}
        <div class="float_label_div">
            <input form="addSectionForm" type="number" inputmode="decimal" min="0" max="99" value="0" step="1" class="number_spinner" aria-required="false" name="newSection[order]" id="new_section_sequence" placeholder="Order">
            <label for="new_section_sequence">Order</label>
        </div>
    {% endif %}
    <span class="radio_and_label">
                <input form="addSectionForm" id="new_section_private" class="section_private" name="newSection[private]" type="checkbox">
                <label for="new_section_private" data-tooltip="Public sections can be viewed by anyone.<br>Private ones can be viewed only by creator and people with special permission.<br>Click to change."></label>
            </span>
    <span class="radio_and_label">
                <input form="addSectionForm" id="new_section_closed" class="section_closed" name="newSection[closed]" type="checkbox">
                <label for="new_section_closed" data-tooltip="Open sections allow posting in them.<br>Closed ones do not.<br>Click to change."></label>
            </span>
    <br>
    <div class="float_label_div w100pc">
        <textarea id="new_section_description" form="addSectionForm" name="newSection[description]" aria-required="false" placeholder="Description" spellcheck="true" inputmode="text" minlength="0" maxlength="100"></textarea>
        <label for="new_section_description">Description</label>
    </div>
    <br>
    {% if startingNewBlog %}
        <input form="addSectionForm" type="hidden" name="newSection[type]" value="2">
    {% elseif startingNewChangelog %}
        <input form="addSectionForm" type="hidden" name="newSection[type]" value="4">
    {% elseif startingNewKB %}
        <input form="addSectionForm" type="hidden" name="newSection[type]" value="6">
    {% else %}
        {{ include('common/elements/selectcustom.twig', {'formName': 'addSectionForm', 'placeholder': 'Type', 'inputName': 'newSection[type]', 'items': section_types, 'required': true, 'selected': type}, with_context = false) }}
    {% endif %}
    {{ include('common/elements/imageupload.twig', {'formName': 'addSectionForm', 'placeholder': 'Custom icon', 'inputName': 'newSection[icon]', 'previewClasses': 'middle', 'required': false}, with_context = false) }}
    {% if not startingNewBlog and not startingNewChangelog and not startingNewKB %}
        {% if 'postScheduled' in session_data.permissions %}
            <div class="float_label_div">
                <input form="addSectionForm" id="new_section_time" name="newSection[time]" type="datetime-local" inputmode="numeric" aria-required="false" value="0">
                <label for="new_section_time" data-tooltip="You can select a future time at which, the section and all its contents will become visible for public.<br>Leave blank, if you want it shown right now.">Schedule for</label>
            </div>
            <br>
        {% endif %}
    {% endif %}
    <input role="button" form="addSectionForm" type="submit" name="newSection[submit]" id="addSection_submit" formaction="/api/talks/sections" formmethod="post" formtarget="_self" value="Add">
    <img id="addSection_spinner" class="hidden spinner" src="/assets/images/spinner.svg" alt="Creating section...">
</form>
