<section>
    <p>Principles are good, but they are just supports (not sure if this can be considered a pun). What they support, you ask? The workflow. Or the process. Technically, you are most likely to have multiple ones, unless you have just one product or one service, and your company is just a dozen people at best. But ideally they would still have a common core.</p>
    <p>Below you can see an example of a flow created with <a href="https://mermaid.live" target="_blank" rel="noopener noreferrer"><img loading="lazy" decoding="async" class="link_icon" src="/assets/images/tech/mermaid.svg" alt="Mermaid">Mermaid</a>, both as an image and code.</p>
    <figure>
        <a class="gallery_zoom no_new_tab_icon" href="/assets/images/supops/charts/overall.png" target="_blank">
            <img loading="lazy" decoding="async" src="/assets/images/supops/charts/overall.png" alt="Overall flow" tabindex="0">
        </a>
    </figure>
    <details>
        <summary>Mermaid code</summary>
        <code>
{{ include('supops/charts/overall.mermaid') }}
        </code>
    </details>
    <br>
    <p>While the flow should be easy to follow, it may still require some explanations, so here they are, as well. Note, that this is based on support of a software product (an application), but should be largely applicable to services, as well. This also may be deemed something like "an ideal", so not all things will always be possible or applicable in real scenarios.</p>
    <a class="button supops_next_slide" href="/supops/l0">
        <img loading="lazy" decoding="async" src="/assets/images/supops/navigation/journey.svg" alt="Next slide icon" class="no_tooltip">
        <span>Begin your journey</span>
        <img loading="lazy" decoding="async" src="/assets/images/supops/navigation/journey.svg" alt="Next slide icon" class="no_tooltip">
    </a>
</section>