<section>
    <p>Talking about SupOps on a single, low‑traffic website isn't enough. Doubly so, when the concept described is prepared by one person (with limited use of AI mostly to find potential gaps). Triply so, when I can't "implement" it in some company with ability to validate theoretical improvements. If you've read this far, perhaps, you are willing to help the cause? If yes, here's what I think is needed, in no particular order:</p>
    <ul class="suppos_list_needs">
        <li><strong>Share</strong>. Just share the pitch page with people who may be interested in reading about the concept. Where applicable use <var>#SupOps</var> hashtag (ideally using <i>CamelCase</i> for accessibility).</li>
        <li><strong>Discuss</strong>. Where you have shared it, under my own posts on social media, at forums and live events.</li>
        <li><strong>Correct</strong>. If you think that there is a mistake somewhere on the pages about the concept - let me know using <a href="/about/contacts/" target="_blank">contacts page</a> or under respective social media posts.</li>
        <li><strong>Improve</strong>. Similar to previous point, if you find that there is, perhaps, not a mistake per se, but something that can be improved, especially a gap - contact me. I am particularly interested in stuff that could be used as an open-source "Starter Kit" (AI suggests workflows for Jira and ServiceNow at least).</li>
        <li><strong>Implement</strong>. I know it can be a difficult buy-in, but if your company is already planning on revamping your tech support processes - consider applying SupOps, and contact me for any collaboration.</li>
        <li><strong>Educate</strong>. Even if you are not able to share or discuss (perhaps you are shy), let alone implement, try educating others about the concept or parts of it, for example, when onboarding new team members.</li>
        <li><strong>Develop</strong>. Or maybe you would like to make a game to promote (or just test) the concept? I have shared an idea for <a href="/talks/threads/166" target="_blank">Support from Hel</a> game about tech support, and would not mind collaborating in its creation with some game studio.</li>
    </ul>
    <p>There are, probably, other things, that are needed, but I have no idea what I am doing here, so will start with these. Because we <em>do</em> need to start <em>somewhere</em>, after all.</p>
    <p>When sharing feel free to use one of these logos:</p>
    <div>
        {{ include('common/elements/carousel.twig', {'images': {
            0: {
                'href': '/assets/images/supops/logo/rectangle_color.svg',
                'alt': 'Full logo in color',
                'caption': 'Full logo in color'
            },
            1: {
                'href': '/assets/images/supops/logo/rectangle_mono.svg',
                'alt': 'Full logo in black',
                'caption': 'Full logo in black'
            },
            2: {
                'href': '/assets/images/supops/logo/square_color.svg',
                'alt': 'Square logo in color',
                'caption': 'Square logo in color'
            },
            3: {
                'href': '/assets/images/supops/logo/square_mono.svg',
                'alt': 'Square logo in black',
                'caption': 'Square logo in black'
            }
            4: {
                'href': '/assets/images/supops/logo/LinkedIn/Banner.png',
                'alt': 'Banner for LinkedIn',
                'caption': 'Banner for LinkedIn'
            }
            5: {
                'href': '/assets/images/supops/logo/LinkedIn/Avatar.png',
                'alt': 'Avatar for LinkedIn',
                'caption': 'Avatar for LinkedIn'
            }
        }
        }, true) }}
    </div>
</section>