<section>
    <p>The solution I propose is called <i>SupOps</i>.</p>
    <p>If you have worked in/with tech for some time the name probably reminded you of another framework called <i>DevOps</i>. This is intentional. The concept suggested on following pages is not something completely new. Big (and mature) organizations already have processes that help maintain a certain level of quality of support. There are pre-existing frameworks and methodologies like ITIL, SRE, Customer Success, Kaizen, etc., that each share something similar with what I am suggesting here. But these methodologies are often perceived as separate ones. In fact, it's not uncommon for some to say that DevOps and ITIL do not mix together, which is simply not true.</p>
    <p>DevOps was an inspiration because it solved a similar problem: showing how investing into good practices and good processes in product development pipeline improves the product, and as result brings more money in the long run. Or at least increases potential of that, if applied smartly: through achieved efficiency and stability.</p>
    <img loading="lazy" decoding="async" class="w50pc middle block gallery_zoom" src="/assets/images/supops/memes/money_flow.gif" alt="Money flow">
    <p>SupOps is very similar. It's not a silver bullet, but is meant to explain certain things and introduce guidelines to help companies (and maybe users even) understand what Tech Support, Customer Support, Customer Service or just "Support" means and does. It shows how proper use of specialists in this field and their integration into your processes not only creates client stickiness, but also helps with product improvements, which can result in client attraction. Which results in what all company owners want - profit.</p>
    <p>So the goal of my concept is not necessarily to replace everything that came before or to re-invent the wheel. It is more about packaging it in a format, that will allow to apply the pre-existing ideas more universally by looking at everything as "issues needed to be solved" and realizing, that solving them is good for business. And support teams are usually the ones "solving issues", hence the name of the concept.</p>
    <img loading="lazy" decoding="async" class="w50pc middle block gallery_zoom" src="/assets/images/supops/memes/packing.gif" alt="Packing it">
    <p>You can check <a target="_blank" href="/supops/comparison">this table</a> for a quick comparison, but I'd recommend reading further. Let's start with the terminology, so that we ensure we speak the same language.</p>
    <a class="button supops_next_slide" href="/supops/glossary">
        <img loading="lazy" decoding="async" src="/assets/images/supops/navigation/definitions.svg" alt="Next slide icon" class="no_tooltip">
        <span>Explore the terminology</span>
        <img loading="lazy" decoding="async" src="/assets/images/supops/navigation/definitions.svg" alt="Next slide icon" class="no_tooltip">
    </a>
</section>