<ul class="icon_list">
    {% for icon in icons %}
        <li>
            <figure>
                <a class="gallery_zoom no_new_tab_icon" href="{{ icon.icon }}" target="_blank">
                    <img loading="lazy" decoding="async" src="{{ icon.icon }}" alt="{{ icon.name|default(basename(icon.icon)) }}">
                </a>
                <figcaption class="middle">{{ icon.name|default(basename(icon.icon)) }}</figcaption>
            </figure>
        </li>
    {% endfor %}
</ul>
