<template id="snackbar_template">
    <dialog role="alertdialog" class="snackbar fadeIn">
        <span class="snack_text">alert text goes here</span><snack-close data-close-in="0"><input class="navIcon snack_close" alt="Close notification" type="image" src="/assets/images/close.svg" aria-invalid="false" placeholder="image"></snack-close>
    </dialog>
</template>
