/*
Sample CSS for login/registration form.
You do not *have* to use this, but if you want to style the form with some good practices in mind - you can.
If you do - all you need to change are, basically, colors and styling of borders on hover/focus.
*/

/*Center form content*/
#signinup {
    text-align: center;
}

/*Used to adjust placement of labels*/
.float_label_div {
    position: relative;
    /*5px margin on bottom and top, yet center the element in parent*/
    margin: 5px auto;
    text-align: center;
}

/*Limit width*/
.float_label_div,
[id^=signinup_] {
    /*Width corresponds to characters.
    10 looks the lowest number that makes placeholders more or less readable.
    Longer than 65 characters is unnecessary, since we limit username at 64. 65 is used since with 64 there is a higher chance of truncation*/
    min-width: 10ch;
    max-width: 65ch;
}

/*Limit height of inputs*/
[id^=signinup_] {
    min-height: 24px;
    max-height: 48px;
}

/*Mark fields as required, when they are*/
[id^=signinup_][required]+label:after {
    content: '*';
    color: red;
}

[id^=signinup_] {
    /*Force text cursor*/
    cursor: text;
}

/*Visually hide placeholder since we are using label instead of it*/
[id^=signinup_]::-webkit-input-placeholder {
    opacity: 0;
}

/*Style border when input is selected or hovered over*/
[id^=signinup_]:focus,
[id^=signinup_]:hover {
    border-color: hsl(182, 100%, 22%);
    box-shadow: 1px 1px 10px hsla(182, 100%, 32%, 1), -1px -1px 10px hsla(182, 100%, 32%, 1);
}

/*Style invalid input. Ideally should be replace by :user-invalid but it's currently only supported by Firefox*/
[id^=signinup_]:invalid:focus:not(:placeholder-shown),
[id^=signinup_][required]:invalid:focus:placeholder-shown {
    border-color: red;
    box-shadow: 1px 1px 10px red, -1px -1px 10px red;
}

/*Style valid inputs on focus*/
[id^=signinup_]:valid:focus {
    border-color: green;
    box-shadow: 1px 1px 10px green, -1px -1px 10px green;
}

/*Common label settings*/
[id^=signinup_]+label {
    transition: all 0.2s ease;
    touch-action: manipulation;
    position: absolute;
    display: block;
    color: hsl(182, 100%, 32%);
    top: -7px;
    left: 10px;
}

/*Style label when placeholder is shown. Essentially place it instead of placeholder.*/
[id^=signinup_]:placeholder-shown+label {
    transform-origin: left bottom;
    transform: translate(0, 2.125rem) scale(1.5);
    top: -15px;
}

/*Move label to top on select and when placeholder is not shown*/
[id^=signinup_]:not(:placeholder-shown)+label,
[id^=signinup_]:focus+label {
    transform: translate(0, 0) scale(1);
    top: -10px;
    /*We need to make the color a little lighter to make it readable on the border*/
    color: hsl(182,50%,50%);
}

.rememberme_div {
    line-height: 24px;
    white-space: nowrap;
}

/*Style remember be checkbox*/
#rememberme,
#rememberme+label {
    color: hsl(0, 4%, 95%);
    vertical-align: middle;
    display: inline-block;
}
#rememberme+label {
    margin-left: 5px;
}

/*Style toggle*/
#radio_signinup {
    color: hsl(0, 4%, 95%);
    vertical-align: middle;
    display: inline-block;
    margin: 5px auto;
    text-align: center;
}

.radio_and_label {
    white-space: nowrap;
    vertical-align: middle;
}

#radio_signinup input[type^=radio] {
    margin-left: 5px;
}

/*Vertical align radio*/
#radio_signinup span,
#radio_signinup input[type^=radio],
#radio_signinup input[type^=radio]+label {
    vertical-align: middle;
}

/*Adjust submit button width based on text*/
#signinup_submit {
    width: auto;
}

/*Pad text inside input to allow placement for an eye icon*/
#signinup_password {
    padding-left: 5ch;
}

/*Style eye icon*/
.showpassword {
    color: hsl(51, 87%, 59%);
    position: absolute;
    top: -5px;
    left: 5px;
    font-size: xx-large;
    cursor: pointer;
    display: none;
    content: '\1F441';
}

/*Add eye icon to class for ease of use*/
#signinup_password~.showpassword:before {
    content: '\1F441';
}

/*Add diagonal line to the eye icon if it's text field*/
#signinup_password[type^=text]~.showpassword:after {
    content: '\2571';
    position: absolute;
    left: 0;
}

/*Show eye icon only when field is focused or there is text there*/
#signinup_password:focus~.showpassword,
#signinup_password:not(:placeholder-shown)~.showpassword {
    display: block;
}

/*Style text of password requirement*/
#password_req {
    display: none;
    text-align: left;
}

#signinup_password:focus~#password_req,
#signinup_password:not(:placeholder-shown)~#password_req,
#signinup_password:focus~.pass_str_div,
#signinup_password:not(:placeholder-shown)~.pass_str_div {
    display: block;
}

#signinup_password:valid~#password_req {
    color: green;
}

#signinup_password:invalid~#password_req {
    color: red;
}

/*Style password strength*/
.pass_str_div {
    display: none;
    color: hsl(0, 4%, 95%);
    text-align: left;
}
.password_weak,
.password_strength {
    color: red;
    font-weight: 400;
}
.password_medium {
    color: orange;
    font-weight: 500;
}
.password_strong {
    color: green;
    font-weight: 700;
}
.password_very_strong {
    font-weight: 900;
    background: linear-gradient(to bottom, hsl(41, 33%, 72%) 22%, hsl(38, 38%, 28%) 24%, hsl(41, 33%, 72%) 26%, hsl(41, 33%, 72%) 27%, hsl(45, 100%, 85%) 40%, hsl(40, 59%, 50%) 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
