<div id="footer_links">
    <a href="/about/tos">Terms of Service</a>
    <a href="/about/privacy">Privacy Policy</a>
    <a href="/about/contacts">Contacts</a>
</div>
<div id="footer_copyright">
    © {{ timeTag('2006-01-01', 'Y') }}-{{ timeTag('now', 'Y') }} Dmitrii Kustov All Rights Reserved
</div>
