<dialog class="modal" aria-label="Gallery overlay">
    <gallery-overlay>
        <gallery-close><input id="close_gallery_icon" class="nav_icon" alt="Close gallery" data-tooltip="Close gallery" type="image" src="/assets/images/close.svg"></gallery-close>
        <div id="gallery_grid">
            <gallery-prev>❰</gallery-prev>
            <div id="gallery_name_block"><span id="gallery_name">Name</span><a id="gallery_name_link" href="" target="_blank" data-tooltip="Open image in new tab"><img loading="lazy" decoding="async" class="link_icon" alt="Open in new tab" src="/assets/images/newtab.svg"></a></div>
            <gallery-image><img id="gallery_loaded_image" loading="lazy" decoding="async" alt="" src=""></gallery-image>
            <div id="gallery_counter"><span id="gallery_current">0</span><span id="gallery_slash">/</span><span id="gallery_total">0</span></div>
            <gallery-next>❱</gallery-next>
        </div>
    </gallery-overlay>
</dialog>
