<section>
    <h2>📌 Principle</h2>
    <p>Collaboration</p>
    <h2>❓ What</h2>
    <p>Users, internal and external, are not just the source of issues. They are also the source of important information about how the products and services you provide are used in the wild. Don't be afraid to ask them, what is bothering them. If you have multiple possible solutions for an issue - check with the users, who reported it, they may have a better idea what will work for their flows. Try to gather information about different aspects of the product in one place as source of truth and keep relevant people up-to-date on important changes.</p>
    <h2>🪙 Business impact</h2>
    <ul>
        <li>Lack of knowledge</li>
        <li>Echo chamber of ideas</li>
        <li>Feeling of non-importance</li>
    </ul>
    <h2>❌ Poor implementation</h2>
    <ul>
        <li>Minimizes or completely removes self-help opportunities.</li>
        <li>Promotes siloed organization structure with no information exchange.</li>
        <li>Blindsides to improvement opportunities and early issue recognition.</li>
    </ul>
    <h2>✅ Good implementation</h2>
    <ul>
        <li>Frees agent's time to focus on more complex issues.</li>
        <li>Creates knowledgebase which can be relied on by everyone for complex investigations and onboarding.</li>
        <li>Increases morale by timely recognition of ideas and achievements.</li>
    </ul>
    <h2>🪢 Alignment</h2>
    <p>ITIL Problem Management and Knowledgebase Governance</p>
    <h2>🖼️ Logo</h2>
    <img loading="lazy" decoding="async" class="float_left gallery_zoom supops_fact" src="/assets/images/supops/facts/collaboration.svg" alt="Collaboration icon">
    <p>Represented by a coffee cup, because we need a lot of coffee during those collaboration meetings.</p>
    <h2 class="float_clear">🛠️ Common tools</h2>
    <ul>
        <li>Forums</li>
        <li>Blogs</li>
        <li>Chats</li>
        <li>Knowledgebases</li>
        <li>Newsletters</li>
        <li>Live demos</li>
    </ul>
    <h2>📊 Metrics</h2>
    {{ include('supops/metrics/collaboration.twig') }}
    <h2>💡 Tips</h2>
    <ul>
        <li>Have an easy way to gather "user voices" to know about what's good, what's bad and what's needed.</li>
        <li>If using public forums ensure they have a good logical structure and moderate them properly, but try not to censor too much.</li>
        <li>When collecting ideas, consider making the process public, so that other users can vote on them, and also keep the status of those ideas up-to-date.</li>
        <li>Avoid multiple sources of information about the product, where possible, to have single source of truth.</li>
        <li>If using multiple sources of information, ensure cross-linking for easier discoverability.</li>
        <li>Have an easy and convenient way to search for information for both internal and external users.</li>
        <li>Encourage people involved in support to create or update knowledgebase articles based on resolved tickets.</li>
        <li>Have appropriate review process for changes in the knowledgeable, but allow skipping of it in case of minor changes, while still tracking history of the changes.</li>
        <li>Consider periodic live demos of the product's new features or significant changes.</li>
        <li>Consider "Sit in my chair" initiatives for employees to try work in a different role for some time (especially for devs and product leads trying out support with live people).</li>
        <li>When possible involve developers and product team (at least) in direct support to better see what issues are happening at specific moments.</li>
        <li>Encourage direct communication with clients for all levels of support, when such communication makes sense.</li>
        <li>Consider having at least 1 developer (on rotation) from each team who will prioritize assistance with support tickets.</li>
        <li>If an implemented idea was shared or a critical issue was identified by an external user be sure to thank them: a smile is also a sort of KPI.</li>
        <li>Add a support representative to change management and project reviews, since they may see gaps, that other can't.</li>
        <li>When possible do end-2-end tests with actual users of the product (UAT or beta programs).</li>
    </ul>
    <a class="button supops_next_slide" href="/supops/transparency">
        <img loading="lazy" decoding="async" src="/assets/images/supops/facts/transparency.svg" alt="Next slide icon" class="no_tooltip">
        <span>Make it transparent</span>
        <img loading="lazy" decoding="async" src="/assets/images/supops/facts/transparency.svg" alt="Next slide icon" class="no_tooltip">
    </a>
</section>