<section>
    <p>When I started working as tech support back in 2009 there was a phrase that I heard often from various people:</p>
    <blockquote>We don't work with assumptions.</blockquote>
    <p>I strongly believe that to be incorrect. Assumptions is the salt (and soul) of this job. That's something that I taught others as well:</p>
    <blockquote>Accept the fact that you do not know anything.</blockquote>
    <p>Not because it may sound cool, but because it's the truth. When you start - you do not know anything about the product you are supporting. You learn about it as you work, but at the same time people are changing it. Most likely you do not know who, why, how, when and what is being changed. Even after years of supporting the product you will be finding things that are new. Or you can just forget stuff, unless you have <a href="https://en.wikipedia.org/wiki/Hyperthymesia" rel="noopener noreferrer" target="_blank">hyperthymesia</a>.</p>
    <p>Even with perfect recollection you <em>have</em> to rely on whatever information that is given to you, and that information is given to you by people. They are often not familiar with the product or certain parts of it, are not technical, are in a rush, tired, angry or even a mix of all of those and more. The issue reporter may be missing some minor detail, because it's not obvious to them, and because of that - they may not be sharing the full picture of what's going on. Besides, don't forget, that</p>
    <img loading="lazy" decoding="async" class="w50pc middle block gallery_zoom" src="/assets/images/supops/memes/everybody_lies.avif" alt="Everybody lies">
    <p>Maybe not intentionally, but that's besides the point. The point is that we <em>do</em> work with assumptions on daily basis. The important thing is to <em>validate</em> those assumptions, whenever you can. Ask a question, request a screenshot, read documentation, peek into the code, test (ideally on a test environment). Only once you validate as many assumptions, as possible for a particular case, can you make weighed, (hopefully) correct and long-lasting decisions.</p>
    <p>That is why SupOps is built ons <em>FACTS</em>.</p>
    <p>Yes, <em>FACTS</em>, all caps. Because it's not just literal facts. A good concept (or even ideology) is built on principles (or "pillars"), that you try to uphold, and FACTS is like a Megazord from Power Rangers: a principle made out of 5 other core principles. This also shows how principles can support each other in some ways, because a singular good practice can match multiple principles.</p>
    <img loading="lazy" decoding="async" class="w50pc middle block gallery_zoom" src="/assets/images/supops/memes/megazord.avif" alt="Megazord">
    <p>Now let's learn about each principle. Note, that following descriptions are possibly not exhaustive, and are only meant to give a general idea of what each pillar is, and why it is important.</p>
    <a class="button supops_next_slide" href="/supops/feedback">
        <img loading="lazy" decoding="async" src="/assets/images/supops/facts/feedback.svg" alt="Next slide icon" class="no_tooltip">
        <span>Press "F"</span>
        <img loading="lazy" decoding="async" src="/assets/images/supops/facts/feedback.svg" alt="Next slide icon" class="no_tooltip">
    </a>
</section>