<section>
    <h2>📌 Principle</h2>
    <p>Sustainability</p>
    <h2>❓ What</h2>
    <p>Have enough people to support your product: tired employees result in "revolving door", loss of knowledge, and as result - lower quality. Be ready for spikes in demand, both sudden and planned. Be even more ready for outages and have procedures to minimizes downtimes. If an issue occur - fix it in a way, that will minimize or remove possibility of recurrence. Most importantly, remember: slow and steady wins the race.</p>
    <h2>🪙 Business impact</h2>
    <ul>
        <li>Agents' fatigue</li>
        <li>Inaccessible product</li>
        <li>Recurring issues</li>
    </ul>
    <h2>❌ Poor implementation</h2>
    <ul>
        <li>Drains mental capacity of support agents reducing quality investigation quality.</li>
        <li>Wastes time by forcing to fix same issues again and again.</li>
        <li>Promotes unrealistic expectations of explosive scaling.</li>
    </ul>
    <h2>✅ Good implementation</h2>
    <ul>
        <li>Keeps agents' minds fresh and ready for challenges.</li>
        <li>Minimizes user impact during downtimes.</li>
        <li>Encourages product preservation.</li>
    </ul>
    <h2>🪢 Alignment</h2>
    <p>Workforce Planning and SRE On-call fatigue</p>
    <h2>🖼️ Logo</h2>
    <img loading="lazy" decoding="async" class="float_left gallery_zoom supops_fact" src="/assets/images/supops/facts/sustainability.svg" alt="Sustainability icon">
    <p>Represented by a button with an <kbd>S</kbd>, since <kbd>Ctrl</kbd> + <kbd>S</kbd> is a common combination for saving.</p>
    <h2 class="float_clear">🛠️ Common tools</h2>
    <ul>
        <li>Queue management systems</li>
        <li>Human resources systems</li>
        <li>Public lists of known issues</li>
        <li>Internal procedures</li>
        <li>DevOps, Agile and other methodologies</li>
        <li>Open source repositories</li>
    </ul>
    <h2>📊 Metrics</h2>
    {{ include('supops/metrics/sustainability.twig') }}
    <h2>💡 Tips</h2>
    <ul>
        <li>Build everything with security and privacy in mind.</li>
        <li>Don't release on Fridays or before public holidays unless there is an <em>extremely good</em> reason for it.</li>
        <li>Monitor the program when you release something to production, so that you do not wake up to a panic.</li>
        <li>Have Continuity of Business (COB) procedures covering hardware, software, services', people and potentially other types of failures (keep them as standardized as possible).</li>
        <li>If service is down, either switch to something else, where possible, or provide clear communication that is down, why it is down and for how long (if that is known).</li>
        <li>Limit number of active tickets per agent (can vary, but 10 is probably the most that majority of people can handle more or less efficiently).</li>
        <li>Have enough people to avoid understaffing critical functions for prolonged time even when 2 people are missing (1 on vacation and 1 on sick leave).</li>
        <li>Encourage taking vacation days instead of hoarding them.</li>
        <li>Be careful with alerts, so that they do not become noise, that is being ignored.</li>
        <li>Encourage smaller iterative changes instead of big ones.</li>
        <li>Once an issue is fixed explore ways to prevent recurrence in mid- and long- terms (create items in backlog, if required).</li>
        <li>Try to consider scaling of the solutions in time or at least with ability to handle sudden influxes (during season events, for example).</li>
        <li>Promote learning of new things inside the company, both about the product and related areas of knowledge.</li>
        <li>If you realize that you are no longer able to support the product (or a feature), find ways to hand it over to the community, in case someone else would be willing to (for example, open source the code, release SDKs or binaries).</li>
        <li>Have regularly updated onboarding trainings for new hires (bonus points if they are gamified).</li>
        <li>Security and privacy related issues should always take the highest priority.</li>
        <li>Keep calm and carry-on: cool head is what solves the problems, that hot heads have created, so punch some boxing dummy and approach everything logically.</li>
        <li>Do try to use eco-friendly solutions and generally be mindful about environment.</li>
    </ul>
    <a class="button supops_next_slide" href="/supops/flow">
        <img loading="lazy" decoding="async" src="/assets/images/supops/navigation/flowchart.svg" alt="Next slide icon" class="no_tooltip">
        <span>Move with the flow</span>
        <img loading="lazy" decoding="async" src="/assets/images/supops/navigation/flowchart.svg" alt="Next slide icon" class="no_tooltip">
    </a>
</section>