{% if activated %}
    <p class="success">Mail {{ email }} confirmed{% if activation %} and account activated{% endif %}.</p>
{% else %}
    <p class="error">Failed to confirm any emails.</p>
{% endif %}
{% if session_data.userid %}
    <p>You can check list of all your registered mails <a href="">here</a>.</p>
{%  endif %}
