{% if activated %}
    <div class="success">Mail {{ email }} confirmed{% if activation %} and account activated{% endif %}.</div>
{% else %}
    <div class="error">Failed to confirm any emails.</div>
{% endif %}
