<form class="middle" id="profile_avatar">
    <div class="middle"><img loading="lazy" decoding="async" class="avatar" alt="Your current avatar" src="{{ session_data.avatar|default('/img/avatar.svg') }}"></div>
    {% if avatars %}
        <p>Select avatar from previous uploads:</p>
    {% endif %}
    <p>Upload new avatar:</p>
    <div class="float_label_div">
        <input form="profile_avatar" type="file" aria-required="false" name="avatar[file]" id="new_avatar_file" placeholder="Image file">
        <label for="new_avatar_file">Image file</label>
    </div>
    <p>Input link to the image:</p>
    <div class="float_label_div">
        <input form="profile_avatar" type="url" aria-required="false" name="avatar[url]" id="new_avatar_url" placeholder="Image URL" autocomplete="photo" inputmode="text" minlength="1" maxlength="255" pattern="https://[^<>]]*">
        <label for="new_avatar_url">Image URL</label>
    </div>
    <br/>
    <input role="button" form="profile_avatar" type="submit" name="submit" id="avatar_submit" formaction="{{ url }}" formmethod="post" formtarget="_self" value="Update">
    <img id="avatar_spinner" class="hidden spinner" src="/img/spinner.svg" alt="Updating avatar...">
</form>
