<table id="emailsList">
    <thead><tr><th>Email</th><th>Confirmed</th><th>Notifications</th><th>Delete</th></tr></thead>
    <tbody>
        {% for number, email in emails %}
            {{ include('usercontrol/emailrow.twig', {'email': email, 'number': number}, with_context = false) }}
        {% endfor %}
    </tbody>
</table>
<form role="form" id="addMailForm" name="addMailForm" autocomplete="on" class="middle">
    <div class="float_label_div">
        <input form="addMailForm" type="email" spellcheck="false" aria-required="false" name="email" id="addMail" placeholder="Email" autocomplete="email" inputmode="email" minlength="1" maxlength="320" pattern="^[a-zA-Z\d.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z\d](?:[a-zA-Z\d\-]{0,61}[a-zA-Z\d])?(?:\.[a-zA-Z\d](?:[a-zA-Z\d\-]{0,61}[a-zA-Z\d])?)*$">
        <label for="addMail">Email</label>
    </div>
    <input role="button" form="addMailForm" type="submit" name="addMail[submit]" id="addMail_submit" formaction="/api/uc/emails/add" formmethod="post" formtarget="_self" value="Add">
    <img id="addMail_spinner" class="hidden spinner" src="/img/spinner.svg" alt="Adding email...">
</form>
