<p>This page allows you to remove your account.</p>
<p>There are 2 types of removal: <i>soft</i> and <i>hard</i>.</p>
<p><i>Soft</i> removal will remove all groups from your account and replace them with <i>Deleted</i> group. If you change you mind and want to return to the website, you can <a href="/about/contacts/">contact</a> administration to have your account restored.</p>
<p><i>Hard</i> removal will replace your internal user ID with one for <a href="/talks/users/3/"><i>Deleted user</i></a> for all sections, threads and posts creates, as well as all files uploaded, and then remove your user <b>entirely</b>, that is <b>without the ability to restore</b> at a later day.</p>
<p>If unlinking of your account from respective sections, threads, posts and files is not enough, and you want to remove them as well, please, create a post in <a href="/talks/sections/5/">Support</a>, so that administration can check and ensure that some potentially useful information is not lost.</p>
<form id="user_removal" class="middle">
    <span class="radio_and_label"><input form="user_removal" id="hard_removal" type="checkbox"><label for="hard_removal">I want it hard</label></span><br>
    <input role="button" form="profile_details" type="submit" name="submit" id="remove_user" formaction="{{ url }}" formmethod="post" formtarget="_self" value="Remove me" class="warning">
    <img loading="lazy" decoding="async" id="details_spinner" class="hidden spinner" src="/img/spinner.svg" alt="Updating details...">
</form>
