<section>
    {% if subServiceName %}
        <article>
            {% if subServiceName == 'registration' %}
                {{ include('usercontrol/registration.twig')}}
            {% endif %}
        </article>
    {% endif %}
</section>
