<section>
    {% if subServiceName %}
        <article>
            {% if subServiceName == 'registration' %}
                {{ include('usercontrol/registration.twig')}}
            {% elseif subServiceName == 'activation' %}
                {{ include('usercontrol/activation.twig')}}
            {% elseif subServiceName == 'emails' %}
                {{ include('usercontrol/emails.twig')}}
            {% endif %}
        </article>
    {% endif %}
</section>
