*:focus {
    outline-color: var(--color-interactive);
}
::selection {
    color: var(--color-article);
    background-color: var(--color-text);
}

/*Links styling*/
a:not(.button) {
    color: var(--color-interactive);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border-style: outset;
    border-radius: var(--border-radius);
    border-color: transparent;
    padding: 0.1rem;
    border-width: var(--border-width);
    outline: none;
}
a:link:not(.button) {
    text-decoration-line: underline;
}
a:visited:not(.button) {
    text-decoration: none;
    border-style: inset;
}
a:hover:not(.button),
a:focus:not(.button),
a:active:not(.button) {
    text-decoration: none;
    border-color: var(--color-interactive);
}
a:active:not(.button) {
    filter: brightness(0.7);
}

/*Inputs styling*/
input,
button,
a.button,
::file-selector-button {
    background-color: var(--color-article);
    color: var(--color-text);
    /*Border colors are reversed to make the elements "popup"*/
    border-style: solid;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-color: var(--border-color-outset);
    outline: none;
    box-sizing: border-box;
    height: clamp(1.5rem, 2rem, 2.5rem);
}
/*Special styling for buttons*/
button,
a.button,
input[type=submit],
input[type=button],
input[type=reset],
::file-selector-button {
    color: var(--color-interactive);
    font-weight: bold;
    margin: 0.5rem;
    cursor: pointer;
}

/*Style border when input is selected or hovered over*/
input:focus,
input:hover,
input:active,
button:focus,
button:hover,
button:active,
a.button:focus,
a.button:hover,
a.button:active,
::file-selector-button:focus,
::file-selector-button:hover,
::file-selector-button:active {
    border-color: var(--border-color-outset);
    filter: var(--border-shadow);
}
button:active,
a.button:active,
input[type=submit]:active,
input[type=button]:active,
input[type=reset]:active,
input[type=image]:active,
::file-selector-button:active {
    border-color: var(--border-color-inset);
    filter: brightness(0.7);
}
::file-selector-button {
    margin: 0.1rem;
}
input[type=file] {
    /*Need to set a height, that will not cut the button*/
    height: 2.4rem;
    cursor: pointer;
}
/*Some extra styling for links style as buttons*/
a.button {
    text-decoration: none;
    -webkit-appearance: button;
    padding: 1px 6px;
}

/*Border for valid/invalid input*/
input:valid:focus:not([type=submit]):not([type=button]):not([type=reset]):not([type=checkbox]):not([type=radio]):not([type=range]) {
    border-color: var(--color-success);
    box-shadow: 0.1rem 0.1rem 0.75rem var(--color-success), -0.1rem -0.1rem 0.75rem var(--color-success);
}
input:invalid:focus:not(:placeholder-shown):not([type=submit]):not([type=button]):not([type=reset]):not([type=checkbox]):not([type=radio]):not([type=range]),
input[required]:invalid:not([type=submit]):not([type=button]):not([type=reset]):not([type=checkbox]):not([type=radio]):not([type=range]) {
    border-color: var(--color-failure);
    box-shadow: 0.1rem 0.1rem 0.75rem var(--color-failure), -0.1rem -0.1rem 0.75rem var(--color-failure);
}
/*Label styling*/
/*Used to adjust placement of labels*/
.float_label_div {
    position: relative;
    /*0.5rem margin on bottom and top, yet center the element in parent*/
    margin: 0.5rem auto;
    text-align: left;
    display: inline-block;
}
/*Common label settings*/
input[type=text]+label,
input[type=url]+label,
input[type=email]+label,
input[type=password]+label,
input[type=number]+label,
input[type=search]+label,
input[type=tel]+label,
input[type=date]+label,
input[type=datetime-local]+label,
input[type=time]+label,
input[type=month]+label,
input[type=week]+label,
input[type=color]+label,
input[type=file]+label,
input[type=range]+label,
textarea+label,
select+label {
    transition: all 0.2s ease;
    touch-action: manipulation;
    position: absolute;
    display: block;
    color: var(--color-interactive);
    cursor: text;
    -webkit-user-select: none;
    user-select: none;
}
/*Visually hide placeholder since we are using label instead of it*/
input[type=text]::placeholder,
input[type=url]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder,
input[type=number]::placeholder,
input[type=search]::placeholder,
input[type=tel]::placeholder,
input[type=date]::placeholder,
input[type=datetime-local]::placeholder,
input[type=time]::placeholder,
input[type=month]::placeholder,
input[type=week]::placeholder,
input[type=color]::placeholder,
input[type=file]::placeholder,
input[type=range]::placeholder,
textarea::placeholder,
select::placeholder{
    opacity: 0;
}
/*Style label when placeholder is shown. Essentially place it instead of placeholder.*/
input[type=text]:placeholder-shown+label,
input[type=url]:placeholder-shown+label,
input[type=email]:placeholder-shown+label,
input[type=password]:placeholder-shown+label,
input[type=number]:placeholder-shown+label,
input[type=search]:placeholder-shown+label,
input[type=tel]:placeholder-shown+label,
input[type=date]:placeholder-shown+label,
input[type=datetime-local]:placeholder-shown+label,
input[type=time]:placeholder-shown+label,
input[type=month]:placeholder-shown+label,
input[type=week]:placeholder-shown+label,
input[type=color]:placeholder-shown+label,
input[type=file]:placeholder-shown+label,
input[type=range]:placeholder-shown+label,
textarea:placeholder-shown+label,
select:placeholder-shown+label {
    transform-origin: left bottom;
    transform: translate(0,2.125rem) scale(1.25);
    top: -1.75rem;
    left: 0.5rem;
}
select:placeholder-shown+label {
    left: 1rem;
}
/*Move label to top on select and when placeholder is not shown*/
input[type=text]:not(:placeholder-shown)+label,
input[type=url]:not(:placeholder-shown)+label,
input[type=email]:not(:placeholder-shown)+label,
input[type=password]:not(:placeholder-shown)+label,
input[type=number]:not(:placeholder-shown)+label,
input[type=search]:not(:placeholder-shown)+label,
input[type=tel]:not(:placeholder-shown)+label,
input[type=date]:not(:placeholder-shown)+label,
input[type=datetime-local]:not(:placeholder-shown)+label,
input[type=time]:not(:placeholder-shown)+label,
input[type=month]:not(:placeholder-shown)+label,
input[type=week]:not(:placeholder-shown)+label,
input[type=color]:not(:placeholder-shown)+label,
input[type=file]:not(:placeholder-shown)+label,
input[type=range]:not(:placeholder-shown)+label,
textarea:not(:placeholder-shown)+label,
select:not(:placeholder-shown)+label,
input[type=text]:focus+label,
input[type=url]:focus+label,
input[type=email]:focus+label,
input[type=password]:focus+label,
input[type=number]:focus+label,
input[type=search]:focus+label,
input[type=tel]:focus+label,
input[type=date]:focus+label,
input[type=datetime-local]:focus+label,
input[type=time]:focus+label,
input[type=month]:focus+label,
input[type=week]:focus+label,
input[type=color]:focus+label,
input[type=file]:focus+label,
input[type=range]:focus+label,
textarea:focus+label,
select:focus+label {
    transform: translate(0, 0) scale(1);
    top: -0.75rem;
    left: 0.5rem;
    filter: var(--border-shadow);
    cursor: default;
}
select:not(:placeholder-shown)+label,
select:focus+label {
    left: 1rem;
    top: -0.25rem;
}
/*Some input types make more sense with pointer cursor*/
input[type=radio],
input[type=checkbox],
input[type=radio]+label,
input[type=checkbox]+label {
    cursor: pointer;
}
/*Hide incremental buttons for number field. You can't style them (only replace), thus better remove completely by default for consistent look*/
input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
    margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number].number_spinner {
    -moz-appearance: auto;
    appearance: auto;
    margin: unset;
}
input[type=number].number_spinner::-webkit-inner-spin-button,
input[type=number].number_spinner::-webkit-outer-spin-button {
    -webkit-appearance: inner-spin-button;
    margin: unset;
}
/*Mark fields as required, when they are*/
input[required]+label:after {
    content: '*';
    color: var(--color-failure);
}
/*Color for date picker icon*/
::-webkit-calendar-picker-indicator {
    filter: invert(75%) sepia(66%) saturate(203%) hue-rotate(161deg) brightness(95%) contrast(93%);
    cursor: pointer;
}
input[type=image] {
    padding: 0.2rem;
}

/*Textarea*/
textarea {
    background-color: var(--color-article);
    color: var(--color-text);
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-style: solid;
    border-color: var(--border-color-inset);
}
textarea:hover {
    outline: none;
    filter: var(--border-shadow);
}
textarea:focus, textarea:active {
    outline: none;
    border-color: var(--border-color-inset);
    filter: var(--border-shadow);
}
textarea::-webkit-resizer {
    border-bottom-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

/*Add a more obvious styling for summary tag by making it more like a link*/
summary {
    color: var(--color-interactive);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

/*Show details marker to right*/
details>.rightSummary {
    list-style: none;
}
.rightSummary::-webkit-details-marker {
    display: none
}

.rightSummary::after {
    content: ' ▷';
}
details[open]>.rightSummary:after {
    content: ' ▼';
}

/*Spoiler and adult content blocks*/
details.spoiler>summary,
details.adult>summary {
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-color: var(--border-color-inset);
    border-style: solid;
    list-style: none;
    text-align: center;
    color: var(--color-disabled);
    background-color: var(--color-block);
}
details.spoiler>summary:hover,
details.adult>summary:hover {
    color: var(--color-warning);
    border-color: var(--color-warning);
    border-style: inset;
}
details.spoiler>summary::-webkit-details-marker,
details.adult>summary::-webkit-details-marker {
    display: none
}
details[open].spoiler>summary,
details[open].adult>summary{
    display: none;
}
details[open].spoiler,
details[open].adult {
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-color: var(--color-warning);
    border-style: dotted;
}
details.spoiler>summary:before {
    content: '📖 Here be spoilers 📺';
}
details.spoiler>summary:hover:before {
    content: '🔎 I am ready for the truth 😲';
}
details.adult>summary:before {
    content: '🍑 Here be adult content 🌶';
}
details.adult>summary:hover:before {
    content: '😏 My body is ready 🍆';
}
details.spoiler.adult>summary:before {
    content: '📖 Here be adult spoilers 🌶';
}
details.spoiler.adult>summary:hover:before {
    content: '🔎 My body is ready 🍆';
}

/*Color picker*/
input[type=color] {
    position: relative;
    min-width: 15ch;
    cursor: pointer;
    padding: 0;
}
input[type=color]::-webkit-color-swatch-wrapper {
    padding: 0;
    width: 50%;
}
input[type=color]::-webkit-color-swatch {
    border: none;
    border-radius: var(--border-radius);
}
input[type=color]::after {
    content: attr(value);
    position: absolute;
    top: 0.25rem;
    right: 0.1rem;
}

/*Range input*/
input[type=range] {
    appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    box-shadow: 0 0.1rem 0.3rem hsla(0, 0%, 0%, 0.25) inset;
    background-color: var(--color-block);
    border-radius: var(--border-radius);
    cursor: pointer;
    height: 0.5rem;
}
input[type=range]::-webkit-slider-thumb {
    background-color: var(--color-interactive);
    appearance: none;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: var(--border-radius);
    margin-top: -0.25rem;
    border: none;
    cursor: pointer;
}

/*Checkboxes and radio*/
.radio_and_label {
    white-space: nowrap;
    vertical-align: middle;
    color: var(--color-text);
    margin: 0.4rem auto;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.radio_and_label input[type=radio]+label,
.radio_and_label input[type=checkbox]+label {
    margin-left: 0.4rem;
}
input[type=checkbox],
input[type=radio] {
    display: none;
}
input[type=checkbox]+label::before,
input[type=radio]+label::before {
    margin-right: 0.25rem;
    font-family: var(--font-mono);
    font-weight: bolder;
    color: var(--color-interactive);
    /*Maxes the symbol bolder*/
    text-shadow: 0.02rem 0.02rem var(--color-interactive);
}
input[type=checkbox]+label:focus::before,
input[type=checkbox]+label:hover::before,
input[type=checkbox]+label:active::before,
input[type=radio]+label:focus::before,
input[type=radio]+label:hover::before,
input[type=radio]+label:active::before {
    filter: var(--border-shadow);
}
input[type=checkbox]:checked+label::before {
    content: '\1F5F9';
}
input[type=checkbox]:not(:checked)+label::before {
    content: '\2610';
}
input[type=radio]:checked+label::before {
    content: '\29BF';
}
input[type=radio]:not(:checked)+label::before {
    content: '\2B58';
}

/*Style disabled elements*/
input:disabled,
input:disabled:active,
input:disabled:hover,
input:disabled:focus,
input:disabled:focus-within,
textarea:disabled,
select:disabled,
textarea:disabled:active,
textarea:disabled:hover,
textarea:disabled:focus,
textarea:disabled:focus-within,
select:disabled:active,
select:disabled:hover,
select:disabled:focus,
select:disabled:focus-within {
    color: var(--color-disabled);
    border-color: var(--color-disabled);
    cursor: not-allowed;
    filter: blur(0.025rem) grayscale(1);
    -webkit-user-select: none;
    user-select: none;
}
input:disabled+label,
input:disabled:focus+label,
input:disabled:placeholder-shown+label,
input[type=checkbox]:disabled+label::before,
input[type=radio]:disabled+label::before {
    color: var(--color-disabled);
    cursor: not-allowed;
    filter: blur(0.025rem) grayscale(1);
    -webkit-user-select: none;
    user-select: none;
}
textarea:disabled+label,
select:disabled+label,
input:disabled:not(:placeholder-shown)+label {
    color: var(--color-disabled);
    cursor: not-allowed;
    -webkit-user-select: none;
    user-select: none;
}
:disabled::file-selector-button,
:disabled::file-selector-button:active,
:disabled::file-selector-button:hover,
:disabled::file-selector-button:focus,
:disabled::file-selector-button:focus-within {
    border-color: var(--color-disabled);
    cursor: not-allowed;
    filter: blur(0.025rem) grayscale(1);
    -webkit-user-select: none;
    user-select: none;
}

/*Select and option styling*/
select {
    min-width: 15ch;
    border-width: var(--border-width);
    border-style: solid;
    border-color: var(--border-color-outset);
    border-radius: var(--border-radius);
    padding: 0.25em 0.5em;
    cursor: pointer;
    background-color: var(--color-article);
    color: var(--color-text);
    margin: 0.5rem 0 0 0;
}
select:active,
select:focus,
select:focus-within,
select:hover {
    outline: none;
    border-color: var(--border-color-outset);
    filter: var(--border-shadow);
}
option {
    border-radius: calc(var(--border-radius)/2);
}


/*Scrollbar*/
::-webkit-scrollbar {
    width: 1rem;
    background-color: var(--color-article);
    border-radius: var(--border-radius);
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0.45rem hsla(0, 0%, 0%, 0.3);
    border-radius: var(--border-radius);
    background-color: var(--color-article);
}
::-webkit-scrollbar-track-piece {
    box-shadow: inset 0 0 0.45rem hsla(0, 0%, 0%, 0.3);
    border-radius: var(--border-radius);
    background-color: var(--color-article);
    border-style: solid;
    border-color: var(--border-color-outset);
}
::-webkit-scrollbar-corner {
    background-color: var(--color-block);
}
::-webkit-resizer {
    background-color: var(--color-article);
    color: var(--color-interactive);
    background-image: linear-gradient(135deg, var(--color-interactive) 16.67%, var(--color-block) 16.67%, var(--color-block) 50%, var(--color-interactive) 50%, var(--color-interactive) 66.67%, var(--color-block) 66.67%, var(--color-block) 100%);
    background-size: 0.7rem 0.7rem;
}

/*Thumb*/
::-webkit-scrollbar-thumb {
    background-color: var(--color-body);
    border-style: solid;
    border-color: var(--border-color-outset);
    border-radius: var(--border-radius);
    cursor: pointer;
}
::-webkit-scrollbar-thumb:hover {
    border-color: var(--color-interactive);
    background-color: var(--color-block);
}
::-webkit-scrollbar-thumb:active {
    border-color: var(--color-interactive);
    background-color: var(--color-article);
}

/*Buttons*/
::-webkit-scrollbar-button {
    background-color: var(--color-block);
    color: var(--color-interactive);
    border-style: solid;
    border-color: var(--color-interactive);
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
    width: 1rem;
    height: 1rem;
    cursor: pointer;
}
/* Up */
::-webkit-scrollbar-button:vertical:decrement {
    border-width: 0 0.5rem 1rem 0.5rem;
    border-color: transparent transparent var(--color-interactive) transparent;
}
::-webkit-scrollbar-button:vertical:decrement:hover {
    border-color: transparent transparent var(--color-interactive) transparent;
}
/* Down */
::-webkit-scrollbar-button:vertical:increment
{
    border-width: 1rem 0.5rem 0 0.5rem;
    border-color: var(--color-interactive) transparent transparent transparent;
}
::-webkit-scrollbar-button:vertical:increment:hover
{
    border-color: var(--color-interactive) transparent transparent transparent;
}
/* Left */
::-webkit-scrollbar-button:horizontal:decrement {
    border-width: 0.5rem 1rem 0.5rem 0;
    border-color: transparent var(--color-interactive) transparent transparent;
}
::-webkit-scrollbar-button:horizontal:decrement:hover {
    border-color: transparent var(--color-interactive) transparent transparent;
}
/* Right */
::-webkit-scrollbar-button:horizontal:increment {
    border-width: 0.5rem 0 0.5rem 1rem;
    border-color: transparent transparent transparent var(--color-interactive);
}
::-webkit-scrollbar-button:horizontal:increment:hover {
    border-color: transparent transparent transparent var(--color-interactive);
}
/*Hide doubled buttons*/
::-webkit-scrollbar-button:vertical:start:increment,
::-webkit-scrollbar-button:vertical:end:decrement,
::-webkit-scrollbar-button:horizontal:start:increment,
::-webkit-scrollbar-button:horizontal:end:decrement
{
    display: none;
}
main::-webkit-scrollbar {
    margin-left: 2rem;
}

/*Style tooltips*/
[data-tooltip]:not(q) {
    text-decoration: underline dotted 0.2rem;
    cursor: pointer;
}
tool-tip {
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--border-color-outset);
    background-color: var(--color-block);
    color: var(--color-text);
    text-align: justify;
    padding: 0.25rem;
    z-index: 99;
    margin: 1rem auto;
    height: fit-content;
    overflow: hidden;
    text-overflow: clip;
    word-break: keep-all;
    width: -moz-fit-content;
    width: fit-content;
    display: none;
    position: absolute;
    left: var(--cursorX);
    top: var(--cursorY);
}
tool-tip[data-tooltip] {
    display: block;
    transform: translate3d(var(--cursorX) px, var(--cursorY) px, 0px);
    text-decoration: none;
}

/*Snackbar notifications*/
snack-bar {
    visibility: hidden;
    position: absolute;
    bottom: var(--footer-height);
    width: 100%;
    margin: 0 auto;
}
.snackbar {
    border-radius: var(--border-radius);
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--border-color-outset);
    background-color: var(--color-block);
    color: var(--color-text);
    text-align: center;
    visibility: visible;
    display: flex;
    position: relative;
    padding: 0.25rem;
    height: 2rem;
    line-height: 2rem;
    z-index: 99;
    margin: 1rem auto;
}
.snack_text {
    vertical-align: top;
    flex: 1;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    overflow-y: auto;
}
.snack_close {
    display: inline-block;
    float: right;
}

.tooltipFootnote {
    color: var(--color-interactive);
    width: 1rem;
    height: 1rem;
    padding: 0.1rem;
    cursor: pointer;
    top: -0.3rem;
    position: relative;
}

.newTabIcon {
    width: 0.75rem;
    height: 0.75rem;
    vertical-align: super;
    margin: 0;
    -webkit-user-select: none;
    user-select: none;
}

/*Style vertical tabs*/
tab-names {
    min-height: 2rem;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
    margin-left: calc(var(--border-radius) * 2.25);
    margin-right: calc(var(--border-radius) * 2.25);
    margin-bottom: -0.65rem;
}
a.nav_tab,
tab-name {
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--border-color-outset);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    height: 1.8rem;
    line-height: 1.8rem;
    padding: .1rem .5rem;
    margin-left: -0.275rem;
    margin-bottom: 0.025rem;
    display: inline-block;
    color: var(--color-interactive);
    background-color: var(--color-body);
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
}
a.nav_tab.active,
tab-name.active {
    border-color: var(--border-color-inset);
    background-color: var(--color-article);
    cursor: default;
    text-decoration: none;
}
a.nav_tab:hover,
tab-name:hover {
    border-color: var(--border-color-inset);
    background-color: var(--color-article);
    text-decoration: none;
}
a.nav_tab.danger,
tab-name.danger {
    color: var(--color-failure);
    font-weight: 100;
    filter: brightness(0.7);
}
a.nav_tab.danger.active,
tab-name.danger.active {
    filter: none;
}
a.nav_tab.danger:hover,
tab-name.danger:hover {
    filter: none;
}
/*Styling of vertical-tabs content*/
tab-contents {
    display: block;
    background-color: var(--color-article);
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-style: solid;
    border-color: var(--border-color-inset);
    padding: .5rem .5rem;
    margin: .5rem;
}
tab-content {
    display: none;
}
tab-content.active {
    display: block;
}

image-upload {
    display: block;
}
