#footerLinks, #footerContacts, #footerCopyright {
    font-size: 0.7rem;
}
#footerLinks {
    margin-top: -0.1rem;
}
.linkIcon.dimmedIcon {
    filter: brightness(70%);
}
.linkIcon.dimmedIcon:hover,
.linkIcon.dimmedIcon:active,
.linkIcon.dimmedIcon:focus {
    filter: brightness(100%);
}
.linkIcon.dimmedIcon.colorInversion:hover,
.linkIcon.dimmedIcon.colorInversion:active,
.linkIcon.dimmedIcon.colorInversion:focus {
    filter: brightness(100%) invert(100%);
}
a.noOutline {
    outline: none;
}
#footerContacts {
    display: inline-block;
}
#footerSitemap {
    display: inline-block;
    text-decoration: underline var(--color-interactive);
    position: relative;
    margin: auto 0.5rem;
    border-style: outset;
    border-radius: var(--border-radius);
    border-color: transparent;
    padding: 0.1rem;
    border-width: 0.1rem;
}
#footerSitemap:hover, #footerSitemap:active, #footerSitemap:focus {
    border-color: var(--color-interactive);
    text-decoration: none;
}
#footerSitemap #sitemapLinks {
    position: absolute;
    width: 10rem;
    height: 1.5rem;
    top: -2.25rem;
    left: -3.5rem;
    background-color: var(--color-block);
    line-height: 1.5rem;
}
#footerSitemap[open] summary:after {
    content: ' ▲';
}
#footerLinks a {
    margin: auto 0.5rem;
}
#sitemapLinks {
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-style: solid;
    border-color: var(--border-color-inset);
}
back-to-top {
    color: var(--color-interactive);
    display: inline-block;
    font-weight: 900;
    cursor: pointer;
    margin: 0 3rem 0 3rem;
}
a.noOutline:hover,
a.noOutline:focus,
a.noOutline:active {
    border-color: transparent;
}
html-templates {
    display: none;
}
