#header_logo {
    font-family: var(--font-serif);
    font-size: 2rem;
    letter-spacing: 0.25rem;
    font-weight: bold;
    color: var(--border-light);
    line-height: 2rem;
    height: 2rem;
}
#header_logo img,
#header_logo span {
    height: 2rem;
    line-height: 2rem;
    display: inline-block;
}
#header_logo img {
    margin-bottom: 0.4rem;
}
#header_logo span {
    width: 11rem;
}
#header_logo span:first-of-type {
    text-align: right;
    margin-right: -0.7rem;
}
#header_logo span:last-of-type {
    text-align: left;
    margin-left: -0.5rem;
}
#h1title,
web-share {
    display: inline-block;
    font-size: 1rem;
    line-height: 1rem;
    height: 1rem;
}
web-share {
    width: 1rem;
    margin-bottom: 0.7rem;
    margin-left: 0.5rem;
    cursor: pointer;
    vertical-align: top;
}
web-share:hover,
web-share:focus,
web-share:active {
    filter: var(--border-shadow);
}
web-share:active {
    filter: brightness(0.7);
}
#h1div {
    width: 100%;
    height: 1rem;
    margin-top: 0.5rem;
}
#h1title {
    max-width: calc(100% - 0.5rem - 4rem);
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    height: 1.1rem;
    letter-spacing: 0.1rem;
    cursor: unset;
}
#logoNav {
    position: relative;
    display: inline-block;
}
#logoIcon, #showNav {
    position: absolute;
}
#h1title a {
    font-weight: unset;
    color: unset;
    text-decoration: unset;
    border: unset;
}
#prodLink {
    width: 1rem;
    vertical-align: top;
    filter: sepia(1);
}
#h1div .linkIcon {
    vertical-align: top;
}
