#aside_buttons {
    position: fixed;
    z-index: 2;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    height: 100vh;
}
side-show {
    border-radius: var(--border-radius);
    display: block;
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
side-show .navIcon {
    width: 3rem;
    height: 3rem;
    opacity: 0.75;
}
side-show .navIcon:hover,
side-show .navIcon:active,
side-show .navIcon:focus {
    background-color: var(--color-block);
    opacity: 1;
}
side-hide {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 4;
}

#back-to-top {
    bottom: 0;
    position: fixed;
}

.sidebar {
    right: 0;
    width: var(--sidebar-width);
    display: flex;
    position: fixed;
    z-index: 3;
    margin-left: var(--sidebar-margin);
    height: 100vh;
    top: 0;
    flex-direction: column;
    justify-content: center;
}
#sidebar_pop_up {
    top: 0;
    height: 100vh;
    background-color: var(--color-body);
    border-style: solid;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    border-color: var(--border-color-inset);
    border-right: none;
    border-bottom: none;
    border-top: none;
}

#no_db_section img {
    width: 3rem;
    height: 3rem;
    margin: .25rem auto;
    display: block;
}

/*Center form content*/
#signinup {
    text-align: center;
}

/*Limit width*/
#signinup .float_label_div,
#signinup_email,
#signinup_username,
#signinup_password,
password-requirements {
    /*Width corresponds to characters.
    10 looks the lowest number that makes placeholders more or less readable.
    Longer than 65 characters is unnecessary, since we limit username at 64. 65 is used since with 64 there is a higher chance of truncation*/
    width: clamp(calc(10ch + var(--showpassword-width)), calc(20ch + var(--showpassword-width)), calc(65ch + var(--showpassword-width)));
}

/*Override global highlights since form is present on all pages by default*/
/*Border for valid/invalid input*/
#signinup_email, #signinup_password {
    border-style: solid;
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-color: var(--border-color-outset);
    box-shadow: none;
}
#signinup_email:invalid:focus:not(:placeholder-shown),
#signinup_email[required]:invalid:focus:placeholder-shown,
#signinup_password:invalid:focus:not(:placeholder-shown),
#signinup_password[required]:invalid:focus:placeholder-shown {
    border-color: var(--color-failure);
    box-shadow: 0.1rem 0.1rem 0.75rem var(--color-failure), -0.1rem -0.1rem 0.75rem var(--color-failure);
}
#signinup_email:valid:focus,
#signinup_password:valid:focus {
    border-color: var(--color-success);
    box-shadow: 0.1rem 0.1rem 0.75rem var(--color-success), -0.1rem -0.1rem 0.75rem var(--color-success);
}

/*Adjust submit button width based on text*/
#signinup_submit {
    width: auto;
}

/*Pad text inside input to allow placement for an eye icon*/
#current_password,
#new_password,
#signinup_password {
    padding-left: 5ch;
}

/*Style eye icon*/
password-show {
    color: var(--color-interactive);
    position: absolute;
    top: -0.3rem;
    left: 0.25rem;
    cursor: pointer;
    display: none;
    content: '👁';
    width: var(--showpassword-width);
    font-size: 1.75rem;
    text-align: center;
}

/*Add eye icon to class for ease of use*/
input~password-show:before {
    content: '👁';
    font-size: smaller;
}

/*Add diagonal line to the eye icon if it's text field*/
input[type^=text]~password-show:after {
    content: '╱';
    position: absolute;
    left: 0.25rem;
    font-weight: bold;
    color: var(--color-failure);
}

/*Show eye icon only when field is focused or there is text there*/
input:focus~password-show,
input:not(:placeholder-shown)~password-show {
    display: block;
}

/*Style text of password requirement*/
password-requirements {
    margin-top: 1rem;
    text-align: left;
}

#own_profile_link {
    text-decoration: none;
    padding-top: 0;
    padding-bottom: 0;
}

#rememberme_div {
    display: flex;
}

.sidebar_block {
    display: grid;
    align-items: start;
    justify-items: stretch;
    margin-top: 1rem;
    grid-template-areas:
        'block_header'
        'block_content';
    grid-template-columns: 100%;
    background-color: var(--color-article);
    border-width: var(--border-width);
    border-radius: var(--border-radius);
    border-style: solid;
    border-color: var(--border-color-inset);
}
.sidebar_block_header {
    grid-area: block_header;
    background-color: var(--color-block);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding-right: .25rem;
    padding-left: .25rem;
    border-bottom: var(--border-light) calc(var(--border-width)/2) solid;
    text-align: center;
    font-weight: bold;
}
.sidebar_block_content {
    grid-area: block_content;
    text-align: center;
    vertical-align: middle;
    margin: 0.25rem auto 0 auto;
}
