#history_terms,
#history_privacy,
#history_security {
    margin-top: 5rem;
}
#me {
    width: 8rem;
    height: 8rem;
}
.aboutMe {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    filter: var(--border-shadow);
}
