.articleHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: solid;
    border-width: var(--border-width);
    border-color: var(--border-color-inset);
    margin-bottom: 0.25rem;
}
.articleName {
    margin-top: 0;
    margin-bottom: 0;
}
