.bicChain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#bicRefresh {
    margin-left: 1rem;
    top: -0.5rem;
    position: absolute;
}
#bic_spinner {
    display: inline;
}
