#se_copyright {
    text-align: center;
    font-style: italic;
    margin: 3rem auto 1rem auto;
}
#ff_portrait_img {
    width: 95%;
    border-radius: var(--border-radius);
    border-width: var(--border-width);
    border-color: var(--border-color-outset);
    border-style: solid;
}
.ff_char_page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.ff_char_page > section {
    flex-grow: 1;
    width: fit-content;
    max-width: 100%;
    flex-basis: 45%;
    padding: 0.1rem;
}
.ff_char_block .entityCard {
    min-width: 45%;
}
.ff_char_page .searchResults {
    justify-content: flex-start;
}
.ff_crest {
    width: 4rem;
    height: 4rem;
}
#ff_track_id,
#ff_track_type {
    width: 22rem;
}
#ff_track_id_wrap,
#ff_track_type_wrap {
    display: block;
    width: 22rem;
}
#ff_track_submit {
    display: block;
    margin: auto;
}
@media (max-width: 55.599999em) {
    .ff_char_page {
        flex-direction: column;
    }
}
.ff_owned {
    box-shadow: 0.1rem 0.1rem 0.25rem var(--color-success), -0.1rem -0.1rem 0.25rem var(--color-success);
}
