#galleryOverlay {
    width: 100vw;
    height: 100vh;
    background-color: var(--color-body);
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    z-index: 10;
}
#galleryClose {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    z-index: 2;
}
#galleryGrid {
    opacity: 0.90;
    display: grid;
    grid-template-rows: 3rem calc(100vh - 6rem) 3rem;
    grid-template-columns: 5rem calc(100vw - 10rem) 5rem;
    grid-template-areas:
        'galleryPrevious galleryNameBlock galleryNext'
        'galleryPrevious galleryImage galleryNext'
        'galleryPrevious galleryCounter galleryNext';
}
#galleryPrevious,
#galleryNext {
    background-color: var(--color-body);
    height: 100vh;
    width: 5rem;
    color: var(--color-interactive);
    font-weight: bolder;
    font-size: 5rem;
    vertical-align: middle;
    text-align: center;
    line-height: calc(100vh - 5rem);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}
#galleryPrevious {
    grid-area: galleryPrevious;
}
#galleryNext {
    grid-area: galleryNext;
}
#galleryImage {
    grid-area: galleryImage;
    height: calc(100vh - 6rem);
    width: calc(100vw - 10rem);
    overflow: auto;
}
#galleryCounter, #galleryNameBlock {
    background-color: var(--color-body);
    height: 3rem;
    width: calc(100vw - 10rem);
    vertical-align: middle;
    text-align: center;
    line-height: 3rem;
}
#galleryNameBlock {
    grid-area: galleryNameBlock;
    font-weight: bold;
}
#galleryCounter {
    grid-area: galleryCounter;
    font-style: italic;
}
#galleryPrevious:focus,
#galleryNext:focus,
#galleryPrevious:hover,
#galleryNext:hover {
    filter: brightness(2);
}
#galleryPrevious:active,
#galleryNext:active {
    filter: brightness(0.7);
}
#galleryLoadedImage {
    height: 100%;
    cursor: zoom-in;
    margin: auto;
    display: block;
}
#galleryLoadedImage.zoomedIn {
    height: unset;
    cursor: zoom-out;
}
.galleryZoom {
    text-decoration: none;
    border-color: var(--color-interactive);
    cursor: zoom-in;
}
#galleryLoadedImage.noZoom {
    cursor: default;
}

/*Carousel of images*/
.imageCarousel {
    height: 10rem;
    background-color: var(--color-body);
    border-radius: var(--border-radius);
    display: grid;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: 1fr 23fr 1fr;
    grid-template-areas:
        'prev list next'
}
.imageCarousel figure {
    height: 10rem;
}
.imageCarousel>ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
    grid-area: list;
}
/*Next two settings are required to hide scrollbar, but keep scroll functionality*/
.imageCarousel>ul {
    overflow: overlay hidden;
}
.imageCarousel>ul::-webkit-scrollbar {
    display: none;
}
.imageCarousel li {
    list-style: none;
}
.imageCarousel figure>a {
    text-decoration-line: underline;
    border: none;
    position: relative;
    height: 5rem;
    display: block;
}
.imageCarousel figure>a>div:hover,
.imageCarousel figure>a>div:focus,
.imageCarousel figure>a>div:active {
    filter: opacity(.25);
}
.imageCarousel figure>a>img,
.imageCarousel figcaption,
.imageCarousel figure>a>div {
    width: 10rem;
}
.imageCarousel figure>a>img,
.imageCarousel figure>a>div {
    height: 5rem;
}
.imageCarousel figcaption {
    height: 4rem;
    overflow: clip;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-overflow: ellipsis;
    text-align: center;
}
.imageCarousel figure {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}
.imageCarouselPrev,
.imageCarouselNext {
    height: 10rem;
    font-size: 3rem;
    vertical-align: middle;
    text-align: center;
    line-height: 10rem;
    font-weight: bolder;
    color: var(--color-interactive);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    background-color: var(--color-body);
}
.imageCarouselPrev {
    grid-area: prev;
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}
.imageCarouselNext {
    grid-area: next;
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.imageCarouselPrev:focus,
.imageCarouselNext:focus,
.imageCarouselPrev:hover,
.imageCarouselNext:hover,
.imageCarouselPrev:active,
.imageCarouselNext:active {
    border-color: var(--color-interactive);
    border-style: solid;
    border-width: var(--border-width);
    background-color: var(--color-block);
}
.imageCarouselPrev.disabled,
.imageCarouselNext.disabled {
    color: var(--color-disabled);
    cursor: default;
}
.imageCarouselPrev.disabled:active,
.imageCarouselNext.disabled:active {
    filter: brightness(1);
}
.imageCarouselPrev.disabled:focus,
.imageCarouselNext.disabled:focus,
.imageCarouselPrev.disabled:hover,
.imageCarouselNext.disabled:hover,
.imageCarouselPrev.disabled:active,
.imageCarouselNext.disabled:active {
    border: none;
    background-color: var(--color-body);
}
.imageCarouselPrev:active,
.imageCarouselNext:active {
    filter: brightness(0.7);
}
.imageCarousel figure>a>img,
.imageCarousel figure>a>div {
    position: absolute;
    top: 0.75rem;
    left: 0;
}
.imageCarousel figure>a>div {
    color: var(--color-text);
    background-color: var(--color-body);
    filter: opacity(0.75);
    text-align: center;
    vertical-align: middle;
    line-height: 5rem;
    font-weight: bold;
}
