/*Styling related to GameMaker objects*/
game-canvas {
    display: block;
    margin-top: 1rem;
}
game-canvas .sound_warning {
    font-size: small;
    text-align: center;
}
#gm4html5_div_id #canvas {
    position: fixed;
    top: 50%!important;
    left: 50%!important;
    bottom: -50%!important;
    right: -50%!important;
    z-index: 100;
    transform: translate(-50%, -50%);
}

#gm4html5_div_id canvas {
    image-rendering: optimizeSpeed;
    -ms-touch-action: none;
    margin: 0;
    padding: 0;
    border: 0;
}
:-webkit-full-screen #gm4html5_div_id #canvas {
    width: 100%;
    height: 100%;
}
div.gm4html5_div_class
{
    margin: 0;
    padding: 0;
    border: 0;
}
/* START - Login Dialog Box */
div.gm4html5_login
{
    padding: 20px;
    position: absolute;
    border: solid 2px #000000;
    background-color: #404040;
    color:#00ff00;
    border-radius: 15px;
    box-shadow: #101010 20px 20px 40px;
}
div.gm4html5_cancel_button
{
    float: right;
}
div.gm4html5_login_button
{
    float: left;
}
div.gm4html5_login_header
{
    text-align: center;
}
/* END - Login Dialog Box */
:-webkit-full-screen {
    width: 100%;
    height: 100%;
}

#gameStartButton {
    display: block;
    width: calc(100% - 1rem);
}

#bannerPlay {
    position: relative;
}
#bannerPlay hide-banner {
    display: none;
}
#bannerPlay og-image img {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}
#bannerPlay #play_overlay {
    position: absolute;
    top: 0;
    left: 0.5rem;
    width: calc(100% - 1rem);
    text-align: center;
    font-size: xxx-large;
    opacity: 0.5;
    height: 49%;
    padding-top: 25%;
    cursor: pointer;
    text-shadow: -4px -4px 0 var(--color-interactive), 4px -4px 0 var(--color-interactive), -4px 4px 0 var(--color-interactive), 4px 4px 0 var(--color-interactive);
}
#bannerPlay #play_overlay:hover,
#bannerPlay #play_overlay:active,
#bannerPlay #play_overlay:focus {
    opacity: 1;
}
#bannerPlay #play_overlay:active {
    filter: brightness(.7);
}
