.section_icon {
    width: 2rem;
    height: 2rem;
}
.section_icon.disabled {
    filter: grayscale(1);
}
.section_name {
    padding-left: 0.5rem;
    font-weight: bold;
    font-size: large;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
.section_icons {
    text-align: center;
}
.section_icons span {
    text-decoration: none!important;
}
.section_name a,
.thread_name a {
    display: block;
    flex-grow: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: none!important;
}
.section_description {
    padding-left: 1.5rem;
    font-size: small;
}
#sections_list tr td:first-child {
    width: 2rem;
    padding: 0.5rem;
}
#sections_list tr td:nth-child(3),
#sections_list tr td:nth-child(4),
#sections_list tr td:nth-child(9),
#sections_list tr td:nth-child(10) {
    width: 4rem;
    text-align: center;
}
#sections_list tr td:nth-child(7),
#sections_list tr td:nth-child(8) {
    width: 5rem;
    text-align: center;
}
#sections_list tr td:nth-child(5) {
    width: 2rem;
    text-align: center;
}
#sections_list tr td:nth-child(6) {
    width: 5rem;
    text-align: center;
}


.thread_name {
    padding-left: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}
#threads_list,
#sections_list {
    margin-bottom: 1rem;
}
#threads_list tr td:nth-child(2) {
    width: 6rem;
    text-align: center;
}
#threads_list tr td:nth-child(3) {
    width: 6rem;
    text-align: center;
}
#threads_list tbody tr td:nth-child(2),
#threads_list tbody tr td:nth-child(3) {
    font-size: small;
}
#threads_list tr td:nth-child(4) {
    width: 4rem;
    text-align: center;
}

/*Styling posts*/
.post {
    display: grid;
    padding: 0;
    gap: var(--grid-gap);
    align-items: start;
    justify-items: stretch;
    margin: 0.5rem 0.5rem 1rem;
    grid-template-areas:
          'post_header post_header'
          'post_user post_text'
          'post_footer post_footer';
    grid-template-columns: 15% calc(85% - var(--grid-gap));
}
.post.nouser {
    grid-template-areas:
          'post_header'
          'post_text'
          'post_footer';
    grid-template-columns: 100%;
}
.post_header {
    grid-area: post_header;
    background-color: var(--color-block);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    border-bottom: var(--border-light) calc(var(--border-width)/2) solid;
}
.post_name {
    margin-top: 0.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.post_name a {
    text-decoration: none!important;
}
.post_id {
    display: inline;
    font-weight: normal;
    font-size: unset;
}
.post_time_id {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: smaller;
}
.post_footer {
    grid-area: post_footer;
    border-top: var(--border-light) calc(var(--border-width)/2) solid;
    background-color: var(--color-block);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    padding-right: 0.25rem;
    padding-left: 0.25rem;
    display: grid;
    grid-template-areas:
            'post_likes post_icons'
            'post_likes post_edit';
    align-items: end;
}
.post_edited {
    grid-area: post_edit;
    font-size: smaller;
    text-align: right;
    font-style: italic;
}
.post_icons {
    grid-area: post_icons;
    text-align: right;
}
.post_icons span {
    text-decoration: none!important;
    font-size: larger;
}
.post_user {
    grid-area: post_user;
    text-align: center;
    border-right: var(--border-light) calc(var(--border-width)/2) dotted;
}
.post_username {
    margin-bottom: 0.25rem;
}
.post_text {
    grid-area: post_text;
}

#landing_read_more {
    display: block;
    text-align: center;
    margin-bottom: 0.25rem;
    text-decoration: none;
    border-color: var(--color-interactive);
}
#landing_read_more:hover,
#landing_read_more:focus,
#landing_read_more:active {
    background-color: var(--color-article);
}

/*Styling of changelog list*/
.changelog_list {
    margin: .25rem;
}
.changelog_sublist {
    margin: 0;
    padding-left: 1.5rem;
}
.changelog_sublist_name {
    list-style-type: '❖';
    list-style-position: outside;
}
.changelog_sublist_name::marker {
    color: transparent;
    text-shadow: 0 0 0 var(--color-interactive);
    font-size: x-large;
}
.changelog_change {
    list-style-type: '✱';
    list-style-position: outside;
}
.changelog_change::marker {
    color: transparent;
    text-shadow: 0 0 0 var(--color-warning);
    font-size: x-large;
}
.changelog_addition {
    list-style-type: '➕';
    list-style-position: outside;
}
.changelog_addition::marker {
    color: transparent;
    text-shadow: 0 0 0 var(--color-success);
}
.changelog_removal {
    list-style-type: '➖';
    list-style-position: outside;
}
.changelog_removal::marker {
    color: transparent;
    text-shadow: 0 0 0 var(--color-failure);
}

like-dis {
    grid-area: post_likes;
    text-align: left;
}
like-dis input {
    text-decoration: none !important;
}

.thread_icons {
    text-align: center;
}
.thread_icons span {
    text-decoration: none !important;
}

.post_history .selected::before {
    content: '❱❱';
    color: var(--color-success);
    margin-right: 0.25rem;
}
.post_history .selected::after {
    content: '❰❰';
    color: var(--color-success);
    margin-left: 0.25rem;
}

/*Checkboxes*/
.section_private+label,
.section_closed+label {
    text-decoration-color: var(--color-interactive);
}
.section_private:not(:checked)+label:after {
    content: 'Public';
}
.section_private:checked+label:after {
    content: 'Private';
}
input[type=checkbox].section_private:not(:checked)+label::before {
    content: '🚶';
}
input[type=checkbox].section_private:checked+label::before {
    content: '🚷';
}
.section_closed:not(:checked)+label:after {
    content: 'Open';
}
.section_closed:checked+label:after {
    content: 'Closed';
}
input[type=checkbox].section_closed:not(:checked)+label::before {
    content: '🔓';
}
input[type=checkbox].section_closed:checked+label::before {
    content: '🔒';
}

#delete_section {
    display: block;
    color: var(--color-failure);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}

image-upload > .section_icon {
    width: 2rem;
    display: inline-block;
    margin-bottom: 0.5rem;
}

/*Style textarea tags for section description*/
#new_section_description,
#cur_section_description {
    width: 100%;
    max-width: 100ch;
}
