/*Style password strength*/
password-strength {
    display: block;
    color: var(--color-text);
    text-align: left;
}
.password_weak,
.password_strength {
    color: var(--color-failure);
    font-weight: 400;
}
.password_medium {
    color: var(--color-warning);
    font-weight: 500;
}
.password_strong {
    color: var(--color-success);
    font-weight: 700;
}
.password_very_strong {
    font-weight: 900;
    background: linear-gradient(to bottom, hsl(41, 33%, 72%) 22%, hsl(38, 38%, 28%) 24%, hsl(41, 33%, 72%) 26%, hsl(41, 33%, 72%) 27%, hsl(45, 100%, 85%) 40%, hsl(40, 59%, 50%) 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Styling of password change*/
#password_change {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#password_change>.float_label_div {
    display: block;
}
#password_submit {
    margin-bottom: 1rem;
}

/*Tabs styling for user control pages*/
.vertical_tabs {
    margin-left: calc(var(--border-radius) * 1.5);
    margin-right: calc(var(--border-radius) * 1.5);
    min-height: 2rem;
    width: fit-content;
}
.vertical_tabs>.nav_tab {
    text-decoration: none;
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--border-color-outset);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    height: 1.8rem;
    line-height: 1.8rem;
    padding: .1rem .5rem;
    margin-left: -0.275rem;
    margin-bottom: 0.025rem;
    display: inline-block;
    color: var(--color-interactive);
    font-weight: 700;
}
.vertical_tabs>.nav_tab.active {
    border-color: var(--border-color-inset);
    background-color: var(--color-article);
    cursor: default;
}
.vertical_tabs>.nav_tab:hover {
    border-color: var(--border-color-inset);
    background-color: var(--color-article);
}
.vertical_tabs>.nav_tab.danger {
    color: var(--color-failure);
    font-weight: 100;
    filter: brightness(0.7);
}
.vertical_tabs>.nav_tab.danger:hover {
    filter: none;
}

#uc_settings {
    display: block;
    text-align: center;
}

/*Set the width to be roughly the same as other inputs on UC Profile page*/
#sex_value,
#birthday_value {
    width: 11.75rem;
}
#about_value {
    width: 23.5rem;
    height: 5rem;
}
/*Set width to match file upload field*/
#new_avatar_url {
    width: 18.75rem;
}
