/*Style password strength*/
.pass_str_div {
    display: none;
    color: var(--color-text);
    text-align: left;
}
.password_weak,
.password_strength {
    color: var(--color-failure);
    font-weight: 400;
}
.password_medium {
    color: var(--color-warning);
    font-weight: 500;
}
.password_strong {
    color: var(--color-success);
    font-weight: 700;
}
.password_very_strong {
    font-weight: 900;
    background: linear-gradient(to bottom, hsl(41, 33%, 72%) 22%, hsl(38, 38%, 28%) 24%, hsl(41, 33%, 72%) 26%, hsl(41, 33%, 72%) 27%, hsl(45, 100%, 85%) 40%, hsl(40, 59%, 50%) 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*Styling of password change*/
#password_change {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#password_change>.float_label_div {
    display: block;
}
#password_requirement {
    margin-top: 1rem;
}
#password_submit {
    margin-bottom: 1rem;
}

/*Tabs styling for user control pages*/
.vertical_tabs {
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--border-color-inset);
    margin-left: calc(var(--border-radius) / 1.5);
    margin-right: calc(var(--border-radius) / 1.5);
    border-bottom: none;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    height: 2rem;
    width: fit-content;
}
.vertical_tabs>.nav_tab {
    text-decoration: none;
    border-style: solid;
    border-width: var(--border-width);
    border-color: var(--border-color-outset);
    height: 1.8rem;
    line-height: 1.8rem;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-radius: 0;
    padding: .1rem .5rem;
    margin-left: -0.3rem;
    display: inline-block;
    color: var(--color-interactive);
    font-weight: 700;
}
.vertical_tabs>.nav_tab.active {
    border-color: var(--border-color-inset);
    background-color: var(--color-article);
    cursor: default;
}
.vertical_tabs>.nav_tab:hover {
    border-color: var(--border-color-inset);
    background-color: var(--color-article);
}
.vertical_tabs>.nav_tab:first-child {
    border-top-left-radius: var(--border-radius);
    margin-left: 0;
}
.vertical_tabs>.nav_tab:last-child {
    border-top-right-radius: var(--border-radius);
    border-right: none;
}
.vertical_tabs>.nav_tab.danger {
    color: var(--color-failure);
    font-weight: 100;
    filter: brightness(0.7);
}
.vertical_tabs>.nav_tab.danger:hover {
    filter: none;
}
