<ul>
    <li>Self‑Service Success Rate{% if subservice_name == 'metrics' %}. % of L0 attempts that resolve the issue without ticket creation. Applicable only if there is a L0 method, that allows such tracking (like chatbots). For example, ≥40% success rate.{% endif %}</li>
    <li>Notification Delivery Rate{% if subservice_name == 'metrics' %}. % of undelivered notifications. Applicable to notification channels, that allow read tracking. For example, ≥95%.{% endif %}</li>
    <li>Preventative Rate{% if subservice_name == 'metrics' %}. % of issues detected and prevented or mitigated on action execution with notification of the user. For example, ≥90% of issues.{% endif %}</li>
</ul>