<ul>
    <li>Cross‑Team Handoff Time{% if subservice_name == 'metrics' %}. Average time of tickets transferring from "Waiting for Other Group" back to "In Progress". For example, ≤4 hours.{% endif %}</li>
    <li>Knowledge‑Base Contribution Rate{% if subservice_name == 'metrics' %}. Number of new (or updated) KB articles per month. Can be specifically for articles generated from resolved tickets. ≥5 per 100 tickets per month for a mid‑size team.{% endif %}</li>
    <li>Community Resolution Ratio{% if subservice_name == 'metrics' %}. % of issues resolved by community members. Applicable if there is a public community like forum. For example, ≥50%. Can benefit if paired with threads' age.{% endif %}</li>
</ul>