<ul>
    <li>First‑Response Time (FRT){% if subservice_name == 'metrics' %}. Speed of initial human contact after ticket creation. For example, 15 minutes for premium users, 1 hour for regular ones.{% endif %}</li>
    <li>Customer‑Reported Satisfaction (CSAT){% if subservice_name == 'metrics' %}. Direct user sentiment after each ticket closure. For example, ≥85% positive.{% endif %}</li>
    <li>User Activity Level{% if subservice_name == 'metrics' %}. Number messages in public community like forum. For example, 1000 messages per month. In addition, applicable for <b>Collaboration</b>. Can benefit from linking to number of active users.{% endif %}</li>
</ul>