<ul>
    <li>Ticket Load per Specialist{% if subservice_name == 'metrics' %}. Average concurrent tickets per specialist (including waiting states). For example, ≤10. Does not cover backlog, since those are normally not assigned to a person.{% endif %}</li>
    <li>Specialist Burnout Index{% if subservice_name == 'metrics' %}. % of specialists leaving annually. For example, ≤5%. Can benefit from also tracking Average Tenure.{% endif %}</li>
    <li>Churn Correlation{% if subservice_name == 'metrics' %}. % of users who left within 30 days of a “negative” ticket outcome. For example, ≤5%.{% endif %}</li>
</ul>