<ul>
    <li>Hidden Issue Ratio{% if subservice_name == 'metrics' %}. % of issues affecting multiple users, that were not made public. For example, ≤10%.{% endif %}</li>
    <li>Changelog Exposure Ratio{% if subservice_name == 'metrics' %}. % of public changelog entries per release cycle. For example, ≥95%. Can benefit from tracking how many users subscribe to or view changelogs, if tracking is possible.{% endif %}</li>
    <li>Root‑Cause Analysis Completion{% if subservice_name == 'metrics' %}. % of closed tickets that have some form of RCA. For example, 100% for L3/L4, ≥70% for L1/L2. Can benefit from peer-review scoring of RCA as well.{% endif %}</li>
</ul>