{% if not children.entities and not threads.entities %}
    <article class="margin05rem">
        <p class="middle">Looks like we've got nothing in here</p>
        <img loading="lazy" decoding="async" alt="Not found" src="/assets/images/errors/notfound.gif" class="middle block">
    </article>
{% else %}
    <div class="section_icons">
        {% if created > 'now'|date('U') %}<span data-tooltip="Scheduled section">⏲</span>{% endif %}
        {% if closed %}<span data-tooltip="Closed section">🔒</span>{% endif %}
        {% if private %}<span data-tooltip="Private section">🚷</span>{% endif %}
    </div>
{% endif %}
{% if children.entities %}
    <table id="sections_list">
        <thead>
            <tr>
                <td></td><td>Section name</td><td>Threads</td><td>Posts</td>
                {% if editMode %}
                    <td>ID</td>
                    {% if 'editSections' in session_data.permissions %}
                        <td data-tooltip="Optional order for sorting.<br>The higher the value, the higher in the list a section will be.<br>After that name sorting is expected.">Order</td>
                        <td data-tooltip="Flag indicating if section is closed.<br>Click the icon to toggle.">Closed</td>
                        <td data-tooltip="Flag indicating if section is private.<br>Click the icon to toggle.">Private</td>
                    {% endif %}
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for section in children.entities %}
                {{ include('talks/rows/section.twig', {'section': section, 'editMode': editMode, 'permissions': session_data.permissions}, with_context = false) }}
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% if threads.entities %}
    <table id="threads_list">
        <thead>
        <tr>
            <td>Thread name</td><td>Created</td><td>Last post</td><td>Posts</td>
            {% if editMode %}
                <td>ID</td>
                {% if 'canPin' in session_data.permissions %}
                    <td data-tooltip="Pinned threads will appear at the top of the threads' list in respective section.<br>Click to change.">Pinned</td>
                {% endif %}
                {% if type != 'Support' and 'markPrivate' in session_data.permissions %}
                    <td data-tooltip="Public threads can be viewed by anyone.<br>Private ones can be viewed only by creator and people with special permission.<br>Click to change.">Private</td>
                {% endif %}
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for thread in threads.entities %}
            {{ include('talks/rows/thread.twig', {'thread': thread, 'editMode': editMode, 'permissions': session_data.permissions}, with_context = false) }}
        {% endfor %}
        </tbody>
    </table>
{% endif %}
