{% if http_error != 'database' and http_error != 'maintenance' %}
    <dialog id="login_form" class="modal" aria-label="Login form">
        <aside class="sidebar">
            <side-hide>
                <input id="hide_sidebar_icon" class="nav_icon" alt="Close" data-tooltip="Close" type="image" src="/assets/images/close.svg">
            </side-hide>
            <section>
                {{ include('common/layout/noscript.twig') }}
                {{ include('common/layout/sidebar/signinup.twig') }}
            </section>
        </aside>
    </dialog>
{% else %}
    <dialog id="sidebar_no_db" class="modal" aria-label="{% if http_error == 'database' %}No database connection{% else %}Maintenance{% endif %}">
        <aside class="sidebar">
            <side-hide>
                <input id="hide_sidebar_icon" class="nav_icon" alt="Close" data-tooltip="Close" type="image" src="/assets/images/close.svg">
            </side-hide>
            <section id="no_db_section">
                {% if http_error == 'database' %}
                    <img loading="lazy" decoding="async" alt="No database connection" src="/assets/images/errors/database.svg">
                    <p class="warning">The database is currently unavailable, and you are seeing a static or cached page, that is not dependent on it. Sidebar elements suppressed.</p>
                {% else %}
                    <img loading="lazy" decoding="async" alt="Maintenance" src="/assets/images/errors/maintenance.svg">
                    <p class="warning">The database is currently under maintenance, and you are seeing a static or cached page, that is not dependent on it. Sidebar elements suppressed.</p>
                {% endif %}
            </section>
        </aside>
    </dialog>
{% endif %}
