includes:
    # Need to use phar path due to how bleedingEdge is setup and PHPStan itself and how Rector works
    - phar:///app/vendor/phpstan/phpstan/phpstan.phar/conf/bleedingEdge.neon
    - /app/vendor/phpstan/phpstan-strict-rules/rules.neon
    - /app/vendor/phpstan/phpstan-deprecation-rules/rules.neon
    - /app/vendor/phpstan/phpstan-phpunit/extension.neon
    - /app/vendor/phpstan/phpstan-phpunit/rules.neon
    - /app/vendor/phpstan/phpstan-symfony/extension.neon
    - /app/vendor/phpstan/phpstan-symfony/rules.neon
    - /app/vendor/symplify/phpstan-rules/config/phpstan-extensions.neon

parameters:
    level: max
    excludePaths:
        - /app/vendor
    fileExtensions:
        - php
    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 8
        minimumNumberOfJobsPerProcess: 1
    cache:
        nodesByStringCountMax: 1024
        resolvedPhpDocBlockCacheCountMax: 4056
        nameScopeMapMemoryCacheCountMax: 4056
    #TODO: uncomment when moving to APP_DEBUG issue is resolved
    #symfony:
        #containerXmlPath: /app/var/cache/dev/App_KernelDevDebugContainer.xml
    #TODO: Consider using PHP configs, when they become *the* standard (used by recipes, at least)
    #scanDirectories:
        #- /app/var/cache/dev/Symfony/Config
        # If you're using PHP config files (including the ones under packages/*.php) for Symfony 5.3+,
        # you need this to load the helper functions (i.e. service(), env()):
    #scanFiles:
        #- /app/vendor/symfony/dependency-injection/Loader/Configurator/ContainerConfigurator.php
    reportIgnoresWithoutComments: false
    tmpDir: /tmp/phpstan
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    editorUrlTitle: '%%relFile%%:%%line%%'
    resultCachePath: /tmp/phpstan/phpstan.php
    #Changed default rules
    checkTooWideParameterOutInProtectedAndPublicMethods: true
    checkTooWideThrowTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkBenevolentUnionTypes: true
    reportPossiblyNonexistentGeneralArrayOffset: true
    reportPossiblyNonexistentConstantArrayOffset: true
    reportAlwaysTrueInLastCondition: true
    reportNonIntStringArrayKey: true
    reportUnsafeArrayStringKeyCasting: prevent
    reportAnyTypeWideningInVarTag: true
    checkMissingOverrideMethodAttribute: true
    checkMissingOverridePropertyAttribute: true
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            throwTypeCovariance: true
            tooWideImplicitThrowType: true
    checkMissingCallableSignature: true
    usePathConstantsAsConstantString: true
    #Rules initially disabled by PHPStan Strict Rules (observe the behavior)
    polluteScopeWithLoopInitialAssignments: true
    polluteScopeWithAlwaysIterableForeach: true
    polluteScopeWithBlock: true
    symplify:
        symfonyReturnType: true
        pathStrings: true
