<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.readthedocs.io/en/latest/configuration.html -->
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="/vendor/phpunit/phpunit/phpunit.xsd"
    bootstrap="/app/vendor/autoload.php"
    backupGlobals="true"
    backupStaticAttributes="true"
    cacheDirectory="/tmp/phpunit"
    cacheResult="true"
    colors="true"
    requireCoverageMetadata="true"
    requireSealedMockObjects="true"
    processIsolation="true"
    stopOnDefect="true"
    stopOnError="true"
    stopOnFailure="true"
    stopOnWarning="false"
    stopOnRisky="true"
    stopOnDeprecation="false"
    stopOnNotice="false"
    stopOnSkipped="false"
    stopOnIncomplete="true"
    failOnAllIssues="true"
    failOnEmptyTestSuite="false"
    failOnDeprecation="true"
    failOnNotice="true"
    failOnWarning="true"
    failOnPhpunitDeprecation="true"
    failOnIncomplete="true"
    failOnRisky="true"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutCoverageMetadata="true"
    executionOrder="depends,defects,duration"
    testdox="true"
    testdoxSummary="true"
    displayDetailsOnAllIssues="true"
    displayDetailsOnSkippedTests="false"
>
    <php>
        <ini name="display_errors" value="1"/>
        <ini name="error_reporting" value="-1"/>
        <server name="APP_ENV" value="test" force="true"/>
        <server name="SHELL_VERBOSITY" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <source ignoreSuppressionOfDeprecations="true"
            ignoreIndirectDeprecations="true"
            restrictNotices="true"
            restrictWarnings="true"
    >
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <deprecationTrigger>
            <method>Doctrine\Deprecations\Deprecation::trigger</method>
            <method>Doctrine\Deprecations\Deprecation::delegateTriggerToBackend</method>
            <function>trigger_deprecation</function>
        </deprecationTrigger>
    </source>
    <coverage
        includeUncoveredFiles="true"
        pathCoverage="true"
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="true"
    >
        <report>
            <clover outputFile="/app/tests/coverage/clover.xml"/>
            <cobertura outputFile="/app/tests/coverage/cobertura.xml"/>
            <crap4j outputFile="/app/tests/coverage/crap4j.xml" threshold="50"/>
            <html outputDirectory="/app/tests/coverage/html" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="/app/tests/coverage/coverage.php"/>
            <text outputFile="/app/tests/coverage/coverage.txt" showUncoveredFiles="false" showOnlySummary="true"/>
            <xml outputDirectory="/app/tests/coverage/xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile="/app/tests/logs/junit.xml"/>
        <teamcity outputFile="/app/tests/logs/teamcity.txt"/>
        <testdoxHtml outputFile="/app/tests/logs/testdox.html"/>
        <testdoxText outputFile="/app/tests/logs/testdox.txt"/>
    </logging>
</phpunit>
