<section>
    <details>
        <summary class="rightSummary aboutSection">About</summary>
        <p>HTML5 version of the game created by <i>Overcoursed</i> team as part of Arcada's <a href="https://www.arcada.fi/en/study-arcada/continuing-education/course-calendar/game-design-and-production" target="_blank">Game Design and Production</a> course.</p>
        <p>Source code can be found <a target="_blank" href="https://github.com/Simbiat/AntI">here</a>.</p>
        <p>Music used: <a href="https://www.bensound.com/" target="_blank">Bensound's</a> <i>High Octane</i> (license code: FMRCYGDANXS7D0ZZ)</p>
        <ul>
            <li>Game design and coding: <a href="https://www.linkedin.com/in/simbiat19/" target="_blank">Dmitry Kustov</a></li>
            <li>Graphical assets: <a href="https://www.linkedin.com/in/tnguyenanm/" target="_blank">Stella Weckström</a></li>
            <li>Graphical assets: Robin Halttunen</li>
        </ul>
        <p class="error">This is a work in progress, expect incomplete experience and bugs!</p>
    </details>
    <details>
        <summary class="rightSummary aboutSection">Controls</summary>
        <ul>
            <li><kbd>⬅</kbd>, <kbd>A</kbd> or <kbd>Numpad 4</kbd> to move left</li>
            <li><kbd>➡</kbd>, <kbd>D</kbd> or <kbd>Numpad 6</kbd> to move right</li>
            <li><kbd>Space</kbd>, <kbd>Numpad 0</kbd> or <kbd>Right Click</kbd> to shoot</li>
            <li><kbd>Esc</kbd> to exit game</li>
        </ul>
    </details>
</section>
{{ include('common/elements/gamecanvas.twig') }}
