<section>
    <details open>
        <summary class="rightSummary aboutSection">About</summary>
        <p>HTML5 version of the game created as part of bootcamp in Arcada's <a href="https://www.arcada.fi/en/study-arcada/continuing-education/course-calendar/game-design-and-production" target="_blank">Game Design and Production</a> course. Source code can be found <a target="_blank" href="https://github.com/Simbiat/Dangerous-Dave-Endless-Nightmare">here</a>.</p>
        <p>This is ah homage to old game <i>Dangerous Dave in the Haunted Mansion</i> and uses assets from the original game.</p>
        <p class="error">This is a work in progress, expect incomplete experience and bugs!</p>
    </details>
    <details>
        <summary class="rightSummary aboutSection">Controls</summary>
        <ul>
            <li>Press or hold <kbd>⬅</kbd>, <kbd>A</kbd> or <kbd>Numpad 4</kbd> to move left</li>
            <li>Press or hold <kbd>➡</kbd>, <kbd>D</kbd> or <kbd>Numpad 6</kbd> to move right</li>
            <li>Press <kbd>Space</kbd>, <kbd>Numpad 0</kbd> or <kbd>Right Click</kbd> to jump</li>
            <li>Hold <kbd>Space</kbd>, <kbd>Numpad 0</kbd> or <kbd>Right Click</kbd> to jump higher</li>
            <li>Hold <kbd>⬆</kbd>, <kbd>w</kbd> or <kbd>Numpad 8</kbd> to aim up</li>
            <li>Hold <kbd>⬇</kbd>, <kbd>S</kbd> or <kbd>Numpad 2</kbd> to aim down (also required for jumping down)</li>
            <li>Press <kbd>Ctrl</kbd>, <kbd>RCtrl</kbd>, <kbd>Numpad 7</kbd>, <kbd>Numpad 9</kbd> or <kbd>Left Click</kbd> to jump</li>
            <li>Press <kbd>Esc</kbd> to exit game</li>
        </ul>
    </details>
</section>
{{ include('common/elements/gamecanvas.twig') }}
