<section>
    <details open>
        <summary class="rightSummary aboutSection">About</summary>
        <p>HTML5 version of the game created by <i>Deathless Dash</i> team as part of re-theming game jam assignment for Arcada's <a href="https://www.arcada.fi/en/study-arcada/continuing-education/course-calendar/game-design-and-production" target="_blank">Game Design and Production</a> course. Source code can be found <a target="_blank" href="https://github.com/Simbiat/Jiangshi">here</a>.</p>
        <ul>
            <li>Game design and coding: <a href="https://www.linkedin.com/in/simbiat19/" target="_blank">Dmitry Kustov</a></li>
            <li>Graphical assets: <a href="https://www.linkedin.com/in/tnguyenanm/" target="_blank">Nguyen Tien</a></li>
            <li>Sound assets: Jade Allen</li>
        </ul>
        <p class="error">This is a work in progress, expect incomplete experience and bugs!</p>
    </details>
    <details>
        <summary class="rightSummary aboutSection">Controls</summary>
        <ul>
            <li>Press or hold <kbd>⬅</kbd>, <kbd>A</kbd> or <kbd>Numpad 4</kbd> to move left</li>
            <li>Press or hold <kbd>➡</kbd>, <kbd>D</kbd> or <kbd>Numpad 6</kbd> to move right</li>
            <li>Hold <kbd>⬇</kbd>, <kbd>S</kbd>, <kbd>Numpad 2</kbd>, <kbd>Left Click</kbd> or <kbd>Tap</kbd> (on touch-screens) to delay jump</li>
            <li>Press <kbd>Esc</kbd> to exit to previous menu or exit game</li>
        </ul>
    </details>
</section>
{{ include('common/elements/gamecanvas.twig') }}
