<section>
    <details>
        <summary class="rightSummary aboutSection">About</summary>
        <p>HTML5 version of the game created by <i>Deathless Dash</i> team as part of game jam assignment for Arcada's <a href="https://www.arcada.fi/en/study-arcada/continuing-education/course-calendar/game-design-and-production" target="_blank">Game Design and Production</a> course.</p>
        <p>Assignment was to re-theme one of the GameMaker's templates using "Death is not the end" as a new theme. Time limit was 2 weeks. Our team chose <a href="https://gamemaker.io/en/tutorials/fire-jump-dnd" target="_blank">Fire Jump</a> template.</p>
        <p>Source code can be found <a target="_blank" href="https://github.com/Simbiat/Jiangshi">here</a>.</p>
        <ul>
            <li>Game design and coding: <a href="https://www.linkedin.com/in/simbiat19/" target="_blank">Dmitry Kustov</a></li>
            <li>Graphical assets: <a href="https://www.linkedin.com/in/tnguyenanm/" target="_blank">Nguyen Tien</a></li>
            <li>Sound assets: <a href="https://www.linkedin.com/in/jade-allen-149215269/" target="_blank">Jade Allen</a></li>
        </ul>
    </details>
    <details>
        <summary class="rightSummary aboutSection">Controls</summary>
        <ul>
            <li><kbd>⬅</kbd>, <kbd>A</kbd> or <kbd>Numpad 4</kbd> to move left</li>
            <li><kbd>➡</kbd>, <kbd>D</kbd> or <kbd>Numpad 6</kbd> to move right</li>
            <li>Hold <kbd>⬇</kbd>, <kbd>S</kbd>, <kbd>Numpad 2</kbd>, <kbd>Left Click</kbd> or <kbd>Tap</kbd> (on touch-screens) to delay jump</li>
            <li><kbd>Esc</kbd> to exit to previous menu or exit game</li>
            <li><kbd>F11</kbd> to toggle fullscreen</li>
        </ul>
    </details>
</section>
{{ include('common/elements/gamecanvas.twig') }}
