<div id="ff-main" class="article-content centertext">
    <div>The statitstics below are based on data registered on tracker and may differ signifficantly from Lodestone.</div>
    <div class="ff_tab">
        <a class="ff_tablinks{%if ff_stat_type=='genetics'%} active{%endif%}" href="/fftracker/statistics/genetics/">Genetics</a>
        <a class="ff_tablinks{%if ff_stat_type=='astrology'%} active{%endif%}" href="/fftracker/statistics/astrology/">Astrology</a>
        <a class="ff_tablinks{%if ff_stat_type=='characters'%} active{%endif%}" href="/fftracker/statistics/characters/">Characters</a>
        <a class="ff_tablinks{%if ff_stat_type=='freecompanies'%} active{%endif%}" href="/fftracker/statistics/freecompanies/">Free companies</a>
        <a class="ff_tablinks{%if ff_stat_type=='cities'%} active{%endif%}" href="/fftracker/statistics/cities/">Cities</a>
        <a class="ff_tablinks{%if ff_stat_type=='grandcompanies'%} active{%endif%}" href="/fftracker/statistics/grandcompanies/">Grand companies</a>
        <a class="ff_tablinks{%if ff_stat_type=='servers'%} active{%endif%}" href="/fftracker/statistics/servers/">Servers</a>
        <a class="ff_tablinks{%if ff_stat_type=='achievements'%} active{%endif%}" href="/fftracker/statistics/achievements/">Achievements</a>
        <a class="ff_tablinks{%if ff_stat_type=='timelines'%} active{%endif%}" href="/fftracker/statistics/timelines/">Timelines</a>
        <a class="ff_tablinks{%if ff_stat_type=='bugs'%} active{%endif%}" href="/fftracker/statistics/bugs/">Bugs</a>
        <a class="ff_tablinks{%if ff_stat_type=='other'%} active{%endif%}" href="/fftracker/statistics/other/">Other</a>
    </div>

    {{ include('ffxiv__statistics/'~ff_stat_type~'.twig')}}

    <div id="se_copyright">"(C) SQUARE ENIX CO., LTD. All Rights Reserved. FINAL FANTASY is a registered trademark of Square Enix Holdings Co., Ltd. All material used under license."</div>
</div>
