<div id="ff-main" class="article-content">
    {{ pagination_top|raw }}
    <div id="ff_searchlist">
        {% for entity in searchresult.entities %}
            {{ include('ffxiv__entity_card.twig', entity) }}
        {% endfor %}
    </div>
    {{ pagination_bottom|raw }}

    <div id="se_copyright">"(C) SQUARE ENIX CO., LTD. All Rights Reserved. FINAL FANTASY is a registered trademark of Square Enix Holdings Co., Ltd. All material used under license."</div>
</div>
