{% for post in posts %}
    <article>
        <div class="articleHeader">
            <h2 class="articleName" id="post_{{ post.postid }}">{{ post.name }}</h2>
            {{ post.created|timeTag("d/m/Y H:i", "articleTime") }}
        </div>
        <section class="articleText">{{ post.text|raw|nl2br }}</section>
    </article>
{% endfor %}
