{% for post in posts %}
    {% set post = post|merge({'nouser': true, 'noeditedtime': true, 'htmlcut': true, 'showbanner': true}) %}
    {{ include('common/elements/post.twig', post) }}
{% endfor %}
<a id="landing_read_more" href="/talks/sections/6">Read more</a>
