<article class="article-content">
    <details id="about_landing_notice">
        <summary id="notice_landing_about"><h2>!!!Notice!!!</h2></summary>
        <div class="justifytext">Some changes are being done, mainly on backend, but some may appear on frontend as well. I am trying to apply them gradually and limit the affect on users, but some things still may go a bit wrong. Please, bear with it. I hope to improve performance, structure and add new functionallity through this.</div>
    </details>
    <div id="service_list">
        <div class="service_land">
            <h2>Final Fantasy XIV Tracker</h2>
            Service to track different information for Free Companies, Linkshells and individual characters for Final Fantasy XIV
            <a href="fftracker/search/" class="service_wrapper" id="service_click_fftracker">
                <img alt="Final Fantasy XIV Tracker" src="/img/services/fftracker.jpg">
                <canvas></canvas>
                <canvas></canvas>
                <canvas></canvas>
                <canvas></canvas>
                <canvas></canvas>
            </a>
        </div>
        <div class="service_land">
            <h2>BIC Library</h2>
            Representation of Bank Identification Codes (<i>BIC</i>)
            <a href="bictracker/search/" class="service_wrapper" id="service_click_bic">
                <img alt="BIC Library" src="/img/services/bic.jpg">
                <canvas></canvas>
                <canvas></canvas>
                <canvas></canvas>
                <canvas></canvas>
                <canvas></canvas>
            </a>
        </div>
    </div>
</article>
