<!-- Landing placeholder -->
<article>
    <p>Due to release of <i>Endwalker</i> for <i>Final Fantasy XIV</i> I wanted to publish the updated version of the website on December 7th. But I did not realize that the release is on December 3rd...</p>
    <p>So... I am still releasing the update, as you can see, but some pages are not ready yet.</p>
    <p>On the bright side, besides the redesign, BIC Tracker is now properly functional again!</p>
    <p>I will restore other FFTracker pages over the weekend, and the rest (including proper landing page) will come later on.</p>
    <p>At least, that's the plan.</p>
    <p>UPDATE as of 05.12.2021: most of FFTracker pages are now working. Exceptions are entity registration and statistics (including those on Free Companies' pages). The latter are planned to be transferred to images, instead of Google Charts, so may take a bit more time to be restored.</p>
</article>
