<!-- Just a small template for testing of styling of elements. Not meant for PROD usage -->
<article>
    <a href="/test.html">asdsadasdas</a>
    <br>
    <span class="success">success</span>
    <br>
    <span class="warning">warning</span>
    <br>
    <span class="failure">failure</span>
    <br>
    <span disabled>disabled</span>
    <br>
    <button>button</button>
    <br>
    <textarea>Textarea test</textarea>
    <br>
    <progress max="100"></progress> undetermined state
    <br>
    <progress value="5" max="100"></progress> low progress
    <br>
    <progress value="50" max="100"></progress> middle progress
    <br>
    <progress value="100" max="100"></progress> full progress
    <br>
    <meter value="0"></meter> empty meter
    <br>
    <meter low=".25" optimum=".5" high=".75" value=".5" data-unit="m"></meter> good meter
    <br>
    <meter low=".25" optimum=".85" high=".75" value=".7"></meter> suboptimal meter
    <br>
    <meter low=".25" optimum=".2" high=".75" value="1"></meter> bad meter
    <br>
    <samp class="success">Hello, world!</samp>
    <samp class="failure">Access denied</samp>
    <br>
    Output test: 50+50=<output>100</output>
    <br>
    <kbd>ctrl</kbd>
    <br>
    <code>
    document.querySelector("#testDialog").showModal();
    echo 'test';
    exit;
    </code>
    <figure class="quote">
        <figcaption>Someone wise</figcaption>
        <blockquote>Someone said something someday. It was wise.</blockquote>
    </figure>
    <br>
    As Frank Herbert wrote: <q>Fear is a mind killer.</q> - thus do not fear.
    <br>
    <dialog id="testDialog"></dialog>
    <br>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi eros nibh, placerat vitae tincidunt vel, auctor vitae metus. Quisque ac turpis sed sapien pellentesque tincidunt. Fusce blandit varius ornare. Phasellus erat libero, tincidunt eget massa at, placerat efficitur nisi. Mauris at sodales magna.
    <br>
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi mattis ut tellus quis finibus. Donec quam tellus, tempor id efficitur nec, rutrum non tellus. Proin feugiat dui vel est euismod interdum. Duis faucibus, enim et vestibulum accumsan, dolor lectus venenatis dui,
    <br>
    nec imperdiet felis sem vitae est. Aenean egestas, ligula a scelerisque bibendum, metus lacus accumsan ligula, in ultricies arcu enim sed nunc. Mauris in vestibulum nunc. Nunc tempor mauris urna, sit amet condimentum odio hendrerit at.
    <br>
</article>
