<section>
    <form role="form" id="ff_track_register" name="ff_track_register" autocomplete="off">
        <div class="float_label_div" data-tooltip="Entity ID as seen on Lodestone (in URL)" id="ff_track_id_wrap">
            <input autofocus form="ff_track_register" type="text" required aria-required="true" name="ff_track_id" id="ff_track_id" placeholder="ID of the entity" autocomplete="off" inputmode="text" minlength="1" maxlength="40" pattern="^\d+$">
            <label for="ff_track_id">Entity ID</label>
        </div>
        <div class="float_label_div" id="ff_track_type_wrap">
            <select form="ff_track_register" required aria-required="true" name="ff_track_type" id="ff_track_type">
                <option value="characters">Character</option>
                <option value="freecompanies">Free Company</option>
                <option value="pvpteams">PvP Team</option>
                <option value="linkshells">Linkshell</option>
                <option value="crossworld_linkshells">Crossworld Linkshell</option>
            </select>
            <label for="ff_track_type" data-tooltip="Type of the entity you want to register">Entity type</label>
        </div>
        <input type="submit" value="Track" form="ff_track_register" id="ff_track_submit">
        <img loading="lazy" decoding="async" id="ff_track_spinner" class="hidden spinner" src="/assets/images/spinner.svg" alt="Registering entity...">
    </form>
</section>
