<article class="article-content" id="admin_dash">
    {%if adminuser%}
        {%include('admin/navigation.html') with {'admincptype': 'dash'} %}
        <div>Next refresh in <span id="timer">300</span> seconds.</div>
        {%if postresult%}<div>{{postresult|raw}}</div>{%endif%}
        <div>
            <h2>Cron jobs</h2>
            <p><h3>Total</h3>: {{dash.cron.total}}</p>
            <p><h3>Running</h3>: {{dash.cron.running}}</p>
            <p><h3>Hanging</h3>: {{dash.cron.hanging}}</p>
            <p><h3>Errors</h3>: {{dash.cron.error}}</p>
        </div>
        {%if dash.bots%}
            <div>
                <h2>Bots</h2>
                {% for bot in dash.bots %}
                    <p><h3>{{bot.username}}</h3>: {{bot.sessions}}</p>
                {%endfor%}
            </div>
        {%endif%}
        {%if dash.achievements%}
            <div>
                <h2>Empty achievements</h2>
                {% for achievement in dash.achievements %}
                    <a class="postlink" data-postaction="achgrab" data-achid="{{achievement.achievementid}}" data-charid="{{achievement.charecterid}}" data-achname="{{achievement.name}}" href="./"><img class="ff_collectable_icon_border" src="{{achievement.icon}}" alt="{{achievement.name}}" title="{{achievement.name}}"></a>
                {%endfor%}
            </div>
        {%endif%}
        <script>setInterval(function() {
                if ($("#timer").length) {
                    if (parseInt($("#timer").text()) > 0) {
                        $("#timer").text(parseInt($("#timer").text())-1);
                    } else {
                        clearInterval();
                        ajax_page_load_err = true;
                        document.location.reload();
                    }
                }
            }, 1000);
        </script>
    {%else%}
        {{ include('no_access.html')}}
    {%endif%}
</article>