<section>
    {% if not subservice_name %}
        <article class="margin_05rem">
            <details class="persistent" open>
                <summary class="right_summary about_section">About</summary>
                <p>HTML5 versions of games created by me or with my direct participation.</p>
                {% if not subservice_name %}
                    <ul>
                        <li><a href="/games/jiangshi" target="_self" itemprop="url"><span itemprop="name">Jiangshi</span></a></li>
                        <li><a href="/games/dden" target="_self" itemprop="url"><span itemprop="name">Dangerous Dave: Endless Nightmare</span></a></li>
                        <li><a href="/games/radicalresonance" target="_self" itemprop="url"><span itemprop="name">Radical Resonance</span></a></li>
                    </ul>
                {% endif %}
            </details>
        </article>
    {% endif %}
    {% if subservice_name %}
        <article class="margin_05rem">
            {% if subservice_name == 'jiangshi' %}
                {{ include('games/jiangshi.twig') }}
            {% elseif subservice_name == 'dden' %}
                {{ include('games/dden.twig') }}
            {% elseif subservice_name == 'radicalresonance' %}
                {{ include('games/radicalresonance.twig') }}
            {% endif %}
        </article>
    {% endif %}
</section>
