<section>
    <details>
        <summary class="rightSummary aboutSection">About</summary>
        <p>HTML5 version of the game created by <i>Overcoursed</i> team as part of Arcada's <a href="https://www.arcada.fi/en/study-arcada/continuing-education/course-calendar/game-design-and-production" target="_blank">Game Design and Production</a> course.</p>
        <p>Source code can be found <a target="_blank" href="https://github.com/Simbiat/Radical-Resonance">here</a>.</p>
        <p>Music used: <a href="https://www.bensound.com/" target="_blank">Bensound's</a> <i>High Octane</i> (license code: FMRCYGDANXS7D0ZZ)</p>
        <p>Button prompts by <a href="https://thoseawesomeguys.com/prompts/" target="_blank">Those Awesome Guys</a></p>
        <p>Trailer on <a href="https://youtu.be/_3jEwWU-X1o" target="_blank"><img loading="lazy" decoding="async" class="linkIcon dimmedIcon" src="/assets/images/social/youtube.svg" alt="Youtube"></a></p>
        <ul>
            <li>Game design and coding: <a href="https://www.linkedin.com/in/simbiat19/" target="_blank">Dmitrii Kustov</a></li>
            <li>Graphical assets: <a href="https://www.linkedin.com/in/stella-weckstr%C3%B6m-a51394247/" target="_blank">Stella Weckström</a></li>
            <li>Graphical assets: <a href="https://www.linkedin.com/in/robin-halttunen-640487195/" target="_blank">Robin Halttunen</a></li>
        </ul>
    </details>
    <details>
        <summary class="rightSummary aboutSection">Controls</summary>
        <ul>
            <li><kbd>⬅</kbd>, <kbd>➡</kbd>, <kbd>⬆</kbd> or <kbd>⬇</kbd> to jump</li>
            <li><kbd>Esc</kbd> to exit game</li>
            <li><kbd>F11</kbd> to toggle fullscreen</li>
        </ul>
    </details>
</section>
{{ include('common/elements/gamecanvas.twig') }}
