<div id="footerLinks">
    <a href="/about/tos/">Terms of Service</a>
    <a href="/about/privacy/">Privacy Policy</a>
</div>
<div id="footerCopyright">
    © {{ timeTag('2006-01-01', 'Y') }}-{{ timeTag('now', 'Y') }} Dmitry Kustov All Rights Reserved
</div>
