<div id="footerLinks">
    <a href="/about/tos/">Terms of Service</a>
    <a href="/about/privacy/">Privacy Policy</a>
    <details id="footerSitemap" class="popup">
        <summary class="rightSummary">Sitemap</summary>
        <span id="sitemapLinks">
            <a href="/sitemap/xml/" target="_blank"><abbr data-tooltip="Extensible Markup Language">XML</abbr></a>
            <a href="/sitemap/html/" target="_blank"><abbr data-tooltip="Hypertext Markup Language">HTML</abbr></a>
            <a href="/sitemap/txt/" target="_blank">Text</a>
        </span>
    </details>
</div>
<div class="back-to-top hidden" role="button" id="leftBTT">🢁</div>
<address id="footerContacts">
    <a href="https://facebook.com/SimbiatSoftware/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/social/facebook.svg" alt="Facebook"></a>
    <a href="https://vk.com/simbiat19" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/social/VK.svg" alt="VK"></a>
    <a href="https://www.instagram.com/simbiat19/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/social/instagram.svg" alt="Instagram"></a>
    <a href="https://www.youtube.com/channel/UCyzixPty8XEiUWC4c1jns_Q" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/social/youtube.svg" alt="Youtube"></a>
    <a href="https://www.linkedin.com/in/simbiat19/" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/social/linkedin.svg" alt="LinkedIn"></a>
    <a href="https://github.com/Simbiat" target="_blank"><img loading="lazy" decoding="async" class="linkIcon" src="/img/social/github.svg" alt="GitHub"></a>
</address>
<div class="back-to-top hidden" role="button" id="rightBTT">🢁</div>
<div id="footerCopyright">
    &copy; <time datetime="2006">2006</time>-<time datetime="{{ 'now' | date('Y') }}">{{ 'now' | date('Y') }}</time>{{ currentyear }} Dmitry Kustov All Rights Reserved
</div>
<div id="snacksContainer" role="dialog"></div>
