<dialog class="modal" aria-label="Gallery overlay">
    <gallery-overlay>
        <gallery-close><input id="closeGalleryIcon" class="navIcon" alt="Close gallery" data-tooltip="Close gallery" type="image" src="/assets/images/close.svg"></gallery-close>
        <div id="galleryGrid">
            <gallery-prev>❰</gallery-prev>
            <div id="galleryNameBlock"><span id="galleryName">Name</span><a id="galleryNameLink" href="" target="_blank" data-tooltip="Open image in new tab"><img loading="lazy" decoding="async" class="linkIcon" alt="Open in new tab" src="/assets/images/newtab.svg"></a></div>
            <gallery-image><img id="galleryLoadedImage" loading="lazy" decoding="async" alt="" src=""></gallery-image>
            <div id="galleryCounter"><span id="galleryCurrent">0</span><span id="gallerySlash">/</span><span id="galleryTotal">0</span></div>
            <gallery-next>❱</gallery-next>
        </div>
    </gallery-overlay>
</dialog>
