<div id="header_logo">
    <span>Simbiat</span>
    <div id="logoNav"><input id="showNav" class="navIcon" alt="Show navigation" type="image" src="/img/menu.svg"><img alt="logo" id="logoIcon" src="/img/logo.svg"></div>
    <span>Software</span>
</div>
<div id="h1div">
    <h1 id="h1title">{{ h1 }}</h1><img id="shareButton" class="hidden" alt="share page" src="/img/share.svg">
</div>
