<div id="header_logo">
    <span>Simbiat</span>
    <div id="logoNav"><input id="showNav" class="navIcon" alt="Show navigation" type="image" src="/img/menu.svg"><img loading="lazy" decoding="async" alt="logo" id="logoIcon" src="/img/logo.svg"></div>
    <span>Software</span>
</div>
<div id="h1div">
    <h1 id="h1title">{{ h1|raw }}</h1><img loading="lazy" decoding="async" id="shareButton" class="hidden" alt="share page" src="/img/share.svg">
</div>
