<div id="header_logo">
    <span>Simbiat</span>
    <div id="logoNav"><nav-show><input id="showNav" class="navIcon" alt="Show navigation" data-tooltip="Show navigation" type="image" src="/img/menu.svg"></nav-show><img loading="lazy" decoding="async" alt="logo" id="logoIcon" data-tooltip="Simbiat Software" src="/img/logo.svg"></div>
    <span>Software</span>
</div>
<div id="h1div">
    <h1 id="h1title">{% if cacheReset %}<a href="{{ cacheReset }}" target="_self" data-tooltip="Click to attempt to reset page's cache"><img class="linkIcon" src="/img/refresh.svg" alt="Reset cache">{% endif %}{{ h1|default(title)|default(site_name) }}{% if cacheReset %}</a>{% endif %}</h1>
</div>
