<nav-hide><input id="hideNavIcon" class="navIcon" alt="Close navigation" type="image" src="/img/close.svg"></nav-hide>
<div class="navElement">
    <side-show>
        <a class="navItem" href="#" target="_self" itemprop="url"><img loading="lazy" decoding="async" class="navIcon" alt="{% if session_data.username %}Logout{% else %}Login{% endif %}" data-tooltip="{% if session_data.username %}Logout{% else %}Login{% endif %}" src="/img/navigation/{% if session_data.username %}logout{% else %}login{% endif %}.svg"><span itemprop="name">{% if session_data.username %}Logout{% else %}Login{% endif %}</span></a>
    </side-show>
</div>
<ul id="navList">
    <li class="navElement">
        <div class="navLine">
            <a class="navItem" href="/" target="_self" itemprop="url"><img loading="lazy" decoding="async" class="navIcon" alt="Home Page" data-tooltip="Home Page" src="/img/navigation/home.svg"><span itemprop="name">Home Page</span></a>
        </div>
    </li>
    {% if breadcrumbs and breadcrumbs|length > 1 %}
        <li class="navElement liBread">
            <div class="navLine navBread">
                {{ genBread(breadcrumbs) }}
            </div>
        </li>
    {% endif %}
    <li class="navElement">
        <div class="navLine">
            <details class="navCat" {% if serviceName == 'talks' %}open{% endif %}>
                <summary class="rightSummary"><img loading="lazy" decoding="async" class="navIcon" alt="Talks" src="/img/navigation/talks.svg"><span itemprop="name">Talks</span></summary>
                <ul>
                    <li{% if type == 'Blog' or detailedType == 'Blog' or sectionid == 1 %} class="current"{% endif %}><a class="navItem" href="/talks/sections/1/" target="_self" itemprop="url"><span itemprop="name">Blogs</span></a></li>
                    <li{% if type == 'Forum' or detailedType == 'Forum' or sectionid == 2 %} class="current"{% endif %}><a class="navItem" href="/talks/sections/2/" target="_self" itemprop="url"><span itemprop="name">Forums</span></a></li>
                    <li{% if type == 'Changelog' or detailedType == 'Changelog' or sectionid == 3 %} class="current"{% endif %}><a class="navItem" href="/talks/sections/3/" target="_self" itemprop="url"><span itemprop="name">Changelogs</span></a></li>
                    <li{% if type == 'Knowledgebase' or detailedType == 'Knowledgebase' or sectionid == 4 %} class="current"{% endif %}><a class="navItem" href="/talks/sections/4/" target="_self" itemprop="url"><span itemprop="name">Knowledgebases</span></a></li>
                    <li{% if type == 'Support' or detailedType == 'Support' or sectionid == 5 %} class="current"{% endif %}><a class="navItem" href="/talks/sections/5/" target="_self" itemprop="url"><span itemprop="name">Support</span></a></li>
                </ul>
            </details>
        </div>
    </li>
    <li class="navElement">
        <div class="navLine">
            <details class="navCat" {% if serviceName == 'fftracker' %}open{% endif %}>
                <summary class="rightSummary"><img loading="lazy" decoding="async" class="navIcon" alt="FFXIV Tracker" data-tooltip="FFXIV Tracker" src="/img/navigation/fftracker.svg"><span itemprop="name">FFXIV Tracker</span></summary>
                <ul>
                    <li{% if subServiceName == 'statistics' %} class="current"{% endif %}><a class="navItem" href="/fftracker/statistics/" target="_self" itemprop="url"><span itemprop="name">Statistics</span></a></li>
                    <li{% if serviceName == 'fftracker' and (subServiceName == 'search' or searchValue is defined) %} class="current"{% endif %}><a class="navItem" href="/fftracker/search/" target="_self" itemprop="url"><span itemprop="name">Search</span></a></li>
                    <li{% if subServiceName == 'character' or (subServiceName == 'characters' and searchValue is not defined) %} class="current"{% endif %}><a class="navItem" href="/fftracker/characters/" target="_self" itemprop="url"><span itemprop="name">Characters</span></a></li>
                    <li{% if subServiceName == 'freecompany' or (subServiceName == 'freecompanies' and searchValue is not defined) %} class="current"{% endif %}><a class="navItem" href="/fftracker/freecompanies/" target="_self" itemprop="url"><span itemprop="name">Free Companies</span></a></li>
                    <li{% if subServiceName == 'pvpteam' or (subServiceName == 'pvpteams' and searchValue is not defined) %} class="current"{% endif %}><a class="navItem" href="/fftracker/pvpteams/" target="_self" itemprop="url"><span itemprop="name">PvP Teams</span></a></li>
                    <li{% if subServiceName == 'linkshell' or (subServiceName == 'linkshells' and searchValue is not defined) %} class="current"{% endif %}><a class="navItem" href="/fftracker/linkshells/" target="_self" itemprop="url"><span itemprop="name">Linkshells</span></a></li>
                    <li{% if subServiceName == 'achievement' or (subServiceName == 'achievements' and searchValue is not defined) %} class="current"{% endif %}><a class="navItem" href="/fftracker/achievements/" target="_self" itemprop="url"><span itemprop="name">Achievements</span></a></li>
                    <li{% if subServiceName == 'track' %} class="current"{% endif %}><a class="navItem" href="/fftracker/track/" target="_self" itemprop="url"><span itemprop="name">Track entity</span></a></li>
                    <li{% if subServiceName == 'crests' %} class="current"{% endif %}><a class="navItem" href="/fftracker/crests/" target="_self" itemprop="url"><span itemprop="name">Crests</span></a></li>
                </ul>
            </details>
        </div>
    </li>
    <li class="navElement" lang="ru-RU">
        <div class="navLine">
            <details class="navCat" {% if serviceName == 'bictracker' %}open{% endif %}>
                <summary class="rightSummary"><img loading="lazy" decoding="async" class="navIcon" alt="БИК Трекер" data-tooltip="БИК Трекер" src="/img/navigation/bictracker.svg"><span itemprop="name">БИК Трекер</span></summary>
                <ul>
                    <li{% if serviceName == 'bictracker' and (subServiceName == 'search' or searchValue is defined) %} class="current"{% endif %}><a class="navItem" href="/bictracker/search/" target="_self" itemprop="url"><span itemprop="name">Поиск</span></a></li>
                    <li{% if (subServiceName == 'openbics' and searchValue is not defined) or (subServiceName == 'bic' and not bicdetails.DateOut) %} class="current"{% endif %}><a class="navItem" href="/bictracker/openbics/" target="_self" itemprop="url"><span itemprop="name">Открытые БИК</span></a></li>
                    <li{% if (subServiceName == 'closedbics' and searchValue is not defined) or (subServiceName == 'bic' and bicdetails.DateOut) %} class="current"{% endif %}><a class="navItem" href="/bictracker/closedbics/" target="_self" itemprop="url"><span itemprop="name">Закрытые БИК</span></a></li>
                    <li{% if subServiceName == 'keying' %} class="current"{% endif %}><a class="navItem" href="/bictracker/keying/" target="_self" itemprop="url"><span itemprop="name">Ключевание</span></a></li>
                </ul>
            </details>
        </div>
    </li>
    <li class="navElement">
        <div class="navLine">
            <details class="navCat" {% if serviceName == 'simplepages' %}open{% endif %}>
                <summary class="rightSummary"><img loading="lazy" decoding="async" class="navIcon" alt="About" data-tooltip="Simple Pages" src="/img/navigation/simplepages.svg"><span itemprop="name">Simple Pages</span></summary>
                <ul>
                    <li{% if subServiceName == 'devicedetector' %} class="current"{% endif %}><a class="navItem" href="/simplepages/devicedetector/" target="_self" itemprop="url"><span itemprop="name">Device Detector</span></a></li>
                </ul>
            </details>
        </div>
    </li>
    <li class="navElement">
        <div class="navLine">
            <details class="navCat" {% if serviceName == 'about' %}open{% endif %}>
                <summary class="rightSummary"><img loading="lazy" decoding="async" class="navIcon" alt="About" data-tooltip="About" src="/img/navigation/about.svg"><span itemprop="name">About</span></summary>
                <ul>
                    <li{% if subServiceName == 'me' %} class="current"{% endif %}><a class="navItem" href="/about/me/" target="_self" itemprop="url"><span itemprop="name">Me</span></a></li>
                    <li{% if subServiceName == 'website' %} class="current"{% endif %}><a class="navItem" href="/about/website/" target="_self" itemprop="url"><span itemprop="name">Website</span></a></li>
                    <li{% if subServiceName == 'tech' %} class="current"{% endif %}><a class="navItem" href="/about/tech/" target="_self" itemprop="url"><span itemprop="name">Technology</span></a></li>
                    <li{% if subServiceName == 'resume' %} class="current"{% endif %}><a class="navItem" href="/about/resume/" target="_self" itemprop="url"><span itemprop="name">Resume</span></a></li>
                    <li{% if subServiceName == 'contacts' %} class="current"{% endif %}><a class="navItem" href="/about/contacts/" target="_self" itemprop="url"><span itemprop="name">Contacts</span></a></li>
                    <li{% if subServiceName == 'tos' %} class="current"{% endif %}><a class="navItem" href="/about/tos/" target="_self" itemprop="url"><span itemprop="name">Terms of Service</span></a></li>
                    <li{% if subServiceName == 'privacy' %} class="current"{% endif %}><a class="navItem" href="/about/privacy/" target="_self" itemprop="url"><span itemprop="name">Privacy Policy</span></a></li>
                    <li{% if subServiceName == 'security' %} class="current"{% endif %}><a class="navItem" href="/about/security/" target="_self" itemprop="url"><span itemprop="name">Security Policy</span></a></li>
                    <li><a class="navItem" href="/talks/sections/7/" target="_self" itemprop="url"><span itemprop="name">Changelog</span></a></li>
                </ul>
            </details>
        </div>
    </li>
</ul>
