{% if session_data.username %}
    <div>Hi, {{ session_data.username }}</div>
    <form role="form" id="signinup" name="signinup" autocomplete="on">
        <input role="button" form="signinup" type="submit" name="signinup[submit]" id="signinup_submit" formaction="{{ url }}" formmethod="post" formtarget="_self" value="Logout">
        <img id="singinup_spinner" class="hidden spinner" src="/img/spinner.svg" alt="Logging out...">
    </form>
{% else %}
    <form role="form" id="signinup" name="signinup" autocomplete="on">
        {% if registration == 0 %}
            <div class="warning">Registration is currently closed</div>
        {% endif %}
        <div id="radio_signinup" role="radiogroup">
            <span>I am</span><br>
            <span class="radio_and_label">
                <input type="radio" id="radio_existuser" name="signinup[type]" value="login" checked>
                <label for="radio_existuser">member</label>
            </span>
            {% if registration == 1 %}
                <span class="radio_and_label">
                    <input type="radio" id="radio_newuser" name="signinup[type]" value="register">
                    <label for="radio_newuser">new</label>
                </span>
            {% endif %}
            <span class="radio_and_label">
                <input type="radio" id="radio_forget" name="signinup[type]" value="remind">
                <label for="radio_forget">forgetful</label>
            </span>
        </div>
        <div class="float_label_div">
            <input form="signinup" type="text" aria-required="false" name="signinup[username]" id="signinup_username" placeholder="Username" autocomplete="username" inputmode="text" minlength="1" maxlength="64" pattern="^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+$">
            <label for="signinup_username">Username</label>
        </div>
        <div class="float_label_div">
            <input form="signinup" type="email" required aria-required="true" name="signinup[email]" id="signinup_email" placeholder="Email" autocomplete="email" inputmode="email" minlength="1" maxlength="320" pattern="^[a-zA-Z0-9.!#$%&'*+\/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$">
            <label for="signinup_email">Email</label>
        </div>
        <div class="float_label_div">
            <input form="signinup" type="password" required aria-required="true" name="signinup[password]" id="signinup_password" placeholder="Password" autocomplete="current-password" inputmode="text" minlength="8" pattern=".{8,}">
            <label for="signinup_password">Password</label>
            <div class="showpassword"></div>
            <div id="password_req">Only password requirement: at least 8 symbols</div>
            <div class="pass_str_div">Password strength:
                <span class="password_strength">weak</span>
            </div>
        </div>
        <div class="radio_and_label" id="rememberme_div">
            <input role="checkbox" aria-checked="false" form="signinup" type="checkbox" name="signinup[rememberme]" id="rememberme">
            <label for="rememberme">Remember me</label>
        </div>
        <input role="button" form="signinup" type="submit" name="signinup[submit]" id="signinup_submit" formaction="{{ url }}" formmethod="post" formtarget="_self" value="Sign in/Join">
        <img id="singinup_spinner" class="hidden spinner" src="/img/spinner.svg" alt="Submitting form...">
    </form>
{% endif %}
