<p class="middle">Current avatar:</p>
<div class="middle"><img loading="lazy" decoding="async" class="avatar" alt="Your current avatar" id="current_avatar" src="{{ session_data.avatar|default('/assets/images/avatar.svg') }}"></div>
<p class="middle">Select avatar from previous uploads:</p>
<ul id="avatars_list">
    {% if avatars %}
        {% for avatar in avatars %}
            {{ include('usercontrol/avataritem.twig', {'avatar': avatar, 'number': loop.index}, with_context = false) }}
        {% endfor %}
    {% endif %}
</ul>
<form class="middle" id="profile_avatar">
    <p>Upload new avatar:</p>
    {{ include('common/elements/imageupload.twig', {'form_name': 'profile_avatar', 'placeholder': 'New avatar', 'input_name': 'avatar[file]', 'preview_classes': 'avatar middle', 'required': false}, with_context = false) }}
    <input role="button" form="profile_avatar" type="submit" name="submit" id="avatar_submit" formaction="{{ url }}" formmethod="post" formtarget="_self" value="Upload">
    <img id="avatar_spinner" class="hidden spinner" src="/assets/images/spinner.svg" alt="Uploading avatar..." loading="lazy" decoding="async">
</form>
