<form id="password_change">
    {% if user_id and token %}
        <input form="password_change" type="hidden" required aria-required="true" name="pass_user_id" id="pass_user_id" value="{{ user_id }}">
        <input form="password_change" type="hidden" required aria-required="true" name="pass_reset" id="pass_reset" value="{{ token }}">
        <p>This is a password reset form. Set new password below. If the password reset token is correct, new password will be set for respective user.</p>
    {% else %}
        <password-field>
            <div class="float_label">
                <input form="password_change" type="password" spellcheck="false" required aria-required="true" name="current_password" id="current_password" placeholder="Current password" autocomplete="current-password" inputmode="text" minlength="8" pattern=".{8,}">
                <label for="current_password">Current password</label>
                <password-show></password-show>
            </div>
        </password-field>
    {% endif %}
    <password-field>
        <div class="float_label">
            <input form="password_change" type="password" spellcheck="false" required aria-required="true" name="new_password" id="new_password" placeholder="New password" autocomplete="new-password" inputmode="text" minlength="8" pattern=".{8,}">
            <label for="new_password">New password</label>
            <password-show></password-show>
            <password-requirements></password-requirements>
            <password-strength></password-strength>
        </div>
    </password-field>
    <input role="button" form="password_change" type="submit" name="password[submit]" id="password_submit" formaction="/api/uc/password" formmethod="post" formtarget="_self" value="Change">
    <img id="pw_change_spinner" class="hidden spinner" src="/assets/images/spinner.svg" alt="Changing password..." loading="lazy" decoding="async">
</form>
