<p class="success">Mail {{ email }} unsubscribed.</p>
<p>Some system mails (for example, password reset) will still be sent, if you are a registered user.</p>
<p>Some mails that are already in the queue may be sent out as well. You can recognize them by generation time in the past.</p>
