<p>I do not get what you're saying.</p>
{% if suggested_link %}
    <p>Perhaps, you meant <a href="{{ suggested_link }}">this</a>?</p>
{% endif %}
{% if reason %}<samp class="failure">{{ reason }}</samp>{% endif %}
{% if not 'httperror/400' in url %}
    <code>{{ url }}</code>
{% endif %}
<img loading="lazy" decoding="async" alt="Do not understand" src="/img/errors/incomprehension.svg">
