<p>Nope. Too heavy. Can't lift that.</p>
{% if reason %}<samp class="failure">{{ reason }}</samp>{% endif %}
{% if not('httperror/413' in url) %}
    <code>{{ url }}</code>
{% endif %}
<img loading="lazy" decoding="async" alt="413 Payload Too Large" src="/img/errors/tooheavy.gif">
