<p>I would not mind some tea myself, thank you for asking.</p>
{% if not('httperror/418' in url) %}
    <code>{{ url }}</code>
{% endif %}
<img loading="lazy" decoding="async" alt="418 I'm a teapot" src="/img/errors/teapot.gif">
