<body style="background-color: hsl(256, 20%, 10%); color: hsl(0, 20%, 95%)">
    <header style="background-color: hsl(256, 20%, 15%); border-color: hsl(192, 50%, 20%)">
        {{ include('common/layout/header.twig') }}
    </header>
    <main id="content" role="main">
        <article style="background-color: hsl(256, 20%, 20%); color: hsl(43, 77%, 57%); border-color: hsl(192, 50%, 20%); text-align: center">
            This website uses features aimed at improving security of content delivery and information exchange.<br>
            Unfortunately, these features are not supported by <b>{{client}}</b> <i>teapot</i>.<br>
            Since we value security, we are unable to serve any content to you.<br>
            We are sorry for inconvenience, but, please, try with a different browser.
        </article>
        <article id="http_error" style="background-color: hsl(256, 20%, 20%); border-color: hsl(192, 50%, 20%); text-align: center">
            {{ include('errors/418.twig')}}
        </article>
    </main>
</body>
