<template id="avatar_item">
    <li id="hash">
        <span class="radio_and_label"><input id="avatar_hash" type="radio" checked><label for="avatar_hash"><img loading="lazy" decoding="async" alt="New avatar" src="/img/avatar.svg" class="avatar"></label></span><input id="del_hash" alt="Delete avatar" type="image" class="delete_avatar hidden" disabled src="/img/close.svg">
    </li>
</template>
