<template id="email_row">
    <tr class="middle">
        <td>email</td>
        <td>
            <input type="button" value="Confirm" class="mail_activation" data-email="email" aria-invalid="false" placeholder="Confirm"><img class="hidden spinner inline" src="/img/spinner.svg" alt="Activating email..." data-tooltip="Activating email...">
        </td>
        <td class="warning">Confirm address to change setting</td>
        <td>
            <input class="mail_deletion" data-email="email" type="image" src="/img/close.svg" alt="Delete email" aria-invalid="false" placeholder="image" data-tooltip="Delete email" tabindex="0"><img class="hidden spinner inline" src="/img/spinner.svg" alt="Removing email..." data-tooltip="Removing email...">
        </td>
    </tr>
</template>
