<game-canvas>
    <button id="gameStartButton" class="middle">Start</button>
    <div class="gm4html5_div_class" id="gm4html5_div_id" data-js="{{ gameJS }}">
        <!-- Create the canvas element the game draws to -->
        <canvas id="canvas" class="hidden">GameMaker's canvas</canvas>
    </div>
</game-canvas>
