# The MariaDB configuration file
#
# The MariaDB/MySQL tools read configuration files in the following order:
# 0. "/etc/mysql/my.cnf" symlinks to this file, reason why all the rest is read.
# 1. "/etc/mysql/mariadb.cnf" (this file) to set global defaults,
# 2. "/etc/mysql/conf.d/*.cnf" to set global options.
# 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
# 4. "~/.my.cnf" to set user-specific options.
#
# If the same option is defined multiple times, the last one will apply.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# If you are new to MariaDB, check out https://mariadb.com/kb/en/basic-mariadb-articles/

#
# This group is read both by the client and the server
# use it for options that affect everything
#

[client-server]
# These are commonly set, remove the # and set as required.
# basedir = .....
# datadir = .....
# port = .....
# server_id = .....
# Port or socket location where to connect
port = 19913
socket = /run/mysqld/mysqld.sock

# Import all .cnf files from configuration directory
!include /etc/mysql/conf.d/security.cnf
#!includedir /etc/mysql/mariadb.conf.d/

[client]
default-character-set=utf8mb4
ssl
tls_version = TLSv1.3

[mysqld]
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
default_time_zone='+00:00'

bind-address = *

# SSL settings
ssl
require_secure_transport=on
tls_version = TLSv1.3

ed25519=FORCE_PLUS_PERMANENT

log_error=/usr/local/logs/mariadb.log
log_warnings=2

character_set_filesystem=utf8mb4

require_secure_transport=ON

character-set-client-handshake = false #force encoding to uft8
character-set-server=utf8mb4
collation-server=utf8mb4_uca1400_nopad_as_cs
default_password_lifetime=0
#skip-grant-tables

# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.
# join_buffer_size = 128M
# sort_buffer_size = 2M
# read_rnd_buffer_size = 2M

sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES
local-infile=0
innodb_force_recovery = 0

# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
#For large inserts
#innodb_buffer_pool_size = 20G
#For regular operation
innodb_buffer_pool_size = 6G
innodb_fast_shutdown = 0

innodb_log_file_size = 1G
innodb_log_buffer_size = 256MB
#Required for page compression
innodb_default_row_format='dynamic'
innodb_compression_default=ON
innodb_compression_algorithm='lz4'
innodb_io_capacity=10000
innodb_io_capacity_max=20000

innodb_undo_log_truncate=ON

# Copied from Fozzy
innodb_autoextend_increment = 8
innodb_max_dirty_pages_pct = 75
innodb_old_blocks_time = 0
innodb_open_files = 300
back_log = 250
innodb_data_file_path = ibdata1:10M:autoextend
innodb_flush_log_at_trx_commit = 1
innodb_purge_batch_size = 20
key_buffer_size = 67108864
log_queries_not_using_indexes = ON
max_allowed_packet = 33554432
max_connect_errors = 10
max_connections = 500
max_user_connections = 50
open_files_limit = 50000
performance_schema = OFF
performance_schema_max_cond_instances = 1000
performance_schema_max_file_classes = 50
performance_schema_max_file_instances = 10000
performance_schema_max_mutex_classes = 200
performance_schema_max_mutex_instances = 1000000
performance_schema_max_rwlock_classes = 30
performance_schema_max_rwlock_instances = 1000000
performance_schema_max_table_handles = 100000
performance_schema_max_table_instances = 50000
performance_schema_max_thread_instances = 1000
query_cache_size = 64MB
query_cache_type = ON
query_cache_strip_comments = ON
query_cache_limit = 4MB
query_cache_min_res_unit = 1024
slave_net_timeout = 3600
sync_binlog = 1
sync_master_info = 0
sync_relay_log = 0
sync_relay_log_info = 0
tmp_disk_table_size = 268435456
tmp_memory_table_size = 134217728

# FULLTEXT settings
ft_min_word_len = 1
ft_max_word_len = 84

# Additional optimizations from https://releem.com/blog/tpost/9kdjxj8ve1-mysql-8-performance-benchmark
thread_cache_size = 16
#max_allowed_packet = 1073741824
sort_buffer_size = 262144
read_rnd_buffer_size = 262144
bulk_insert_buffer_size = 8M
max_heap_table_size = 256M
tmp_table_size = 256M
join_buffer_size = 8M
table_open_cache = 4096
table_definition_cache = 2432
innodb_write_io_threads = 4
innodb_read_io_threads = 4

#Optimizations from https://dba.stackexchange.com/questions/212884/innodb-after-48-hours-of-optimizing-10mb-sec-write-speed
innodb_lru_scan_depth=128
innodb_flushing_avg_loops=4
max_seeks_for_key=32
max_write_lock_count=16
read_rnd_buffer_size=256K
slow_query_log=OFF

#Enabling some internal optimizations
optimizer_switch=index_merge_sort_intersection=on,not_null_range_scan=on,mrr=on,mrr_cost_based=on,mrr_sort_keys=on
mrr_buffer_size=256K

#Be more aggressive with sleeping connections
interactive_timeout=600
wait_timeout=600
