# The MariaDB configuration file
#
# The MariaDB/MySQL tools read configuration files in the following order:
# 0. "/etc/mysql/my.cnf" symlinks to this file, reason why all the rest is read.
# 1. "/etc/mysql/mariadb.cnf" (this file) to set global defaults,
# 2. "/etc/mysql/conf.d/*.cnf" to set global options.
# 3. "/etc/mysql/mariadb.conf.d/*.cnf" to set MariaDB-only options.
# 4. "~/.my.cnf" to set user-specific options.
#
# If the same option is defined multiple times, the last one will apply.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# If you are new to MariaDB, check out https://mariadb.com/kb/en/basic-mariadb-articles/

#
# This group is read both by the client and the server
# use it for options that affect everything
#

[client-server]
# These are commonly set, remove the # and set as required.
# basedir = .....
# datadir = .....
# port = .....
# server_id = .....
# Port or socket location where to connect
# port = 19913
socket = /run/mysqld/mysqld.sock

# Import all .cnf files from configuration directory
#!include /etc/mysql/conf.d/security.cnf
#!includedir /etc/mysql/mariadb.conf.d/

[client]
default-character-set=utf8mb4

[mysqld]
# Remove leading # to turn on a very important data integrity option: logging
# changes to the binary log between backups.
# log_bin
default_time_zone='+00:00'

bind-address = *

require_secure_transport=on
ssl=0
skip_ssl
ssl_ca=
ssl_cert=
ssl_key=

plugin_maturity=stable
plugin_load_add=query_cache_info
plugin_load_add=auth_ed25519
plugin_load_add=provider_lz4
provider_lz4=FORCE_PLUS_PERMANENT

log_error=/usr/local/logs/mariadb.log
log_warnings=2

character_set_filesystem=utf8mb4

character-set-client-handshake = false #force encoding to uft8
character_set_server=utf8mb4
# In current MariaDB this is alias for utf8mb4_uca1400_nopad_as_cs
collation-server=utf8mb4_0900_as_cs
default_password_lifetime=0

local-infile=0
innodb_force_recovery = 0

# Remove leading # and set to the amount of RAM for the most important data
# cache in MySQL. Start at 70% of total RAM for dedicated server, else 10%.
# innodb_buffer_pool_size = 128M
innodb_buffer_pool_size = 20G
innodb_max_dirty_pages_pct_lwm=1
innodb_buffer_pool_load_at_startup=1
innodb_buffer_pool_dump_at_shutdown=1
innodb_fast_shutdown = 0

innodb_log_file_size = 1G
innodb_log_buffer_size = 1G
#Required for page compression
innodb_default_row_format='dynamic'
innodb_compression_default=ON
innodb_compression_algorithm='lz4'
innodb_io_capacity=10000
innodb_io_capacity_max=20000
innodb_read_io_threads=16
innodb_write_io_threads=16

innodb_undo_log_truncate=ON

# Copied from Fozzy
log_queries_not_using_indexes = 1
max_allowed_packet = 32M
query_cache_type = 2
query_cache_size = 64M
query_cache_limit = 2M
query_cache_strip_comments = 1
sync_binlog = 1

# FULLTEXT settings
ft_min_word_len = 1
innodb_ft_min_token_size = 1
innodb_ft_num_word_optimize = 10000
innodb_ft_sort_pll_degree = 4

# Capping definition cache. Unlikely this much will ever be needed even
table_definition_cache = 2000

# Temp tables sizes
max_heap_table_size = 512M
tmp_table_size = 512M
tmp_disk_table_size = 1G
innodb_temp_data_file_path = ibtmp1:512M:autoextend:max:1G:autoshrink

#Optimizations based on https://dba.stackexchange.com/questions/212884/innodb-after-48-hours-of-optimizing-10mb-sec-write-speed
innodb_lru_scan_depth=128
max_seeks_for_key=32
max_write_lock_count=16

sort_buffer_size = 5M
innodb_sort_buffer_size = 5M
#1M is maximum value
table_open_cache = 1048576
table_open_cache_instances = 8

#Be relatively aggressive with sleeping connections, but consider long-running cron jobs
interactive_timeout=3600
wait_timeout=3600

#Monitoring stuff
performance_schema=ON
log_output=TABLE
slow_query_log=ON
#slow_query_log_file=/usr/local/logs/mariadb-slow.log
long_query_time=2
log_queries_not_using_indexes=ON
log_slow_max_warnings=5
log_slow_min_examined_row_limit=1000
log_slow_always_query_time = 60.0
log_slow_rate_limit=10
log_slow_verbosity=FULL
general_log=OFF