<p>All data below is for {{ timeTag(ffstats.data.time, "d/m/Y") }}.</p>
<h2>Characters with no clan</h2>
{% for character in ffstats.data.bugs.noClan %}
    {{ include('common/elements/entitycard.twig', character) }}
{% endfor %}
<h2>Groups with no members</h2>
{% for character in ffstats.data.bugs.noMembers %}
    {{ include('common/elements/entitycard.twig', character) }}
{% endfor %}
