<div id="ff_grandcompanies" class="ff_tabcontent">
    {% for categoryname, category in statistics.grand_companies.population %}
        <h2 class="ff_stat_title">{%if categoryname=='free_company'%}Free Companies{%else%}{{categoryname|capitalize}} population{%endif%} distribution by Grand companies</h2>
        <div id="ff_chart_grand_companies_{{categoryname}}" data-type="pie" data-chart="
            {% for row in category %}
                {%if loop.first%}[{% set array = ['Grand company','Characters'] %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},{%endif%}
                {% set array = [row.value,row.count] %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
                {%if not loop.last%},{%endif%}
                {%if loop.last%}]{%endif%}
            {%endfor%}
            " data-colors="
                {% set array = category|column('color') %}
                {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
        "></div>
    {%endfor%}
    {% for gcname, gc in statistics.grand_companies.ranks %}
        {% for categoryname, category in gc %}
            <h2 class="ff_stat_title">{{categoryname|capitalize}} officers distribution by ranks in {{gcname}}</h2>
            <div id="ff_chart_{{gcname|replace({' ': ''})}}_{{categoryname}}" data-type="pie" data-chart="
                {% for row in category %}
                    {%if loop.first%}[{% set array = ['Rank','Characters'] %}
                    {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},{%endif%}
                    {% set array = [row.value,row.count] %}
                    {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
                    {%if not loop.last%},{%endif%}
                    {%if loop.last%}]{%endif%}
                {%endfor%}
            "></div>
        {%endfor%}
    {%endfor%}
</div>