<div id="ff_timelines" class="ff_tabcontent">
    <h2 class="ff_stat_title">Namedays timeline</h2>
    <div id="ff_chart_character_nameday" data-type="line" data-chart="
        [{% set array = ['Nameday', 'Characters'] %}{{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},
        {% for row in statistics.timelines.nameday %}
            {% set array = [row.value, row.count] %}
            {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
            {%if not loop.last%},{%endif%}
        {%endfor%}
        ]
    "></div>
    <h2 class="ff_stat_title">Groups' formation timeline</h2>
    <div id="ff_chart_other_formed" data-type="line" data-chart="
        [{% set array = ['Date', 'Free Companies', 'Linkshells', 'PvP Teams'] %}{{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},
        {% for row in statistics.timelines.formed %}
            {% set array = [row.value|date('d/m/Y'), row.freecompanies, row.linkshells, row.pvpteams] %}
            {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
            {%if not loop.last%},{%endif%}
        {%endfor%}
        ]
    "></div>
    <h2 class="ff_stat_title">Entities' registration timeline</h2>
    <div id="ff_chart_other_registered" data-type="line" data-chart="
        [{% set array = ['Date', 'Characters', 'Free Companies', 'Linkshells', 'PvP Teams'] %}{{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},
        {% for row in statistics.timelines.registered %}
            {% set array = [row.value|date('d/m/Y'), row.characters, row.freecompanies, row.linkshells, row.pvpteams] %}
            {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
            {%if not loop.last%},{%endif%}
        {%endfor%}
        ]
    "></div>
    <h2 class="ff_stat_title">Entities' deletion timeline</h2>
    <div id="ff_chart_other_deleted" data-type="line" data-chart="
        [{% set array = ['Date', 'Characters', 'Free Companies', 'Linkshells', 'PvP Teams'] %}{{array|json_encode(constant('JSON_NUMERIC_CHECK'))}},
        {% for row in statistics.timelines.deleted %}
            {% set array = [row.value|date('d/m/Y'), row.characters, row.freecompanies, row.linkshells, row.pvpteams] %}
            {{array|json_encode(constant('JSON_NUMERIC_CHECK'))}}
            {%if not loop.last%},{%endif%}
        {%endfor%}
        ]
    "></div>
</div>