{% if subject == '[Alert]: Database is down' %}
    <p>The database appears to be down! Check ASAP!</p>
    <p>Connection details:</p>
    {% if errors %}
        <pre>
            {{ errors }}
        </pre>
    {% endif %}
{% else %}
    <p>The database appears to have started up again.</p>
    {% if maintenance %}
        <p>It looks like something went wrong during maintenance.</p>
        {% if error_text %}
            <p>{{ error_text }}</p>
        {% endif %}
        {% if restored %}
            <p>Maintenance mode was successfully canceled.</p>
        {% else %}
            <p>Maintenance mode failed to be canceled.</p>
        {% endif %}
    {% endif %}
{% endif %}
